/* You can add global styles to this file, and also import other style files */
/* app css stylesheet */
/* .row{
    margin-left:0px;
    margin-right:0px;
} */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


body{
    padding-top:30px;
    font-family: 'Roboto', sans-serif;
}


.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    background-color: #3ca2c4;color: white;
}
.modal-header .close {
    margin-top: -2px;
    color: black;
}
.modal{
    padding-right:0px !important;
}
