<div class="container">
	<div class="col-xs-12">
            <br>
		<h2>Terms of Service</h2>
		<p class="align">Welcome to Skill practical, a community marketplace to learn technical education at undergraduate & graduate level from our Members, Extensive Database. This website  https://www.skillpractical.com, is owned and operated by SYNAPTIAL IT TECHNOLOGIES & SERVICES PRIVATE LIMITED, a company registered in India under registration number U74999AP2017PTC106152. Our registered office is #Flat No. 203, 2nd Floor, S.S. Residency, Autonagar, Vijayawada, AP - 520007 By accessing any part of the Service, you are agreeing to the terms and conditions described below. </p>
		<p class="align">If you do not agree to any of these terms, you cannot use the Service. This Terms & Conditions applies to all users, who are simply viewing content available via the Service and users who have registered as Members of Skill practical.</p>
		<p class="align">We may, at our sole discretion, modify this Terms & Conditions at any time. By accessing the Service, you are agreeing to such modifications, at any time after such modifications. This Terms & Conditions was last modified as of November 6, 2017.</p>

        <h4>General</h4>
		<p class="align">Your privacy is very important to us. Accordingly, we have developed this Terms & Conditions in order for you to understand how we collect, use, communicate, disclose and make use of personal information. The Synaptial Terms & Conditions statement applies to skill practical and our affiliated web sites that links to this statement. The following outlines our Terms & Conditions.</p>

        <h4>Description of Service</h4>
		<p class="align">The Skillpractical Service allows students to find technical & Non-technical projects, events & Workshops that they are interested in taking, online community for interaction between students & Members, performance tracking. Skillpractical also allows Members to interact with the students through online community and through events & workshops.</p>
		<p class="align">We reserve the right to refuse to provide the Service to any person for any reason and/or to discontinue the Service in whole or in part at any time, with or without prior notice.</p>

        <h4>Copyright, Licenses and User Submissions</h4>
		<p class="align">The entire contents of the Service are protected by international copyright and trademark laws and other proprietary rights. The owners of the copyrights and trademarks are SYNAPTIAL, its affiliates and/or other third-party licensors. YOU MAY NOT MODIFY, COPY, REPRODUCE, REPUBLISH, UPLOAD, POST, TRANSMIT, OR DISTRIBUTE IN ANY MANNER, THE MATERIAL ON THE SERVICE, INCLUDING TEXT, GRAPHICS, CODE AND/OR SOFTWARE. You may print and download portions of material from the different areas of the Service solely for your own non-commercial use provided that you agree not to change or delete any copyright or proprietary notices from the materials, and not to share any material that you paid for with anyone else who has not also purchased a license for that material.</p>
		<p class="align">You may not use any robots, spiders, similar data mining, data gathering, extraction tools or manual processes to collect, gather or copy any content or data on or related to the Service in a manner not authorized by Skillpractical in writing. You may not engage in practices of "screen scraping," "database scraping" or any other practice or activity the purpose of which is to obtain lists of users, portions of a database, or other lists, information from the Service, in any manner and any quantities not authorized by Skillpractical in writing. You may not frame or utilize framing techniques to enclose any trademark, logo or other proprietary information (including images, text, page layout or form) of Skillpractical or its affiliates without any written consent. You may not use meta tags or any other "hidden text" utilizing the Skillpractical name or trademarks without the express written consent of Skillpractical.</p>
		<p class="align">Content submitted by users for inclusion on the Service (including, without limitation, any information submitted on message boards, forums or other public areas of the Service) is sometimes referred to in these Terms of Service as "User Submissions." Whether or not any User Submission is published, it will be subject to these Terms of Service. Skillpractical does not guarantee any confidentiality with respect to a User Submission, regardless of whether or not it is published. You are solely responsible for your own User Submissions and the consequences of posting or publishing them. You represent and warrant that you own or have the necessary licenses, rights, consents and permissions to your User Submissions (and all content included therein), including the right to authorize Skillpractical to use the User Submissions in the manner contemplated by the Service and these Terms of Service.</p>
		<p class="align">You hereby grant Skillpractical a non-exclusive, royalty-free, worldwide, perpetual license, with the right to sub-license, to reproduce, distribute, transmit, create derivative works of, publicly display and publicly perform any User Submissions or any other materials or information (including, without limitation, ideas for new or improved products or services) you communicate to Skillpractical by all means and in any media now known or hereafter developed. You also grant to Skillpractical the right to use your name in connection with the submitted materials and other information as well as in connection with all advertising, marketing and promotional material related thereto. You agree that you shall have no recourse against Skillpractical for any alleged or actual infringement or misappropriation of any proprietary right in your communications to Skillpractical.</p>
		<p class="align">We neither endorse nor assume any liability for the contents of any User Submission. We generally do not pre-screen, monitor, or edit User Submissions. However, we and our agents have the right at their sole discretion to remove any User Submission or other content that, in our judgment, does not comply with these Terms of Service and any other rules of user conduct for the Service, or is otherwise harmful, objectionable, or inaccurate. We are not responsible for any failure or delay in removing any such User Submission or other content. You hereby consent to such removal and waive any claim against us arising out of such removal of any User Submission, whether it is your own or another user’s. See "Copyrights, Licenses and User Submissions" above for a description of the procedures to be followed in the event that any party believes that a User Submission infringes on any patent, trademark, trade secret, copyright, right of publicity, or other proprietary right of any party.</p>
		<p class="align">These Terms will be governed by and construed in accordance with the laws of India, without giving effect to its conflict of laws' provisions or your actual state or country of residence, and you agree to submit to personal jurisdiction in the City of Delhi. Courts in Delhi will have the exclusive jurisdiction. You are responsible for compliance with applicable laws. If for any reason a court of competent jurisdiction finds any provision or portion of the Terms to be unenforceable, the remainder of the Terms will continue in full force and effect. Skillpractical reserves the right to investigate complaints or reported violations of these Terms and to take any action we deem necessary and appropriate. Such action may include reporting any suspected unlawful activity to law enforcement officials, regulators, or other third parties. In addition, we may take action to disclose any information necessary or appropriate to such persons or entities relating to user profiles, e-mail addresses, usage history, posted materials, IP addresses and traffic information. Skillpractical reserves the right to seek all remedies available at law and in equity for violations of these Terms.</p>

        <h4>Account Terms</h4>
		<p>The following terms apply to your use of the Service and any account that you may open or attempt to open via the Service:</p>
		<p class="align">1.	You must be 13 years or older to use the Service.</p>
		<p class="align">2.	Children below 13 years old can access the application with parent's consent.</p>
		<p class="align">3.	You must be a human to open an account. Accounts registered by "bots" or other automated methods are not permitted.</p>
		<p class="align">4.	You are responsible for maintaining the security of your account and password. We view any actions taken by your account as taken by you. Skillpractical will not be liable for any loss or damage from your failure to comply with this security obligation.</p>
		<p class="align">5.	Sharing your login credentials with others is illegal. We consider it very serious and we may terminate your account if we find any of such actions. </p>

        <h4>Changing Fees</h4>
		<p class="align">We reserve the right, at any time, to change any fees or charges for using any services provided on the Service (or to begin charging fees for any free service), provided that such changes will not apply to fees or charges paid or free services used prior to the time of the change.</p>

        <h4>Rules for All Users</h4>
		<p class="align">Skillpractical is a community of thousands of learners. When you sign up for the Site, you agree to the following rules:</p>
		<p class="align">1.	You will use the Service only for lawful purposes and agree to not use the Service in any way that will infringe upon the use or rights of any other user.</p>
		<p class="align">2.	Your use of the Service is subject to all applicable laws and regulations, and you are solely responsible for the substance of your communications through the Service.</p>
		<p class="align">3.	You will not upload any copyrighted, trademarked, or proprietary materials on the Service without the expressed permission of the owner. You will not post any content that infringes on any patent, trademark, trade secret, copyright, right of publicity, or other intellectual property or proprietary right of any party.</p>
		<p class="align">4.	You assume full responsibility for the content of the Service offered.</p>
		<p class="align">5.	You understand that posts in the community are viewed by all other users and members.</p>
		<p class="align">6.	You agree that you will not engage in any behavior that constitutes unauthorized or unsolicited advertising, junk or bulk email (also known as "spamming"), chain letters, any other form of unauthorized solicitation, or any form of lottery or gambling.</p>
		<p class="align">7.	You will not share content from the Service with anyone who is not properly licensed to access the content.</p>
		<p class="align">8.	You will not upload, share, post, distribute or otherwise partake in any behavior that is unlawful, threatening, abusive, harassing, defamatory, libelous, deceptive, fraudulent, invasive of another’s privacy, tortious, contains explicit or graphic descriptions or accounts of sexual acts (including but not limited to sexual language of a violent or threatening nature directed at another individual or group of individuals), or otherwise violates our rules or policies.</p>
		<p class="align">9.	You will not partake in any behavior that victimizes, harasses, degrades, or intimidates an individual or group of individuals on the basis of religion, gender, sexual orientation, race, ethnicity, age, or disability.</p>
		<p class="align">10.	You will not share software viruses or any other computer code, files, or programs that are designed or intended to disrupt, damage, or limit the functioning of any software, hardware, or telecommunications equipment or to damage or obtain unauthorized access to any data or other information of any third party.</p>
		<p class="align">11.	You will not impersonate any person or entity, including any of our students, members, employees or representatives.</p>
		<p class="align">12.	You will not use your account to breach security of another account or attempt to gain unauthorized access to another network or server. Not all parts of the Service may be available to you or other authorized users of the Service. You shall not interfere with anyone else’s use and enjoyment of the Service. Users who violate systems or network security may incur criminal or civil liability.</p>

        <h4>Specific Rules for Community Members</h4>
		<p class="align">When you publish a class on the Site, you agree to the following rules:</p>
		<p class="align">1.	You will honor any enrollments through Skillpractical.com at the price and time listed in the Service, and not to refuse enrollments or participation by any student for any discriminatory or other illegal reason.</p>
		<p class="align">2.	You grant us the right to place advertisements on your content at our sole discretion.</p>
		<p class="align">3.	Any content you submit to the Service will not contain third party copyrighted material, or material that is subject to other third party proprietary rights, unless you have permission from the rightful owner of the material.</p>
		<p class="align">4.	You represent and warrant to Skillpractical that you are qualified to teach the classes that you list with the Service and that you will at all times conduct yourself in a professional manner and in compliance with all applicable laws.</p>
		<p class="align">5.	You understand that, if you post in the community, other users or members can comment, share the post anywhere. We cannot control that and Skillpractical is not responsible for reviewing your content timely and warn you about your security. Make sure you think twice while posting in the community</p>
		<p class="align">6.	You agree that you will not submit content to Skillpractical that violates the Skillpractical Community which may be occasionally updated.</p>
		<p class="align">7.	Skill Practical reserves the right to, but is under no obligation, to delete the listing of any posts at any time and for any reason.</p>
		<p class="align">8.	It is illegal to contact any Skillpractical student directly and doing business with them. Your account will be completely terminated, and your name will be blacklisted in our database if we notice such issues. And you will also face legal issues.</p>

        <h4>Specific Rules for Students</h4>
		<p class="align">When you enroll in a class on the Site, you agree to the following rules:</p>
		<p class="align">1.	You will accept all the terms and conditions including the cancellation policy listed in the Service when you agree to enroll in or access a class on Skill Practical</p>
		<p class="align">2.	You will follow all reasonable rules set by a Member with respect to events & workshops, and you will not take any actions to interfere with the Member or any other students in the event/workshop.</p>
		<p class="align">3.	You may access Skillpractical content for your information and personal use only.</p>
		<p class="align">4.	You will not use the performance data for business/personal use unless you have special permission from Skillpractical.</p>
		<p class="align">5.	You will not use Skillpractical technical/Non-technical projects for your academic use and copying the content for your academic use is illegal. Those projects are just for your practice.</p>
		<p class="align">6.	Skillpractical reserves the right to delete or suspend your account if you violate any of our rules, or at any time and for any reason.</p>

        <h4>Data Policy</h4>
		<p class="align">You will not use the performance data for business/personal use unless you have special permission from Skillpractical. Using Skillpractical technical/Non-technical projects for your academic use and copying the content for your academic use is illegal. Those projects are just for your practice. Skillpractical reserves the right to delete or suspend your account if you violate any of our rules, or at any time and for any reason. When a student register for event/workshop on Skill practical, we will share the student’s username and profile with the community Member. By enrolling in a workshop/event on Skillpractical, a student grants us permission to share that student’s information with the community Members of Skillpractical. The Member is required to respect the privacy of the student. The Member has a limited license to use this information only for Skillpractical-related communications or for Skillpractical-facilitated transactions. The Member may use that personal information for no other purpose, such as sending unsolicited commercial messages or unauthorized transactions. Without express consent from that person, you must not add any Skill Practical misuse any student’s personal information. Remember that you need to comply with all relevant legal rules when you use Skillpractical. This include applicable data protection and privacy laws which govern the ways in which you can use another Skillpractical user’s information.</p>

        <h4>Member Payments</h4>
		<p class="align">1.	Members may earn revenue by participating in the community, providing events & workshops, or offering additional services through Skill Practical.</p>
		<p class="align">2.	Skillpractical distributes at least 30% of its monthly recurring revenue to Skill Practical Members on a monthly basis. The algorithm used to determine your monthly share is based primarily on your share of the total number of minutes watched on the platform. The specifics of the distribution calculation are subject to change from time to time.</p>
		<p class="align">3.	Members have 30 days from the time at which a payment was or should have been made to report any discrepancies. After 30 days, you have waived your right to dispute any payment.</p>
		<p class="align">4.	Members and students agree that Skillpractical's sole responsibility is to process payments and pay out Members in the proportions set forth above. Skillpractical is not party to any transaction between any student and/or Member and cannot be held responsible for any issues arising from any such transaction.</p>
		<p class="align">5.	Members are responsible for all income, sales, and other taxes associated with the fees they earn. </p>
		<p class="align">6.	Skill Practical reserves the right to withhold or cancel payments to Members if it deems, in its sole judgement and absolute discretion, that the Member engaged in behavior that violated any part of this Agreement.</p>

        <h4>Cancellations and Refunds</h4>
		<p class="align">Skill practical is not responsible or liable for any refunds for Membership, workshops, or other purchases on the Service.</p>

        <h4>No Refunds</h4>
		<p class="align">Payments are nonrefundable and there are no refund or credits for partially used periods. Following any cancellation, however, you will continue to have the benefits of your Skillpractical Membership through the end of your current billing period.</p>

        <h4>Cancellations</h4>
		<p class="align">You may cancel your Skillpractical Membership with prior notice. If you have canceled your Skillpractical Membership, you will lose access to all Premium features and benefits you enrolled into during your Skillpractical Membership at the end of your billing period. If you choose to sign back up as a paying Member, your billing date will reset to the day you paid.</p>

        <h4>Free Trials</h4>
		<p class="align">From time to time, we or others on our behalf may offer trials for our Skill Practical services for a specified period without payment or at a reduced rate. Skill Practical reserves the right, in its absolute discretion, to determine your eligibility for a Trial, and, subject to applicable laws, to withdraw or to modify a Trial at any time without prior notice and with no liability, to the greatest extent permitted under the law.</p>
		<p class="align">For some trials, we will require you to provide your payment details to start the Trial. At the end of such trials, we may automatically start to charge you for the applicable paid subscription on the first day following the end of the trial on a recurring monthly or annual basis. By providing your payment details in conjunction with the trial, you agree to this charge using such payment details. If you do not want this charge, you must cancel the applicable paid subscription through your payment settings within your Skill practical account profile.</p>

		<h4>Price Changes</h4>
		<p class="align">We reserve the right to adjust pricing for our service, or any components thereof in any manner and at any time as we may determine in our sole and absolute discretion. Except as otherwise expressly provided for in these Terms of Use, any price changes to your service will take effect following email notice to you.</p>

		<h4>Skillpractical Rights</h4>
		<p class="align">Skillpractical reserves these rights:</p>
		<p class="align">•	We can make changes to the Skillpractical Site and Services without notice or liability.</p>
		<p class="align">•	We have the right to terminate your Membership, account, payment, or other affiliation with the Service at any time and for any reason. We can change our eligibility criteria at any time. If these things are prohibited by law where you live, then we revoke your right to use Skillpractical in that jurisdiction.</p>
		<p class="align">•	We will cooperate fully with investigations of violations of systems or network security at other sites, including cooperating with law enforcement authorities in investigating suspected criminal violations.</p>
		<p class="align">•	We can remove, edit, update the post in the community posted by other users and members. </p>
		<p class="align">•	We have the right to remove a Member from the Partner Program at any time, without prior notice, at our sole discretion, should we identify that their account is associated with behavior that we deem to be in violation of our rules or guidelines.</p>
		<p class="align">•	We have the right to reject, cancel, interrupt, remove, or suspend any event, workshop, project, any information, comment, or other posted comment at any time and for any reason.</p>
		<p class="align">Skill Practical is not liable for any damages as a result of any of these actions, and it is our policy not to comment on the reasons for any such action.</p>

		<h4>Disclaimer of Warranties</h4>
		<p class="align">THE SERVICE AND ALL MATERIALS INCLUDED THEREIN ARE PROVIDED ON AN "AS IS" AND "AS AVAILABLE" BASIS WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE, OR THE WARRANTY OF NON-INFRINGEMENT. WITHOUT LIMITING THE FOREGOING, WE MAKE NO WARRANTY THAT THE SERVICE AND MATERIALS WILL MEET YOUR REQUIREMENTS, THE SERVICE AND MATERIALS WILL BE UNINTERRUPTED, TIMELY, SECURE, OR ERROR-FREE, THE RESULTS THAT MAY BE OBTAINED FROM THE USE OF THE SERVICE OR MATERIALS WILL BE EFFECTIVE, ACCURATE OR RELIABLE. THE QUALITY OF ANY CLASS THAT YOU ATTEND VIA THE SERVICE, OR ANY OTHER PRODUCTS, SERVICES, OR INFORMATION PURCHASED OR OBTAINED BY YOU FROM THE SERVICE FROM US MAY INCLUDE TECHNICAL OR OTHER MISTAKES, INACCURACIES OR TYPOGRAPHICAL ERRORS. WE MAY MAKE CHANGES TO THE SERVICE AND ANY OF THE CONTENT OR FEATURES INCLUDED THEREIN, INCLUDING THE PRICES AND ACCESS RULES FOR ANY FUNCTIONALITY, AT ANY TIME WITHOUT NOTICE. THE CONTENT INCLUDED ON THE SERVICE MAY BE OUT OF DATE, AND WE MAKE NO COMMITMENT TO UPDATE SUCH CONTENT.</p>
		<p class="align">THE USE OF THE SERVICE OR THE DOWNLOADING OR OTHER ACQUISITION OF ANY MATERIALS THROUGH THE SERVICE IS DONE AT YOUR OWN DISCRETION AND RISK AND WITH YOUR AGREEMENT THAT YOU WILL BE SOLELY RESPONSIBLE FOR ANY DAMAGE OR LOSS OF DATA THAT RESULTS FROM SUCH ACTIVITIES.</p>
		<p class="align">Through your use of the Service, you may have the opportunities to engage in commercial transactions with other users and vendors, including (without limitation) students and community Members. You acknowledge that all transactions relating to any event or other merchandise or services offered by any party, including, but not limited to the purchase terms, payment terms, warranties, guarantees, maintenance and delivery terms relating to such transactions, are agreed to solely between the seller or purchaser of such merchandise and services and you. WE MAKE NO WARRANTY REGARDING ANY TRANSACTIONS EXECUTED THROUGH, OR IN CONNECTION WITH THE SERVICE, AND YOU UNDERSTAND AND AGREE THAT SUCH TRANSACTIONS ARE CONDUCTED ENTIRELY AT YOUR OWN RISK. ANY WARRANTY THAT IS PROVIDED IN CONNECTION WITH ANY CLASS, PRODUCTS, SERVICES, MATERIALS, OR INFORMATION AVAILABLE ON OR THROUGH THE SERVICE FROM A THIRD PARTY IS PROVIDED SOLELY BY SUCH THIRD PARTY, AND NOT BY US OR ANY OTHER OF OUR AFFILIATES.</p>
		<p class="align">You understand and agree that temporary interruptions of the Service may occur as normal events. You further understand and agree that we have no control over third party networks you may access in the course of the use of the Service, and therefore, delays and disruption of other network transmissions are completely beyond our control.</p>
		<p class="align">You understand and agree that the Service is provided "AS IS" and that we assume no responsibility for the timeliness, deletion, failure to store any user communications or personalization settings.</p>
		<p class="align">SOME STATES/COUNTRIES OR JURISDICTIONS DO NOT ALLOW THE EXCLUSION OF CERTAIN WARRANTIES, SO SOME OF THE ABOVE LIMITATIONS MAY NOT APPLY TO YOU.</p>

		<h4>Limitation of Liability</h4>
		<p class="align">IN NO EVENT SHALL WE OR ANY OTHER SKILL PRACTICAL  PARTY BE LIABLE TO YOU OR ANY THIRD PARTY FOR ANY SPECIAL, PUNITIVE, INCIDENTAL, INDIRECT OR CONSEQUENTIAL DAMAGES OF ANY KIND, OR ANY DAMAGES WHATSOEVER, INCLUDING, WITHOUT LIMITATION, THOSE RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER OR NOT WE HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES, AND ON ANY THEORY OF LIABILITY, ARISING OUT OF OR IN CONNECTION WITH THE USE OF THE SERVICE OR OF ANY WEB SITE REFERENCED OR LINKED TO FROM THE SERVICE.</p>
		<p class="align">FURTHER, NEITHER WE, NOR ANY OTHER SKILL PRACTICAL PARTY, SHALL BE LIABLE IN ANY WAY FOR ANY SERVICE OR OTHER THIRD-PARTY GOODS AND SERVICES OFFERED THROUGH THE SERVICE OR FOR ASSISTANCE IN CONDUCTING COMMERCIAL TRANSACTIONS WITH OTHER USERS OF THE SITE, INCLUDING WITHOUT LIMITATION ANY TRANSACTION BETWEEN A STUDENT AND MEMBER.</p>
        <p class="align">SOME JURISDICTIONS PROHIBIT THE EXCLUSION OR LIMITATION OF LIABILITY FOR CONSEQUENTIAL OR INCIDENTAL DAMAGES, SO THE ABOVE LIMITATIONS MAY NOT APPLY TO YOU.</p>

		<h4>Indemnification</h4>
		<p class="align">Upon a request by us, you agree to defend, indemnify, and hold us and the other Skillpractical Parties harmless from all liabilities, claims, and expenses, including attorneys’ fees, that arise from your violation of these Terms of Service or any of the other Governing Documents, or other negligent or wrongful conduct. We reserve the right to assume the exclusive defense and control of any matter otherwise subject to indemnification by you, in which event you will cooperate with us in asserting any available defenses.</p>

		<h4>Miscellaneous</h4>
		<p class="align">These Terms of Service, together with the Privacy Policy and the other Governing Documents, constitute the entire agreement between you and Skillpractical and the services provided by Skillpractical. If any provision of any such document is deemed invalid by a court of competent jurisdiction, the invalidity of such provision shall not affect the validity of the remaining provisions thereof, which shall remain in full force and effect. Skillpractical's failure to insist upon or enforce strict performance of any provision of these Terms of Service or any of the other Governing Documents shall not be construed as a waiver of any provision or right. Neither the course of conduct between the parties nor trade practice shall act to modify any provision of these Terms of Service. Skillpractical may assign its rights and duties under these Terms of Service or any of the other Governing Documents to any party at any time without notice to you.</p>
        <p class="align">Most communication between Skillpractical and you will be sent and received electronically. You agree that all electronic communication between Skillpractical and you shall satisfy any legal requirements mentioned above.</p>
		<p class="align">Any rights of Skillpractical not expressly granted herein are reserved.</p>

		<h4>Contact Us </h4>
		<p class="align">If you have any questions about these Terms, please contact us at support@skillpractical.com</p>	
	</div>
</div>
<br>
<footercontent-page></footercontent-page>