<h1 mat-dialog-title>{{title}}</h1>
<mat-dialog-content>
  {{message}}
</mat-dialog-content>
<mat-dialog-actions>
  <button style="margin: 0 auto;" mat-button mat-dialog-close>OK</button>
</mat-dialog-actions>
