.question {
  padding: 20px;

}

.question-line {
  padding: 10px 10px;
}

.question-group {
  margin-left: 20px;
}

.solution-field {
  width: 100%;
  border: 1px solid black;
  background-color: beige;
  padding: 30px 0;
}

.solution {
  margin: 0 20px;
}

.answer-item {
  display: block;
}

.link {
  color: blue;
  text-decoration: underline;
}

/deep/ .mat-radio-label-content{
  font-weight: normal;
} 

/*awebon*/
  
/*media*/
@media(max-width: 1229px){
  
}
@media(max-width: 1200px){
  
}
@media(max-width: 990px){
   .width-50 {
    float: left;
    width: 100%;
  }
  .solution-field[_ngcontent-c7] {
    width: 53%!important;
  }
}
@media(max-width: 768px){

}  
  
  /***********/