<div class="question ">
<div class="question-line" [innerHTML]="meta.question">
  {{meta.question_number}}) {{meta ? meta.question: ''}}
</div>
  <div class="question-group">
<ng-container *ngIf="isSingle()">
  <div *ngIf="meta" class="question-line " >
    <mat-radio-group [ngModel]="answer" (change)="onAnswerChange($event)" >
      <mat-radio-button [disabled]="submitted || !testStarted" [value]="answer.answer_id"  class="answer-item" *ngFor="let answer of meta.answer_info" ><span [innerHTML]="answer.answer"></span></mat-radio-button>
    </mat-radio-group>
  </div>
</ng-container>

<ng-container *ngIf="isMultiple()">
  <div *ngIf="meta" class="question-line">
      <mat-checkbox [disabled]="submitted || !testStarted" [name]="answer.answer_id" [checked]="isChecked(answer.answer_id)" (change)="onCheckChange($event)" class="answer-item" *ngFor="let answer of meta.answer_info" ><span [innerHTML]="answer.answer"></span></mat-checkbox>
  </div>
</ng-container>

<div class="question-line">
  Please select {{meta.question_number_of_answers}}
</div>
<div class="question-line" *ngIf="meta.question_hint" ><span (click)="showMessageDialog(meta.question_hint, 'Hint')" class="link">Hint</span></div>

<div class="question-line" *ngIf="meta.question_example" ><span (click)="showMessageDialog(meta.question_example, 'Example')" class="link">Example</span></div>
<div class="question-line">
  <button [disabled]="!canClearResponse() || submitted || !testStarted" mat-raised-button color="primary" (click)="clearAnswer()">Clear response</button>
</div>

<div class="question-line">
  <div class="solution-field">
    <div class="solution">
      {{solution? solution: 'Solution'}}
    </div>
  </div>
</div>
  </div>
</div>
