.Trendingprojects {
    font-size: 13px;
    padding-bottom: 1em;
    font-size: 13px;
    padding-top: 1em;
    border-bottom: 1px solid #80808061;
  }
  .Trendingprojects a {
    text-decoration:none;
  }
