<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- <div class="container"> -->
    <!-- <br/><br/>
    Trending posts
<br/><br/> -->
<div class="row" *ngFor="let projects of projects; let i=index">
  <div *ngIf="i<10">
  <div class="span12">
    <div class="row">
      <div class="span8">
        <p class="Trendingprojects"><a [routerLink]="['/projects/projectsinfo', projects.project_id]" target="_blank">{{projects.project_title | capitalize}}</a></p>
      </div>
    </div>
  </div>
</div>
</div>

