
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
                        <!-- font awesome online plug  -->
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


<div class="container m-margin">
	<div class="row">
	<div class="col-md-3">
		&nbsp;&nbsp;&nbsp;
	</div>
	<div class="col-md-6">
        <div class="m-formback">
		<form #form="ngForm" (submit)="submitForm(form)" novalidate >
			<h4 class="text-center">Event Request Form</h4>
			<div class="form-group">
				<label class="control-label">Event Id</label>
					<div id="workshop_id" readonly name="workshop_id" class="form-control">
					<div>
						{{workshop_id}}
					</div>
				</div>
            </div>
            <div class="form-group">
				<label class="control-label">Event Name</label>
					<div id="workshop_id" readonly name="workshop_title" class="form-control">
					<div>
						{{workshop_title}}
					</div>
				</div>
			</div>
			<div class="form-group" [class.has-error]="requester_name.invalid && requester_name.touched">
          <label class="control-label">Requester Name</label>
          <input #requester_name="ngModel" id="requester_name" required name="requester_name" [(ngModel)]="model.requester_name" class="form-control">
          <div *ngIf="requester_name.invalid && requester_name.touched" class="alert alert-danger">
            Requester Name is required.
          </div>
      </div>
	  <div class="row">
	  <div  class="col-md-6 form-group" [class.has-error]="requester_email.invalid && requester_email.touched">
        <label class="control-label">Email </label>
        <input #requester_email="ngModel" required type="text" placeholder="Requester Email" class="form-control" name="requester_email" [(ngModel)]="model.requester_email"
            pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$">
        <div *ngIf="requester_email.invalid && requester_email.touched" class="alert alert-danger" style="width: 326px;">
            Email  is required
        </div>
    </div>
      <div  class="col-md-6 form-group" [class.has-error]="requester_phone.invalid && requester_phone.touched">
        <label class="control-label">Phone Number</label>
        <input #requester_phone="ngModel" required type="text" placeholder="phone" class="form-control" name="requester_phone" [(ngModel)]="model.requester_phone">
        <div *ngIf="requester_phone.invalid && requester_phone.touched" class="alert alert-danger">
            Phone Number is required
        </div>
    </div>
	  </div>
	  <div class="row">
		<div  class="col-md-6 form-group" [class.has-error]="workshop_date.invalid && workshop_date.touched">
          <label class="control-label">Event Date</label>
          <input #workshop_date="ngModel" required type="date" placeholder="Workshop Date" class="form-control"
           name="workshop_date" [(ngModel)]="model.workshop_date" (change)="callWorkshopDate(workshop_date.value)">
          <div *ngIf="workshop_date.invalid && workshop_date.touched" class="alert alert-danger">
              Event Date is required
          </div>
      </div> 
      <div  class="col-md-6 form-group" [class.has-error]="workshop_venue.invalid && workshop_venue.touched">
        <label class="control-label">Event Venue</label>
        <input #workshop_venue="ngModel" required type="text" placeholder="Workshop Venue" class="form-control" name="workshop_venue" [(ngModel)]="model.workshop_venue">
        <div *ngIf="workshop_venue.invalid && workshop_venue.touched" class="alert alert-danger">
            Event Venue is required
        </div>
      </div>
      </div>
      
      <a class="button" data-toggle="modal" data-target="#myModal" > Select Tutor <i class="icon-chevron-right"></i></a>
      <p style="text-align: center;font-size: 17px;color:black">Your Tutor: {{selectedtutor}}</p>         

	<div class="row">
	<div class="col-md-12">
	  <label class="control-label">Attendies</label>  
		</div>

        <div>
    <div  class="col-md-4 form-group">
        <input  #attend_count="ngModel" id="attend_count"  required name="attend_count" (blur)="validateattend_count(attend_count.value)"
           [(ngModel)]="model.attend_count" type="number" class="form-control" placeholder="Default Members"
           (change)="validateattend_count(attend_count.value)" (change)="callTypeattend_count(attend_count.value)" [disabled]="!tutorselected">
       <!-- <p *ngIf="noofteams">Select No of teams(With Team size 5)</p> -->
       <p>Select No of student</p>
    </div> 
    
    
    <div  class="col-md-4 form-group">
        <div required type="text" class="form-control">  
                <div>{{price}} Rs/-</div>
        </div>      
    </div> 

    <!-- <div  class="col-md-4 form-group" >
            <select #paytype="ngModel" id="paytype" required name="paytype" (blur)="validatepaystype(paytype.value)"
            [(ngModel)]="model.paytype" class="form-control" [disabled]="!tutorselected">
              <option value=""selected disabled >Payment Type</option>               
              <option value="minimumamount">Pay Minimum book Amount to conform booking (Rs. 1000/-)</option>
              <option value="totalamount"> Pay Total Booking Amount to conform booking(Rs. {{price}}/-)</option>
           </select>
    </div> -->

    <div  class="col-md-4 form-group">
            <input id="couponcoude"  required name="couponcode" (blur)="validateattend_count(attend_count.value)"
                type="text" class="form-control" placeholder="Coupon code" [disabled]="!tutorselected">
           <!-- <p *ngIf="noofteams">Select No of teams(With Team size 5)</p> -->
           <label>Coupon Code</label>
        </div> 

</div>
      </div>
      <div class="text-center">	 <button class="btn btn-success" type="submit" [disabled]="form.invalid"> Continue for booking </button>
      </div>

        </form>		
	</div>
	</div>
	<div class="col-md-3">
		&nbsp;&nbsp;&nbsp;
	</div>
	</div>
</div>



 <!-- Modal -->
 <div class="modal fade" id="myModal" role="dialog" >
        <div class="modal-dialog modal-xl">
    
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Pick Instructor/Tutor</h4>

        <input #workshop_date="ngModel" required type="date" placeholder="Workshop Date" class="form-control"
        name="workshop_date" [(ngModel)]="model.workshop_date" (change)="callWorkshopDate(workshop_date.value)" style="width: 11em">

        <br>
        
        <div class="alert alert-info alert-dismissable" *ngIf="!showhirebutton">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            Please select Event date to check tutor availability.
        </div>

        </div>
        <div class="modal-body" >
            <!-- tutor card -->
                        <div class="wrapper">   
                            <div class="container-fluid" id="body-container-fluid" >
                                <div class="container">
                                    <div class="row" *ngFor="let workshoptutors of workshoptutors">          
                                        <div class="col-md-12">
                                               
                                        <div class="card" style="width:100%">

                                            <!-- <img class="card-img-top" src="https://lh3.googleusercontent.com/a8_ujXr3VWHstGkxgJL1TkqfrytP4r_52QhcvqRQVaQPRQ9DHdQ6seI99qc4jLjC0WDM=h900" alt="Card image"  style="width:100%"> -->                                          
                                            <div class="card-body">
                                              <h4 class="card-title">{{workshoptutors.tutor_id}}</h4>
                                              <h4 class="card-title">{{workshoptutors.tutor_name}}</h4>
                                                  <ul class="list-inline" id="courses">
                                                    <li class="list-inline-item">
                                                        <i class="fa fa-folder-open-o"></i> {{workshoptutors.tutor_designation}}
                                                    </li>                                            
                                                </ul>
                                                 <p class="card-text">{{workshoptutors.tutor_description}}</p>                                               
                                                 <p class="lower-case">Education</p>
                                                <div style="text-align:center;margin-top: -10.5px;font-size: 14px;">{{workshoptutors.tutor_education}}</div> 
<br>
                                                 <p class="lower-case">Certifications</p>
                                               <div  style="text-align:center;margin-top: -10.5px;font-size: 14px;"> {{workshoptutors.tutor_certification}}</div>                                                 
<br>       
                                            <p><button [disabled]="!showhirebutton" class="w3-button w3-block w3-indigo"   data-toggle="tooltip" data-placement="top" title="Free to message and hire us"  (click)="checkTutorAvalability(workshoptutors.tutor_id,workshoptutors.tutor_name,workshoptutors.tutor_price)"> Hire Tutor </button></p>                   
                                            
                                            
                                        </div>                                           
                                                <ul class="w3-ul w3-small">
                                                    <li><a>Events Done</a><span>{{workshoptutors.tutor_workshop_count}}</span></li>
                                                     <li><a>Price </a><span>Rs. {{workshoptutors.tutor_price}}/-</span></li>
                                                    <!-- <li><a href="">Front end </a><span>12%</span></li>  -->
                                                </ul>                                        
                                            <hr>
                                            <p class="lower-case">Rating</p>
                                            <div class="ratings">

                                                <!-- <ul class="list-inline">
                                                        <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                                                        <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                                                        <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                                                        <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                                                        <li class="list-inline-item selected"><i class="fa fa-star"></i></li>                 
                                                </ul> -->
                                                <rating-star [rating]='workshoptutors.tutor_rating'>
                                                    </rating-star>
                                            </div>                                      
                                        </div>       
                                        
                                   
                                        
                                        <br><br>
                                        </div>                            
                                    </div>    
                        <!--tutor card -->
                     
        </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" #closeBtn>Close</button>
    </div>
    </div>
    </div>
</div>