button.disabled{
    display: none;
    }
    .m-margin{
        margin-top:4pc;
    }
    .m-formback{
        background: #ddddddc4;
        border-radius: 8px;
        padding: 36px 20px;
        margin-top: 0pc;
        box-shadow: 1px 2px 5px 2px #80808069;
    }
    .m-formback h4{
        padding-bottom: 10px;
        font-size: 20px;
        color: #192639;
    }


    /* select tutor button */
    @import url(https://netdna.bootstrapcdn.com/font-awesome/2.0/css/font-awesome.css);
    body{
          background: #ECECEC;
          margin:0px ;
          color:#333;
      }
      a.button{
          background: #ECECEC;
          border-radius: 15px;
          padding: 10px 20px;
          display: block;
          font-family: arial;
          font-weight: bold;
          color:#7f7f7f;
          text-decoration: none;
          text-shadow:0px 1px 0px #fff;
          border:1px solid #a7a7a7;
          width: 145px;
          margin:0px auto;
          margin-top:17px;
          box-shadow: 0px 2px 1px white inset, 0px -2px 8px white, 0px 2px 5px rgba(0, 0, 0, 0.1), 0px 8px 10px rgba(0, 0, 0, 0.1);
          -webkit-transition:box-shadow 0.5s;
      }
      a.button i{
          float: right;
          margin-top: 2px;
      }
      a.button:hover{
          box-shadow: 0px 2px 1px white inset, 0px -2px 20px white, 0px 2px 5px rgba(0, 0, 0, 0.1), 0px 8px 10px rgba(0, 0, 0, 0.1);
      }
      a.button:active{
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5) inset, 0px -2px 20px white, 0px 1px 5px rgba(0, 0, 0, 0.1), 0px 2px 10px rgba(0, 0, 0, 0.1);
          background:-webkit-linear-gradient(top, #d1d1d1 0%,#ECECEC 100%);
      }


      /* for larger modal */
      

      @media (min-width: 768px) {
        .modal-xl {
          width: 90%;
         max-width:1700px;
        }
      }
    

      /* card */

      body {
        /* background-image: url("../images/.jpg"); */
        background-color:white;;
        background-attachment:scroll;
        background-repeat:no-repeat;
        background-position:center;
        background-size:cover;
        height:2000px;
        }
        /*----------------Containers--------------------*/
        
        #top-container-fluid-nav
        {
        /* background-image: url("../images/.jpg"); */
        background-color:inherit;	
        background-attachment:scroll;
        background-repeat:no-repeat;
        background-position:center;
        background-size:cover	;
        }
        
        #body-container-fluid
        {
        /* background-image: url("../images/.jpg"); */
        background-color:inherit;	
        background-attachment:scroll;
        background-repeat:no-repeat;
        background-position:center;
        background-size:cover;
        margin-top:50px;		
        }
        
        #footer-container-fluid
        {
        /* background-image: url("../images/.jpg"); */
        background-color:inherit;	
        background-attachment:scroll;
        background-repeat:no-repeat;
        background-position:center;
        background-size:cover;
        padding-bottom:25px;
        padding-top:25px;	
        }
        
        .card 
        {
        padding:10px;
        border:0px solid white;
        box-shadow:0px 7px 16px 0px rgba(0, 0, 0, 0.09);
        }
        .card-title
        {
        /* color:; */
        font-size:16px;
        text-align:center;
        }
        .card-text
        {
        color:#84919B;
        font-size:12px;	
        text-align:center;
        
        }
        
        #courses  
        {
        text-align:center;
        }
        
        /**********************
                courses
        **********************/
        .list-inline-item 
        {
        font-size:13px;
        color:#84919B;
         }
        /**********************
                courses
        **********************/
        
        
        .address .w3-ul li
         {
            border:0px solid white;
            line-height:1px;
        }
        
        
        
        /**********************
                abilities
        **********************/
        span 
        {
        font-size:10px;
        float:right;
        background-color:#F4F7F9;
        border-radius:10px;
        padding:3px 8px;
        color:#84919B;
        }
        .lower-case
        {
        color:#84919B;
        font-size:12px;
        text-align:center;
        }
        
        /**********************
                abilities
        **********************/
        
        
        
        
        /**********************
                ratings
        **********************/
        
        .ratings .fa
        {
        color:indigo;
        font-size:25px;
        }
        .ratings .fa:hover
        {
        color:yellow;
        }
        .ratings .list-inline
        {
        text-align:center;
        }
        
        /**********************
                ratings
        **********************/
        
        
        
        
        
        /**********************
                socials
        **********************/
        .socials {
        text-align:center;
        }
        
        /**********************
                socials
        **********************/
        
        
        
        
         /**********************
                footer
        **********************/
        .learn {font-size:12px;color:gray;}
        .learn a:hover {text-decoration:none;}
        /**********************
                footer
        **********************/
         
         .button {
                 cursor:pointer;
         }