<mat-card class="relatedtest-card" *ngIf="testInfo">
        <mat-card-header>
          <mat-card-title [innerHTML]="testInfo.test_name">{{testInfo.test_name}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
              <div class="col-md-12 col-sm-6  col-md-6 col-lg-6 functiontitle"><span class="title">Test ID:</span><span class="relatedcontent">{{testInfo.test_display_id}}</span></div>
              <div class="col-md-12 col-sm-6 col-md-6 col-lg-6 functionbtn">                  
                <div class="test-status not-started-yet" *ngIf="userTestInfo == 'No User Test Found'">Not Started Yet</div>
                <div class="test-status completed" *ngIf="userTestInfo.status == 'completed'">Completed</div>
                <div class="test-status resumed" *ngIf="userTestInfo.status == 'not_completed'">Resumed</div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 col-sm-6  col-md-6 col-lg-6 functiontitle"><span class="title">Level :</span><span class="relatedcontent">{{testInfo.test_level}}</span></div>
              <div class="col-md-12 col-sm-6  col-md-6 col-lg-6 functiontitle"><span class="title">Attempts :</span><span class="relatedcontent">{{testInfo.attempts}}</span></div>
              <div class="col-md-12 col-sm-6 col-md-6 col-lg-6">&nbsp;</div> 
              <div class="col-md-12 col-sm-6 col-md-6 col-lg-6"><span class="title">Rating: </span> {{testInfo.rating/testInfo.noofratings | number}}</div>
            </div>
        </mat-card-content>
        
       
        <mat-card-actions>
            <a *ngIf="this.userFavorite" class="favorite-test" (click)="clickFavouriteFlag('N')"><mat-icon>favorite</mat-icon></a>
            <a *ngIf="!this.userFavorite"  (click)="clickFavouriteFlag('Y')"><mat-icon>favorite</mat-icon></a>
            <a mat-raised-button class="details-btn" [routerLink]="['/tests/testdetail/', testInfo.test_id]"><mat-icon>add</mat-icon>Details</a>
        </mat-card-actions>

</mat-card>