.title{
    font-size: 16px;
    color: #337ab7;
}

.relatedcontent{
    font-size: 16px;
}

.test-status{
    background-color: blue;
    color: #FFF;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
}

.not-started-yet{
  background-color: blue;
  color: #FFF;
}
.completed{
  background-color: green;
  color: #FFF; 
}
.resumed{
  background-color: yellow;
  color: #000;   
}
  
.details-btn{
    background-color: slategray;
    color:#fff;
}

.favorite-test{
  color: red;
}
.mat-card {
    height: 188px;
    margin-bottom: 9%;
}
.mat-card-content{
      height: 70px;
}
/deep/ .relatedtest-card{
    padding:0px !important;
  }
/deep/ .relatedtest-card .mat-card-header{
    /*border-bottom: 1px solid black;*/
    background: #3a4255;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
  }
  /deep/ .relatedtest-card .mat-card-header-text{
    margin: 0 auto;
  }
  
  /deep/ .relatedtest-card .mat-card-title{
    padding-top: 3%;
    padding-bottom: 0%;
    font-size: 16px;
    color: #fff;
  }
  
  /deep/ .relatedtest-card .mat-card-content>*{
    margin-top: 10px !important; 
    padding-left: 4%;
    padding-right: 4%;
  }
  
  /deep/ .relatedtest-card .mat-card-actions{
    padding-left: 7%;
    padding-right: 7%;
  }
  
  /deep/ .relatedtest-card .mat-card-actions .mat-raised-button {
    float: right;
    border-radius: 5px;
  }
  
  /deep/ .relatedtest-card>.mat-card-actions:last-child{
    padding-bottom: 10px !important;
  }

.topcard {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background: #3A4255;
}
.bottomcard{
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.mat-card>.mat-card-actions:last-child {
    padding-left: 8%;
}






  /*media*/
@media(max-width: 1229px){
  
}
@media(max-width: 1200px){
  
}
@media(max-width: 990px){
  
}
@media(max-width: 767px){
.functiontitle{
  text-align: center;
  padding-left: 0px;
  padding-right: 0px; 
}
.functionbtn{
  padding-top: 3%;
}
} 
@media(max-width: 400px){
.relatedtest-card .mat-card-title {
    font-size: 14px;
}
.title[_ngcontent-c8] {
    font-size: 14px;
}
.relatedcontent[_ngcontent-c8] {
    font-size: 14px;
}
.test-status[_ngcontent-c8] {
    font-size: 14px;    
}
.functionbtn{
  padding-top: 3%;
}
} 