.TaskHeaders {
    color: #396477;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}
ul{
    list-style: none;
    -webkit-padding-start: 0px;
}
ul li{
    margin-bottom: 4px;
    border: 1px solid #dddddda1;
    border-radius: 7px;
    padding: 4px 8px;
    display: grid;
}
ul li span{
    font-size: 15px;
}