<div class="">
    <ul>
        <li> <a class="TaskHeaders"> Task ID </a> <span>{{task_id}}</span></li>
        <li> <a class="TaskHeaders"> Task Due</a><span> {{duedate}} </span></li>
        <li> <a class="TaskHeaders"> Task Name </a><span> {{task_name | capitalize}} </span></li>
        <li> <a class="TaskHeaders">Task Status </a><span> {{status}}</span></li>
        <li> <a class="TaskHeaders">TaskDescription</a>
            <span><a style ="white-space: pre-line;color:black;text-decoration:none">{{task_description | capitalize}}</a></span></li>
    </ul>
   <br>
    <a *ngIf="task_pdf_link != null" class="TaskHeaders" target="_blank" href="{{task_pdf_link}}"><kbd>Reference Links</kbd></a>
   
   <!-- Id: <p>{{task_id}}</p> 
   Name: <P>{{task_name}}</P>
    Description: <p style ="white-space: pre-line;">{{task_description}}</p>
    Due: <p>{{duedate}}</p>
    Status: <p>{{status}}</p>
    Link: <p>{{task_pdf_link}}</p> -->
</div>