<div *ngFor="let tagbybranch of tagbybranch">
            <a class="tags" [routerLink]="['/community/postsbytag', tagbybranch.tag]">{{tagbybranch.tag}}</a> 
            <p class="tagpostcount"> x {{tagbybranch.postcount}}</p>
           
</div>