.tags{
    position: relative;
    display: inline-block;
    padding: .4em .5em;
    margin: 2px 2px 2px 0;
    font-size: 11px;
    line-height: 1;
    white-space: nowrap;
    text-decoration: none;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-radius: 0;
    transition: all .15s ease-in-out;

    color: #39739d;
    background-color: #E1ECF4;
    border-color: transparent;
}

.tagpostcount{
    font-size: 11px;
    color: #6a737c;
    display: inline-block;
}