.m-trnd{
    background: grey;
}
.Trendingposts{
    padding-bottom: 1em;
    font-size: 13px;
    padding-top: 1em;
    border-bottom: 1px solid #80808061;
}
.Trendingposts a{
    text-decoration: none;
}

.m-trndh:hover{
    background: gray;
}