<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- <div class="container"> -->
<!-- <br/><br/>
    Trending posts
<br/><br/> -->
<div class="row" *ngFor="let post of post;  let i=index">
  <div *ngIf="i<10">
    <div class="span12">
      <div class="row">
        <div class="span8">
          <p class="Trendingposts">

            <a [routerLink]="['/community/postdetail', post.postid,post.tag]" target="_blank">
              <!-- <p class="mailbox-subject"> -->
              {{post.postName | capitalize}}
              <!-- </p> -->
            </a>

          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .Trendingposts {
    padding-bottom: 0.5em;
    font-size: 13px;
  }
</style>