.mailbox-subject{
  display:inline-block;
 width:400px;
 white-space: nowrap;
 overflow: hidden;
 text-overflow: ellipsis;
}
.mailbox-subject1{
 display:inline-block;
width:400px;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}

.mailbox-name{
 display:inline-block;
 width:180px;
 white-space: nowrap;
 overflow: hidden;
 text-overflow: ellipsis;
}

#notifications{
 background-color: black;
}
thead>tr>th {
cursor: pointer;
}
.m-margin{
margin-top:45pt;
}
.table>thead>tr>th {
vertical-align: bottom;
border-bottom: 0px solid #ddd;
}