<div class="container m-margin">
  <div class="row">
    <div class="box-body no-padding">
      <div class="mailbox-controls">
        <!-- Check all button -->
        <!-- <button class="btn btn-default btn-sm checkbox-toggle"><i class="glyphicon glyphicon-unchecked"></i></button> -->
        <div class="btn-group">
          <button class="btn btn-default btn-sm" (click)="deleteMessages()">
            <i class="glyphicon glyphicon-trash"></i>
          </button>
          <!-- <button class="btn btn-default btn-sm">
            <i class="glyphicon glyphicon-arrow-left"></i>
          </button> -->
          <!-- <button class="btn btn-default btn-sm"><i class="glyphicon glyphicon-share-alt"></i></button> -->
        </div>
        <!-- /.btn-group -->
        <button class="btn btn-default btn-sm" (click)="refresh()">
          <i class="glyphicon glyphicon-refresh"></i>
        </button>
        <!-- <div class="pull-right" >
              1-50/200
              <div class="btn-group">
                <button class="btn btn-default btn-sm"><i class="glyphicon glyphicon-arrow-left"></i></button>
                <button class="btn btn-default btn-sm"><i class="glyphicon glyphicon-arrow-right"></i></button>
              </div><!-- /.btn-group -->
      </div>
      <!-- /.pull-right -->
    </div>
    <div style="overflow:scroll">
      <table class="table table-condensed table-hover" style="overflow-x: scroll; ">
        <thead>
          <tr>
            <th class="span1"></th>
            <!-- <th class="span2"></th> -->
            <!-- <th class="span2"></th> -->
            <th class="span9"></th>
            <th class="span9" (click)="sort('name')">
              <!-- <span class="glyphicon sort-icon" *ngIf="key =='name'" 
                      [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>                                     -->
            </th>
            <th class="span9">
            </th>
            <th class="span9"></th>
            <th class="span9"></th>
          </tr>
        </thead>
        <tbody *ngFor="let allmessages of allmessages | paginate: { itemsPerPage: 20, currentPage: p };">
          <tr>
            <td>
              <input #clickedCheckbox type="checkbox" (change)="checkMessages(allmessages)" [(ngModel)]="allmessages.clickedCheckbox"
                [ngModelOptions]="{standalone: true}" (click)="setAgreed(clickedCheckbox.checked)"> </td>
            <!-- <td><input type="checkbox"> <a href="#"><i class="icon-star-empty"></i></a></td> -->
            <!-- <td><strong>John Doe</strong></td> -->
            <!-- <td><span class="label" id="notifications">Notifications</span></td> -->
            <td>
              <strong>
                <a class="mailbox-subject1" [routerLink]="['/messagedetail',allmessages.c_id]">
                  {{allmessages.name}}</a>
              </strong>
            </td>
            <td class="mailbox-subject">
              <strong>{{allmessages.description}}</strong>

              <!-- <span class="glyphicon sort-icon" *ngIf="key =='description'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span> -->
            </td>
            <!-- <td><strong>
                  <a *ngIf="attachmenturl == null" href=" {{allmessages.attachmenturl}}" download="Graph_Details">
                        <span class="glyphicon glyphicon-download"></span>
                    </a>    
                </strong></td> -->
            <td>
              <strong>{{allmessages.created_date}}</strong>
            </td>
          </tr>
        </tbody>
        <!-- <ul>
                <li *ngFor="let item of collection | paginate: { itemsPerPage: 10, currentPage: p }">{{ item }}</li>
              </ul> -->

      </table>
    </div>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>