/* Image Header */
.list-quotes {
  cursor: pointer;
  height: auto;
  margin-bottom: 30px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  border-bottom: #F0F8FF;
  background-color: #F0F8FF;
  padding-bottom: 0px;
  border: none;
} 
.m-bodyfeature{
  padding-top: 0px;
}
.list-quotes img,
.list-quotes h1 {
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
}
.list-quotes img {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
/* Button */
.list-quotes h1{
  background: rgba(20,31,44,0.8);
  bottom: 130px;
  color: #fff;
  font-size: 28px;
  font-weight: bold;
  padding: 5px;
  position: absolute;
  margin: 0;
  margin-left: 30px 
}

.list-quotes p {
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  margin: 0;
  padding: 10px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,50px,0);
  transform: translate3d(0,50px,0);
  font-size: 15px;
  font-weight: normal;
  background: rgba(31, 46, 46, 0.8);
  width: 100%;
  color: #fff;
}
.list-quotes:hover img {
  -webkit-transform: translate3d(0,-80px,0);
  transform: scale(1.2);
  transition: all 250ms ease;
}
.list-quotes:hover{
  box-shadow: 0 0 5px 2px rgba(51,153,153, 0.5);
}
.list-quotes:hover h1 {
  -webkit-transform: translate3d(0,-100px,0);
  /* Used for moving the image */
  transform: translate3d(0,-80px,0); 
  text-shadow: 0px 0 15px #fff;
  transition: all 250ms ease;
}
.list-quotes:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
.quotes span{
  color:#222;
  font-weight: bold;
  text-transform: capitalize;
  color: #fff;
}
/* Image header*/
#header {
  width: auto; 
  height : auto;
}

#header1{
  background-color:#808080;
  text-align: justify;
  margin:0px;
  height: 171px;
  border-radius: 0px;
  }

#service{background-color: ghostwhite;padding-top: 10px;padding-bottom: 20px;}
.row-1 .ser-col-4{border-right:solid 1px #ccc;border-bottom: solid 1px #ccc;}
.row-1 .ser-col-4-l{border-bottom: solid 1px #ccc;}
.row-2 .ser-col-4{border-right:solid 1px #ccc;border-bottom: solid 1px #ccc;}
.row-2 .ser-col-4-l{border-bottom: solid 1px #ccc;}
.row-3 .ser-col-4{border-right:solid 1px #ccc;}


@media (max-width:768px){
  .ser-col-4-l{border-right:solid 1px #ccc;border-bottom: solid 1px #ccc;border-left:solid 1px #ccc;}
  .ser-col-4{border-left:solid 1px #ccc;border-bottom: solid 1px #ccc;}
}

.ser-col{width:100%;height:auto;text-align: center;padding:20px;position: relative;}
.icon-col{width:80px;height:80px;border-radius: 50%;text-align: center;margin-left: auto;margin-right: auto;}
.icon-col i{font-size: 35px;padding: 20px;}
.circle {
  position: absolute;
  bottom: -11px;
  right: -24px;
  z-index: 99;
}
.circle i{color:#ccc;font-size: 18px;background-color:ghostwhite;}
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  color: #3b83c0 ;
  background-image: none;
  border: 1px solid #3b83c0;
  border-radius: 0px;
}
.ser-col h2{color:#777;
  margin-bottom: 20px;}

.ser-col p{color:#3e3b3b;
  margin-bottom: 20px;}

/*====== service 1 ====*/
.ser-1 .icon-col{border: solid 1px #3b83c0;}
.ser-1 .icon-col i{color: #3b83c0;}
.ser-1 .btn{color: #3b83c0;border: 1px solid #3b83c0;}

/*====== service 2 ====*/
.ser-2 .icon-col {border: solid 1px #3b83c0;}
.ser-2 .icon-col i{color: #3b83c0;}
.ser-2 .btn{color:#3b83c0;border: 1px solid #3b83c0;}

/*====== service 3 ====*/
.ser-3 .icon-col {border: solid 1px #3b83c0;}
.ser-3 .icon-col i{color:#3b83c0;}
.ser-3 .btn{color:#3b83c0;border: 1px solid #3b83c0;}

/*====== service 4 ====*/
.ser-4 .icon-col {border: solid 1px #3b83c0;}
.ser-4 .icon-col i{color:#3b83c0;}
.ser-4 .btn{color:#3b83c0;border: 1px solid #3b83c0;}

/*====== service 5 ====*/
.ser-5 .icon-col {border: solid 1px #3b83c0;}
.ser-5 .icon-col i{color:#3b83c0;}
.ser-5 .btn{color:#3b83c0;border: 1px solid #3b83c0;}

/*====== service 6 ====*/
.ser-6 .icon-col {border: solid 1px 3#3b83c0;}
.ser-6 .icon-col i{color:#3b83c0;}
.ser-6 .btn{color:#3b83c0;border: 1px solid #3b83c0;}

/*====== service 7 ====*/
.ser-7 .icon-col {border: solid 1px #3b83c0;}
.ser-7 .icon-col i{color:#3b83c0;}
.ser-7 .btn{color:3#3b83c0;border: 1px solid #3b83c0;}

/*====== service 8 ====*/
.ser-8 .icon-col {border: solid 1px #3b83c0;}
.ser-8 .icon-col i{color:#3b83c0;}
.ser-8 .btn{color:#3b83c0;border: 1px solid #3b83c0;}

/*====== service 9 ====*/
.ser-9 .icon-col {border: solid 1px #3b83c0;}
.ser-9 .icon-col i{color:#3b83c0;}
.ser-9 .btn{color:#3b83c0;border: 1px solid #3b83c0;}


/* Hemanth - for image overrelay */
.bg-overlay {
  background: linear-gradient(rgba(0, 0, 0, 0.43), rgba(0, 0, 0, 0.54)), url(https://s3.ap-south-1.amazonaws.com/sp-landingpage/Features/image+4.jpg);
    background-repeat: repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    padding-bottom: 40px;
    padding-top: 50px;
    width: auto;
}
.btn[_ngcontent-c6] {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  color: #fff;
  background-image: none;
  border: 1px solid #3b83c0;
  border-radius: 0px;
}

.btn-primary {
  color: #fff ;
  background-color: #3b83c0;
  border-color: #3b83c0;
}

*{
  font-family: 'Poppins', sans-serif;
}
.testimonial_subtitle{
   color: #0aaa7a;
   font-size: 12px;
}
.testimonial_para {
  text-align: justify;
}
 .testimonial_btn{
   background-color: #3b83c0 !important;
   color: #fff !important;
}
.seprator {
   height: 2px;
   width: 56px;
   background-color: #0aaa7a;
   margin: 7px 0 10px 0;
}


h4 { 
  display: block;
  font-size: 2em;
  /* margin-top: 40px; */
  margin-bottom: 0.67em;
  margin-left: 2px;
  margin-right: 2px;
  font-weight: bold;
}
.m-featP{
  margin-top: 20px;  
  font-size: 30px;
  color: black;
  font-family: lacto;
  text-align: center;
}
/* Hemanth - for image overrelay */
.m-banner{
  background: #0180a3;
  padding:60px 0px;
  text-align:center;
  color:#fff;
}
.m-banner h1{
  text-transform: uppercase;
  font-weight: 500;
  padding-bottom: 8px;
  font-size: 30px;
}
.m-banner h4{
  font-size: 18px;
  font-weight: 500;
}
.m-bannrlink{
  width:100% !important;
}
.bnrlink{
  text-decoration:none !important;
}
