.toolbar-btn {
    color: white;
    background-color: gray;
  }
  
  .toolbar-select {
    width: 200px;
    margin: 10px;
  }
  
  .toolbar-link {
    margin: 10px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }
  
  .action-btn {
    margin: 10px 0;
  }
  .action-button-wrapper{
    text-align: center;
  }
  .action-button-wrapper a,.action-button-wrapper button{
    background-color: darkgreen;
    color: #fff;
  }
mat-card{
	margin-top: 10%;
}

.testpara{
	font-size: 18px;
	text-align: justify;
	padding-top: 2%;
	padding-bottom: 5%;
}
.action-button-wrapper{
	text-align: right;
}
.mat-raised-button{
	background-color: rgb(0, 100, 0);
    color: #fff;
}
