<ng-container  *ngIf="testInfo">
<mat-card class="container ">	
	 <mat-card-header>
          <mat-card-title><h2>Instruction to Start the test</h2></mat-card-title>
        </mat-card-header>
<div class="testpara" [innerHTML]="testInfo.test_instructions">{{testInfo.test_instructions}}</div>
<div class="col-md-offset-9 col-md-3 action-button-wrapper" *ngIf="isString(testInfo.user_test)"><a mat-raised-button [routerLink]="['/tests/test/', testInfo.test_id]">Start Test</a></div>
<div class="col-md-offset-9 col-md-3 action-button-wrapper" *ngIf="testInfo.user_test.status == 'not_completed'"><a mat-raised-button [routerLink]="['/tests/test/', testInfo.test_id]">Resume</a></div>
</mat-card>
</ng-container>