<div class="container-fluid m-margin">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3>SkillPractical Event Certificates</h3>
            </div>
        </div>
        <div class="row">
                <hr>
             <div *ngFor="let eventcertificate of eventcertificate" class="col-md-3">  
          
          <div class="thumbheader">
              <div class="blockh3" >
                 <h5 class="project-title" style="margin-top: 21px;color:#fff">{{eventcertificate.name | uppercase}}</h5>
              </div>
              <div class="thumbcontent">
              <table>
              <tbody>
              <!-- <img src="{{project?.project_image_url}}" class="img-circle" alt="Cinque Terre" width="50" height="50"> -->
              <tr>
                  <td>Subject</td>
                   <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</td>  
                   <td>{{eventcertificate.subject | capitalize}}</td> 
              </tr>
              <tr>
                  <td>Type</td>
                   <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>  
                   <td>{{eventcertificate.type | capitalize}}</td> 
              </tr>
              <tr>
              <td style="">Event Date</td>
               <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>  
               <td>{{eventcertificate.date}}</td> 
              </tr>
              </tbody>
              </table>
                </div>
    
                <div  class="thumbfooter m-eye" style="color:#fff;">
                <a href="{{eventcertificate.signedUrl1}}" target="_blank">
                  <i class="fa fa-eye"></i>
                </a>
              </div>
        </div>
    
        </div>
        </div>
    </div>