.thumbheader
{
  width: 100%;
    height: 210px;
    float: left;
    background-color: #ffffff;
    margin-top: 26px;
    margin-bottom: 10px;
    border-radius: 8px;
        box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);        
}
.blockh3{
  text-align: center;
  background-color: #005383;
  margin: 0px;
  padding-bottom: 24px;
  border: 2px solid#ccc;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
  }
.thumbcontent {
  margin-top: 21px;
  padding-left: 55px;
}
tbody{
  font-weight: 300;
}
button {
    margin-right: 11px;
}
.project-title[_ngcontent-c4] {
    margin-top: 19px;
    margin-left: 3px;
    margin-right: 3px;
}
  .thumbnail {height: 260px;border: 2px solid #ccc;} 
  .pad-left { margin-left: 10px; }
  .glyphicon {
    position: relative;
    top: -3px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased
  }
  .fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: xx-large;
    padding-top: 0em;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.m-margin{
  margin-top:45pt;
}
.m-eye{
  color: #fff;
  padding: 18px;
  float: right;
}