<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="container m-mobpd">

  <div class="row m-rpad">
    <div class="col-md-4 m-colpd">
      <div class="m-result">
       <h4> Posts Results by : <span class="label label-info">{{posttag}}</span></h4>
      </div>
    </div>
    <div class="col-md-4 m-colpd">
      <div class="">
        <input type='text' class="form-control pull-right" align="top"  placeholder="Post Search.." [(ngModel)]='listFilter' />
        <i id="search" class="fa fa-search"  aria-hidden="true"></i> 
      </div>
    </div>
    <div class="col-md-4 text-center m-colpd">

      <a class="btn icon-btn btn-success" data-toggle="modal" data-target="#newPostModal">
        <span class="glyphicon btn-glyphicon glyphicon-plus img-circle text-success"></span>New Post</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 ">
      <div class="shome">
        <br/>
        <div>
          <div id="sample 1" class="btn-group btn-group-sm m-newest" >
            <!--<button style="background:none;border:none;margin:0;padding:0;color:green;margin-left: 100px" class="btn btn-default"  [class.active]="filterBy==='all'" (click)="filterByall()">All</button> -->
            <button id="b-1" class="btn btn-default" [class.active]="filterBy==='newest'" (click)="filterBynewest()">Newest</button>
            <button id="b-2" class="btn btn-default" [class.active]="filterBy==='unanswered'" (click)="filterByunanswered()">Unanswered</button>
            <button id="b-3" class="btn btn-default" [class.active]="filterBy==='suggested'" (click)="filterBysuggested()">Suggested</button>
            <button id="b-4" class="btn btn-default" [class.active]="filterBy==='lastweek'" (click)="filterBylastweek()">Lastweek</button>
            <button id="b-5" class="btn btn-default" [class.active]="filterBy==='starred'" (click)="filterBystarred()">Starred  
                <span style="color: orange" class="glyphicon glyphicon-star"></span>
            </button>
        </div> 

        <div class="" *ngFor="let post of post | postsFilter:listFilter | paginate: { itemsPerPage: 10 , currentPage: p };">
          <div class="span12">
            <div class="row">
              <div class="span8" style="font-size:14px">
                <a (click)="onclickViewsCount(post.postid)" [routerLink]="['/community/postdetail', post.postid,post.tag]">
                  {{post.postName | capitalize}}</a> 
              </div>
            </div>
            <div class="row">
        
              <div class="span10" style="font-size:13px">      
                <p class="mailbox-subject" [innerHTML]="post.description">
                 {{post.description | capitalize}}
                </p>
              </div>
        
            </div>
            <div class="row">
              <div class="span8">
                <p style="font-size:12px">
                  <i class="fa fa-user-circle-o"></i> by <font color="#3366BB">{{post.username}}</font>
                  | <i class="fa fa-calendar"></i> <font color="#6a737c"> {{post.Created | date: 'shortDate'}}</font> 
                  <!--| <i class="fa fa-thumbs-up"></i> <a href="#">{{post.likes}} Likes</a>-->
                  | <i class="fa fa-comments"></i> <font color="#6a737c">{{post.commentcount}} Answers </font>
                  | <i class="fa fa-share-alt"></i> <font color="#6a737c"> {{post.shares}} Shares </font>
                  | <i class="fa fa-eye"></i> <font color="#6a737c"> {{post.views}} </font>
                  | <i class="icon-tags"></i> Tags : 
                      <a [routerLink]="['/community/postsbytag', post.tag]">
                        <span class="label label-info">
                         {{post.tag}}
                        </span>
                      </a> 
                </p>
                <hr>
              </div>
            
            </div>
          </div>
        </div>
        <pagination-controls class="pagination" (pageChange)="p = $event"></pagination-controls>

        </div>

      </div>
    </div>
    <div class="col-md-4 m-trending">

      <h4 style="text-align: center;padding-bottom:15px"> Related Posts </h4>

      <posts-by-tag-inpostdetail  [tag]="posttag"></posts-by-tag-inpostdetail> 

      <h4 style="text-align: center;padding-bottom:10px;padding-top:25px">Related Projects </h4>

      <projects-by-subject-inpostdetail [subject]="posttag"></projects-by-subject-inpostdetail>

    </div>
  </div>
</div> 

<div class="modal fade" id="newPostModal" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">

        <h4 class="modal-title">Create New Post
        </h4>

      </div>
      <div style="margin-top: -44px;" class="modal-body">
        <add-post></add-post>
      </div>
    </div>
  </div>
</div>
