.btn-glyphicon { padding:8px; background:#ffffff; margin-right:4px; }
.icon-btn { padding: 1px 15px 3px 2px; border-radius:50px;}
/* .col-lg-10 {
  width: 87.33333333%;
  padding-top: 10px;
} */
.row {
    margin-left: 0px;
    margin-right: 0px;   
    margin-top: 5px;
}
a {
    color: #07C;
    text-decoration: none;
    font-size: 15px; 
}
.col-lg-10[_ngcontent-c4] {
  width: 83.33333333%;
  height: 103px;
  margin-left: -33px;
}
.label-info {
    background-color: rgb(127, 154, 173);;
}
.mailbox-subject{
    display: block;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   color: #3b4045;
   height:auto;
   width: 95%;
} 
.homeoverflowpostbytag {
  overflow: hidden;
  padding: 0px;
  height: 400px;
  position: absolute;
  margin-top: 4em;
}

.homeoverflowpostbytag1 {
  padding: 0px;
  width: 24%;
  height: auto;
  position: absolute;
  margin-top: 3em;
}

.homeoverflowpostbytagPROJECTS {
  overflow: auto;
  padding: 8px;
  height: auto;
  position: absolute;
  margin-top: 31em;
}

  .homeoverflowpostbytag1PROJECTS {
    overflow: hidden;
    padding: 8px;
    width: 24%;
    height: auto;
    position: absolute;
    margin-top: 32em;
}

  input[type=text], input[type=email], input[type=search], input[type=password] {
    -webkit-appearance: none;
    overflow: hidden;
    -moz-appearance: none;
  }

  
  .btn-group, .btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

/* .homeoverflowpostbytagPROJECTS{
  overflow: auto;
  padding: 8px;
  margin-left: 59.5em;
  height: 400px;
  position: absolute;
  margin-top: 20em;
} */

#post1 {
  position: absolute;margin-left: 30%;
}
.shome { width:100%;margin-top: 5px;
}
#sample {
    
}
#post {
    float:right;margin:10px;padding-right:12px;
}
.btn-group btn-group-sm {
    margin-top:-20px; margin-left: 50px;position:relative;
}

.btn btn-default {
    background:none;border:none;margin:0;padding:0;color:orange;margin-left: 80px;outline:none;
}
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    padding: 5px 10px !important;
    margin-bottom: 8px;
    margin-right: 10px;
    border-radius: 25px !important;
    margin-left: 4px !important;
}

#a-1 {
    background: none;
    border: none;
    margin: 0;
    padding: 7px;
    color: orange;
    padding: 5px 23px !important;
    outline: beige;
    border: 1px solid white;
    margin-right: 8px;
}

#search {
    position: absolute;
    top: 15px;
    right: 2em;
}

.modal-title {
    margin-left: 7px;
}

.m-btngrp{
    background: #3A4255;
    margin-top: 23px;
    padding: 10px 0px 3px 0px;
    text-align: center;
    margin-left: -15px;
    margin-right: -15px;
}

input{
    border-radius: 25px;
    padding: 3px 10px;
    margin-bottom: 8px;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.m-newest{
    margin-bottom: 15px;
}
.m-trending{
    margin-top: 23px;
}
.msg-pad{
    padding-left:26px;
}
.msg-pad2{
  padding-left: 43px;
}
.m-colpd{
  padding-top:7px;
  padding-bottom:7px;
}
.m-rpad{
  margin-top: 42pt;
   
}
.text-success {
    color: #5cb85c;
}
.btn-default:active {
    outline: none;
    border: none;
    }
    
    .btn-default:focus {outline:0;}
    .m-result{
        padding-top: 8px;
    }
hr{
    margin-top: 15px;
    margin-bottom: 15px;
}
.m-mobpd{
    padding-left:0px;
    padding-right:0px;
}

@media only screen and (max-width: 500px) {
    .mailbox-subject{
        width:100%
    }
}