#s img {
    width: 40px;
    padding: 5px;
    border: 0;
    box-shadow: 0;
    display: inline;
    }

    @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);
    @import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
    ul,li{
        padding:0;
        margin:0;
    }
    li{
        list-style-type:none;
        color: #000000;
    }
    /* Latest post links color, General links */
    a {
        color: #ffffff;
        text-decoration: none;
        font-size: 12px
    }



    footer { background-color:#232627; min-height:350px;font-family: 'Open Sans', sans-serif; } 
    /*0c1a1e  */
    .footer-col { margin-top:30px; margin-bottom: 10px }
    .logofooter { margin-bottom:0px; font-size:25px; color:#fff; font-weight:700;}

    .footer-col p { color:#fff; font-size:12px; font-family: 'Open Sans', sans-serif; margin-bottom: 15px;}
    .footer-col p i { width:20px; color:#999; }

    .footer-ul { list-style-type:none;  padding-left:0; margin-left:2px;}
    .footer-ul li { line-height:29px; font-size:12px;}
    .footer-ul li a { color:#a0a3a4; transition: color 0.2s linear 0s, background 0.2s linear 0s; }
    .footer-ul i { margin-right:10px;}
    .footer-ul li a:hover {transition: color 0.2s linear 0s, background 0.2s linear 0s; color:#ff670f; }

    .copyright { min-height:30px; background-color:#131212;}
    .copyright p { text-align:left; color:#FFF; padding:10px 0; margin-bottom:0;}
    .heading7 { font-size:21px; font-weight:700; color:#d9d6d6; margin-bottom:22px;} 
    /* For Date for Latest Post */
    .post p { font-size:12px; color:rgb(230, 7, 7); line-height:20px;}
    .post p span { display:block; color:#1fc01f;}
    .bottom_ul { list-style-type:none; float:middle; margin-bottom:0;}
    .bottom_ul li { float:left; line-height:40px;}
    .bottom_ul li:after { content:"/"; color:#FFF; margin-right:8px; margin-left:10px;}
    .bottom_ul li a { color:#FFF;  font-size:12px;}
    .social-icon {
        width: 30px;
        height: 30px;
        font-size: 15px;
        background-color: blue;
        color: #fff;
        text-align: center;
        margin-right: 10px;
        padding-top: 7px;
        border-radius: 50%;
    }
    .footer-social li{
        float:left;
    }
    .linked-in{
        background-color:#007bb6;
    }
    .fa-facebook{
        background-color:#3b5998;
    }
    .twitter{
        background-color:#1da1f2;
    }
    .google{
        background-color:#f63e28;
    }


    @media screen and (max-width:414px) {
        footer[_ngcontent-c5] {
            background-color: #232627;
            min-height: 350px;
            font-family: 'Open Sans', sans-serif;
            width: 100%;
            z-index: 1;
        }

        .copyright[_ngcontent-c5] {
            min-height: 30px;
            background-color: #131212;
            width: 100%;
            z-index: 1;
        }
    }

    @media screen and (max-width: 375px) {
        footer[_ngcontent-c5][_ngcontent-c5] {
            background-color: #232627;
            min-height: 350px;
            font-family: 'Open Sans', sans-serif;
            width: 100%;
        }

        .copyright[_ngcontent-c5][_ngcontent-c5] {
            min-height: 30px;
            background-color: #131212;
            width: 100%;
        }
    }
    .m-media a img{
        width: 30px;
        padding-right:5px;
    }