<script type="text/javascript" src="https://cdn.ywxi.net/js/1.js" async></script>
<!--footer start from here-->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6 footer-col">
        <div class="logofooter">
            <a href="https://www.synaptial.net/" target="_blank"> 
          <img src="https://s3-us-west-2.amazonaws.com/sp-landingpage-content/logosynaptial.png"  style="width:90%;"> 
        </a>
        </div>
        <p>We provide IT Services & Consulting to the Educational Institutes. Our primary focus is to integrate Formal & Informal educational markets and make discovering education resources easy for each individual through our applications.</p>
        <p><i class="fa fa-map-marker"></i> Autonagar, Vijayawada, AP - 520007</p>
        <p><i class="fa fa-phone"></i> Phone (India) : +91 9666702479</p>
        <p><i class="fa fa-envelope"></i> E-mail : support@synaptial.net</p>
        
      </div>
      <div class="col-md-3 col-sm-6 footer-col">
        <h6 class="heading7">GENERAL LINKS</h6>
        <ul class="footer-ul">
            <li><a [routerLink]="['/aboutus']">About us</a></li>
            <li><a [routerLink]="['/membershipinfo']"> Membership</a></li>
            <li><a [routerLink]="['/blogs']"> Blogs</a></li>            
          <li><a [routerLink]="['/contactus']"> Contact Us</a></li>
          <li><a [routerLink]="['/features']"> Features</a></li>
          <li><a [routerLink]="['/faqs']"> Frequently Ask Questions</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-6 footer-col">
        <h6 class="heading7">LATEST POST</h6>
        <div class="post">
            <li><a href="https://www.facebook.com/694411304082076/photos/a.708608285995711.1073741828.694411304082076/711334419056431/?type=3&theater">
                     SkillPractical is to upgrade students without struggle against a budget process and other restrictions 
              </a></li>
              <p>November 19,2017</p>
            
            <li><a href="https://www.facebook.com/SkillPractical-694411304082076/">
              Join with us, share your vision and help us build a stronger network 
              </a></li>
              <p>November 15,2017</p>
            
            <li><a href="https://www.facebook.com/SkillPractical-694411304082076/">
              A learning community brings together tutorials, vendors, lecturers, and learners.
              </a></li>
              <p>November 2,2017</p>
          <!-- <p>facebook crack the movie advertisment code:what it means for you <span>August 3,2015</span></p> -->
        </div>
      </div>

      <div class="col-md-3 col-sm-6 footer-col">
          <h6 class="heading7">SOCIAL MEDIA</h6>
          <div id="share-buttons" class="m-media">
              <!-- Facebook -->
              <a href="https://www.facebook.com/" target="_blank">
                <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
              </a>
    
            <!-- Google+ -->
              <a href="https://plus.google.com/" target="_blank">
                <img src="https://simplesharebuttons.com/images/somacro/google.png" alt="Google" />
              </a>
    
            <!-- LinkedIn -->
             <a href="https://www.linkedin.com/" target="_blank">
                <img src="https://simplesharebuttons.com/images/somacro/linkedin.png" alt="LinkedIn" />
            </a>
            <!-- Twitter -->     
            <a href="https://twitter.com/" target="_blank">
              <img src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" />
            </a>
          </div>
        </div>
    </div>
  </div>
</footer>
<!--footer start from here-->

<div class="copyright">
  <div class="container">
    <div class="col-md-6">
      <p>© 2017 - All Rights with Synaptial</p>
    </div>
    <div class="col-md-6">
      <ul class="bottom_ul">
        <li><a href="#">Synaptial.net</a></li>
        <li><a [routerLink]="['/privacypolicy']"> Privacy Policy</a></li>
        <li><a [routerLink]="['/termsandConditions']"> Terms & Conditions</a></li>
      </ul>
    </div>
  </div>
</div>

