<div class="container-fluid m-fluid">
  <div class="row">
    <div class="col-md-6">
      <h4 style="color: #fff;font-weight:600;font-size:24px;"> {{event?.name | capitalize}}</h4>
      <p style="text-align:justify;padding-bottom: 20px;" class="event-description"> {{event?.description | capitalize}}</p>
    </div>
    <div class="col-md-3">
    </div>
    <div class="col-md-3">
      <!-- <div class="input-group">
        <input type='text' class="form-control" placeholder="Event Search.." [(ngModel)]='listFilter' />
        <span class="input-group-addon" id="basic-addon1">
          <i class="fa fa-search" aria-hidden="true"></i>
        </span>
      </div> -->
      <div class="m-share">
        <share-buttons [tumblr]="false" [pinterest]="false" [stumbleUpOn]="false" [reddit]="false" [url]="linkToShare" [title]="title"
          [description]="description" [image]="image"></share-buttons>
      </div>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-12">
      <div class="sregister">
        <button type="button" class="btn btn-success btn-md" data-toggle="modal" data-target="#exampleModalLong" [disabled]="!isValidForm()" [disabled]='checkregisteredeventid !=""'>Register</button>
        <tooltip-content #myTooltip>
          You are about to cancel registration. Once your registration is cancelled, you will get low chances to register again.
        </tooltip-content>
        <button [tooltip]="myTooltip" type="button" class="btn btn-danger btn-md" data-toggle="modal" data-target="#exampleModalLongUnregister"
         [disabled]="!isValidForm()" [disabled]='checkregisteredeventid == ""'>Cancel Registration
        </button>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid m-content">
  <div class="row">
    <div class="col-md-8">
      <h4 style="margin-bottom:20px;">
        <kbd class="Status"> Status</kbd>:
        <span style="margin-left: 0.2em;margin-top: -1.2em;" *ngIf="registrationstatus == null;else elseRegistrationStatus">Not Registered</span>
        <ng-template #elseRegistrationStatus>
          {{registrationstatus | capitalize}}
        </ng-template>
      </h4>
<div class="row m-box">
      <div class="col-md-6 col-lg-6 col-xs-6" style="border-radius:5px; color:#000">
        <div>
          <strong>DATE:&nbsp;&nbsp;&nbsp;</strong> &nbsp; {{event?.date}}</div>
        <div>
          <strong>TIME:&nbsp;&nbsp;&nbsp;</strong> &nbsp; {{event?.time}} </div>
        <div>
          <strong>MODE:&nbsp;</strong> &nbsp; {{event?.mode }} </div>
        <div>
          <strong>TYPE:&nbsp;&nbsp;</strong> &nbsp; {{event?.type }} </div>
        <div>
          <strong>LEVEL:&nbsp;</strong> &nbsp; {{event?.level}} </div>
        <div>
          <strong>PRICE:&nbsp;</strong> &nbsp; {{event?.price | currency:'INR':true}} </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6">
        <address class="address">
          <strong>ADDRESS:</strong>
          <br />
          <td>{{event?.collegename}}</td>
          {{event?.address}},&nbsp; {{event?.city}}
          <br /> {{event?.country}}
        </address>
        <strong style="color:#000"> TUTOR: </strong>
        <br />
        <a style="color:#000">{{event?.tutor}} </a>
        <a target="_blank" href="{{event?.tutorprofile}}">[Linkedin]</a>
      </div>
    </div>
      <br>
      <table class="table table-striped" style="width: 100%; border: 1px solid#ccc;color:#000;">
          <thead>
            <tr class="info">
              <th>Certificate</th>
              <th>Kit</th>
              <th>Material</th>
              <th>Total cost</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{event?.costcertificate}}</td>
              <td>&nbsp;{{event?.costkit}}</td>
              <td>&nbsp;&nbsp;&nbsp;&nbsp;{{event?.costmaterial}}</td>
              <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{event?.price}}</td>
            </tr>
          </tbody>
        </table>
      <br>
      <h3 class="m-topic">Topics Covered:</h3>
      <div class="m-collapse">
        <session-list [sessions]="sessions"></session-list>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel-group" id="accordion">
        <!-- accordion 1 -->
        <div class="panel panel-warning" style=" border: 1px solid #434a59;">
          <div class="panel-heading" style="background-color: #6099af;font-variant: titling-caps;color: white;">
            <!-- panel-heading -->
            <h4 class="panel-title">
              <!-- title 1 -->
              <a data-toggle="collapse" data-parent="#accordion" href="#accordionOne">
                <span> Upcoming Events </span>
              </a>
            </h4>
          </div>
          <!-- panel body -->
          <div id="accordionOne" class="panel-collapse collapse in">
            <div class="panel-body">
              <div *ngFor="let event of upcomingevents" class="col-md-20">
                <upcoming-events [event]="event"></upcoming-events>
              </div>
            </div>
          </div>
        </div>
        <br><br>
        <div class="panel panel-warning" style="border: 1px solid #434a59;">
          <!-- accordion 2 -->
          <div class="panel-heading" style="background-color: #6099af;font-variant: titling-caps;color: white;">
            <!-- panel-heading -->
            <h4 class="panel-title">
              <!-- title 2 -->
              <a data-toggle="collapse" data-parent="#accordion" href="#accordionTwo">
                <span> Sponsors </span>
              </a>
            </h4>
          </div>
          <!-- panel body -->
          <div id="accordionTwo" class="panel-collapse collapse">
            <div class="panel-body">
              <div *ngFor="let eventsponsors of eventsponsors">
                <a href="{{eventsponsors.sponsor_websiteurl}}">
                  <img src="{{eventsponsors.sponsor_imageurl}}" alt="HTML Tutorial" height="100" width="100" />
                </a>
                <br/>
                <br/>
                <!-- <a>{{eventsponsors.name}}</a>   -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal Register-->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Confirm Registration</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          WOW! You will get an email confirmation:)
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="showSuccessRegister()" (click)="registerforevent()" data-dismiss="modal">Yes</button>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Modal unregister -->
  <div class="modal fade" id="exampleModalLongUnregister" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Confirm Registration</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you Sure You Want to Unregister? You will get an email confirmation:)
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="showSuccessCancelRegistration()" (click)="unregisterforevent()" data-dismiss="modal">Yes</button>
        </div>
      </div>
    </div>
  </div>
</div>