
     .event-image { height:100px; }
     .social-icon { margin-left:480px}
     a {cursor:pointer}
.scontent{
    background-color:#3A4255;
    width:100%;
    height:215px;
    margin-top:6px;
      }
.event-description{
    font-family: lato;
    color: white;
    font-size: 15px;
     }
.pull-left {
    padding-left: 30px;
}
.event-image {
    height:81px; 
    width:100px; 
    background-color: rgb(139, 114, 114)
}
.btn-danger[_ngcontent-c4] {
    margin-left: 6px;
    margin-top: 0px;
}
.row{
    padding-bottom: 5px;
    padding-top: 5px;
  }
.Status {
    padding: 2px 4px;
    font-size: 90%;
    color: #fff;
    background-color: #49a7d1;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.25);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.25);
}
.seventsinfo{
    background-color: #ffffff;
      color: white;
      width: 63%;
      border-radius: 5px;
      margin-left: 20px;
      padding: 11px;  
      box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19); 
  }
.address {
    margin-bottom: 2px;
    font-style: normal;
    line-height: 1.42857143;
    color: #000;
}
.m-fluid{
    background-color:#3A4255;
    margin-top: 18pt;
    padding-top: 20pt;
}
.m-share{
    float: right;
}
.input-group-addon{
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6 !important;
    color: #fff;
    text-align: center;
    background-color: #192639;
    border: 1px solid #192639;
    border-radius: 4px;
}
a{
    text-decoration: none;
}
.sregister{
    padding-bottom: 25px;
}
.m-box{
    border: 1px solid #ddd;
    padding-top: 20px;
    border-radius: 8px;
    padding-bottom: 20px;
}
.m-content{
    margin-top: 20pt;
}
.panel-group {
    margin-bottom: 20px;
    margin-top: 40px;
}
.m-topic{
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    background: #3a4255;
    color: #fff;
    padding: 12px 17px;
}
@media only screen and (max-width: 768px) {
    .m-fluid{
        margin-top:13pt;
    }
}
.m-sidepad{
    padding-left:0px;
    padding-right:0px;
}