<div class="" *ngFor="let session of sessions">
  <div class="" style="font-weight: 700;">
    <collapsible-well>
      <div well-title>
        <p class="SessionDayDate">Day:{{session.session_day}}&nbsp;({{session.session_date }})</p>
      </div>
      <div well-body>
        <!-- <h6>Author: {{session.session_presenter}}</h6> -->
        <!-- <span>Duration: {{session.session_duration | duration}}</span><br /> -->
        <!-- <span>Level: {{session.session_level}}</span> -->

        <p> Topics: {{session.session_abstract}} </p> 
      </div>
    </collapsible-well>
  </div>
</div>
<style>
  .SessionDayDate {
             
}
</style>
<!-- <style>
  .well {
    min-height: 20px;
    color: white;
    padding: 19px;
    margin-bottom: 20px;
    background-color: indianred;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}
</style> -->