/*.filterbutton {
    background:none;
    border:none;
    margin:0;
    padding:0;
}*/

.alert-group>.alert:first-child:not(:last-child){
    -webkit-border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -webkit-border-bottom-right-radius:0;
    -webkit-border-bottom-left-radius:0;
       -moz-border-radius-topleft:5px;
       -moz-border-radius-topright:5px;
       -moz-border-radius-bottomright:0;
       -moz-border-radius-bottomleft:0;
            border-top-left-radius:5px;
            border-top-right-radius:5px;
            border-bottom-right-radius:0;
            border-bottom-left-radius:0;
    margin-bottom:0
}
.alert-group>.alert:not(:first-child):not(:last-child){
    -webkit-border-radius:0;
       -moz-border-radius:0;
            border-radius:0;
    border-top:0;
    margin-bottom:0
}
.alert-group>.alert:last-child:not(:first-child){
    -webkit-border-top-left-radius:0;
    -webkit-border-top-right-radius:0;
    -webkit-border-bottom-right-radius:5px;
    -webkit-border-bottom-left-radius:5px;
       -moz-border-radius-topleft:0;
       -moz-border-radius-topright:0;
       -moz-border-radius-bottomright:5px;
       -moz-border-radius-bottomleft:5px;
            border-top-left-radius:0;
            border-top-right-radius:0;
            border-bottom-right-radius:5px;
            border-bottom-left-radius:5px;
    border-top:0
}
.noregisteredevents {
    margin-top: 4em;
    font-size: 42px;
    margin-bottom: 4em;
    text-align:center;
    color: darkgrey;
}
.slist{
    margin-left:10px;
    
  }
  ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      display: flex;
      cursor: pointer;
  }
  
  li {
      float: left;
      padding-bottom: 8px;
  }
  
  li a {
      display: block;
      padding: 8px;
      color: #fff;
      font-weight: 600;
  }
  li>a.active { color: #F97924
  }
  
  .scontent{
    background-color:#3A4255;
     width:100%;
      height:215px;
     margin-top:6px;
  }
  
  
  #kb_widget {
          position: fixed;
          bottom: 30px;
          right: 30px;
          border: 1px solid #eeeeee;
          z-index: 1000;
      }
      #kb_widget #kb_widget_content {
          float: right;
          width: 350px;
          height: 340px;
          right: -5px;
          bottom: -20px;
          position: absolute;
          border: 1px solid #e8e8e8;
          background-color: white;
          padding: 8px;
          -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.28);
          -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.28);
          box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.28);
          overflow: hidden;
          z-index: 999;
      }
      div #kb_widget_button button {
          background: linear-gradient(to right, #49c593, #009ece);
          color: #fff;
          border: 0;
          font-size: 22px;
          padding: 8px 25px 8px 65px;
          position: relative;
          font-weight: 600;
          filter: drop-shadow(2px 2px 3px rgba(0,0,0, 0.28));
          -webkit-filter: drop-shadow(2px 2px 3px rgba(0,0,0, 0.28));
          border-radius: 3px!important;
      } 
      div #kb_widget_button button img {
          position: absolute;
          left: -35px;
          top: -16.58px;
          height: 80px;
      }
      .m-fluid{
        background-color:#3A4255;
        margin-top: 18pt;
        padding-top: 20pt;
    }
    .m-share{
        float: right;
    }
    hr{
        margin-top: 20px;
        margin-bottom: 0px;
        border: 0;
        border-top: 1px solid #eee;
        margin-left: -15px;
        margin-right: -15px;
    }
    .m-heading{
        display: inline;
        font-weight: 400;
        color: #fff;
        font-size: 25px;
        vertical-align: middle;
        margin-right: 10px;
    }
    .m-h5{
        color: #d4d4d5;
        font-size: 15px;
        font-weight: 400;
        line-height: 1.5;
        text-align: justify;
    }
    .m-btn{
        margin-top: 6px;
        margin-bottom: 12px;
    }
    .input-group-addon{
        padding: 6px 12px;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.6 !important;
        color: #fff;
        text-align: center;
        background-color: #192639;
        border: 1px solid #192639;
        border-radius: 4px;
    }
    a{
        text-decoration: none;
    }
    
    @media only screen and (max-width: 768px) {
        .m-fluid{
            background-color:#3A4255;
            margin-top: 14pt;
            padding-top: 20pt;
        }
    }