<div class="well hoverwell thumbnail" style="color:#000;    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);">
  <div class="thumbheader" style="background-color: #005383;padding: 4px;margin: -20px;color:#fff;padding-left:22px;">
    <h4 class="m-thumbhead">{{event?.name}}</h4>
  </div>
  <div class="thumbcontent" style="margin-top:35px;">
    <table>
      <tbody>
        <tr>
          <td style="width:1%;">Subject</td>
          <td style="width:1%;">:</td>
          <td style="width:15%;">{{event?.subject}}</td>
        </tr>
        <tr>
          <td style="width:1%;">EventID</td>
          <td style="width:3%;">:</td>
          <td style="width:15%;">{{event?.eventid}}</td>
        </tr>
        <tr [ngSwitch]="event?.time">
          <td style="width:1%;">Date&Time</td>
          <td style="width:3%;">:</td>
          <td style="width:15%;">{{event?.date}} & {{event?.time}}</td>
        </tr>
        <tr>
          <td style="width:1%;">Price</td>
          <td style="width:3%;">:</td>
          <td style="width:15%;"> {{event?.price | currency:'INR':true}}</td>

        </tr>
        <tr>
          <td style="width:1%;">Mode</td>
          <td style="width:3%;">:</td>
          <td style="width:15%;"> {{event?.mode}}</td>

        </tr>
        <tr *ngIf="event?.address">
          <td style="width:1%;">Location</td>
          <td style="width:3%;">:</td>
          <td style="width:15%;"> {{event?.address}}</td>
        </tr>



        <tr *ngIf="event?.onlineUrl">
          <td style="width:1%;">Online URL</td>
          <td style="width:3%;">:</td>
          <td style="width:15%;">{{event?.onlineUrl}}</td>

        </tr>
      </tbody>
    </table>
    <div class="thumbfooter" style="color:#fff;margin-top: 15px;">
        <button class="btn btn-primary pull-right" value="+ More" [routerLink]="['/events/events',event.eventid]">+ More</button>
      </div>
  </div>
  
</div>