.thumbnail {
    border: 2px solid #ccc;
}
.pad-left {
    margin-left: 10px;
}
.well {
    margin-top: 30px;
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    padding-bottom: 50px;
    height: auto;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}
.m-thumbhead{
    margin-top: 8px;
    padding-bottom: 10px;
}
td{
    vertical-align: top;
    padding-bottom: 5px;
}