<div class="container-fluid m-fluid">
    <div class="alert alert-info alert-dismissable" *ngIf="showbanner">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        Please Update <strong>College Code</strong> in <a [routerLink]="['/settinguser']"><kbd>Settings</kbd></a> Page to see workshops in your college.
    </div>
  <div class="row">
    <div class="col-md-4">
      <h4 class="m-heading"> Events: Learn from Experts belong to your area.</h4>
      <h5 class="m-h5"> Experience engineering technologies with hands, Meet the world's top experts,
        <br/> Learn best practices and technologies</h5>
      <button type="button" class="btn btn-warning m-btn" data-toggle="modal" data-target="#myModal">Request an Event</button>
    </div>

    <div class="col-md-5">

    </div>
    <div class="col-md-3">
      <div class="input-group">
        <input type='text' class="form-control" placeholder="Event Search.." [(ngModel)]='listFilter' />
        <span class="input-group-addon" id="basic-addon1">
          <i class="fa fa-search" aria-hidden="true"></i>
        </span>
      </div>
      <div class="m-share">
        <share-buttons [tumblr]="false" [pinterest]="false" [stumbleUpOn]="false" [reddit]="false" [url]="linkToShare" [title]="title"
          [description]="description" [image]="image"></share-buttons>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="seducation">
        <ul class="" style="float:left;">
          <li>
            <a [class.active]="filterBy==='all'" (click)="filterByall()">All</a>
          </li>
          <br/>
          <li>
            <a [class.active]="filterBy==='education'" (click)="filterByeducation()">Education</a>
          </li>
          <br/>
          <li>
            <a [class.active]="filterBy==='sports'" (click)="filterBysports()">Sports</a>
          </li>
          <br/>
          <li>
            <a [class.active]="filterBy==='cultural'" (click)="filterBycultural()">Cultural</a>
          </li>
          <br/>
          <li>
            <a [class.active]="filterBy==='others'" (click)="filterByothers()">Others</a>
          </li>

        </ul>
        <!--<div class="vertical_line" style="height:100px; width:1px;background:grey;position: absolute;
                z-index: 15;
                top: 70%;
                left: 400%;
                margin: -100px 0 0 -150px;">
        </div>-->

        <ul style="color:#fff;float: right;">
          <li>
            <a [class.active]="filterBy==='registeredevents'" (click)="filterByregisteredevents()">Registered Events</a>
          </li>
          <br/>
          <!-- <li><a  [class.active]="filterBy==='attendedevents'" (click)="filterByAttendedevents()">Attended Events</a></li> <br/> -->
          <li>
            <a [class.active]="filterBy==='certificates'" (click)="filterBymycertificates()">My Certificates</a>
          </li>
          <br/>

        </ul>

        <!-- Deemphasize a button by making it look like a link while maintaining button behavior -->
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="Scards" style="padding:3px;background-color:#fff;border-radius:5px;">
    <div *ngFor="let event of visibleEvents | eventsFilter:listFilter" class="col-md-3">
      <event-thumbnail [event]="event"></event-thumbnail>

    </div>

    <div class="noregisteredevents" *ngIf="!(visibleEvents?.length > 0)">
      No Events currently
    </div>
  </div>
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
          <h4 style="text-align:center;" class="modal-title">Request an Event</h4>
        </div>
        <div class="modal-body">
          <new-event-query-form></new-event-query-form>
        </div>
        <!-- <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div> -->
      </div>

    </div>
  </div>
</div>