<div class="row" style="margin: 15px;" >
    <form #form="ngForm" (submit)="submitForm(form)" novalidate >
        
        <div class="form-group" [class.has-error]="eventtitle.invalid && eventtitle.touched">
            <label class="control-label">Event Title</label>
            <input #eventtitle="ngModel" id="eventtitle" required name="eventtitle" [(ngModel)]="model.eventtitle" class="form-control">
            <div *ngIf="eventtitle.invalid && eventtitle.touched" class="alert alert-danger">
                Event Title is required.
            </div>
        </div>
        

         <div class="form-group" [class.has-error]="typeofrequest.invalid && typeofrequest.touched">
            <label class="control-label">Type Of Request</label>
            <select #typeofrequest="ngModel" id="typeofrequest" required name="typeofrequest" [(ngModel)]="model.typeofrequest" class="form-control">
                <option value=""selected disabled>Select Type Of Request...</option>
                <option value="event">Event</option>
                <option value="workshop"> Workshop</option>
                <option value="seminar">Seminar</option>
                <option value="bootcampinskillPracticalcurriculum ">Bootcamp In SkillPractical Curriculum </option>
                <option value="others">Others</option>
           </select>
            <div *ngIf="typeofrequest.invalid && typeofrequest.touched" class="alert alert-danger">
                Type Of Request is required.
            </div>
        </div>

         <div class="form-group" [class.has-error]="natureofevent.invalid && natureofevent.touched">
            <label class="control-label">Nature of Event</label>
            <select #natureofevent="ngModel" id="natureofevent" required name="natureofevent" [(ngModel)]="model.natureofevent" class="form-control">
                <option value=""selected disabled>Select Nature of Event...</option>               
                <option value="technical">Technical</option>
                <option value="nontechnical">Non Technical</option>
            </select>
            <div *ngIf="natureofevent.invalid && natureofevent.touched" class="alert alert-danger">
                Nature of Event is required.
            </div>
        </div>
        
        <div class="form-group" [class.has-error]="eventdescription.invalid && eventdescription.touched">
            <label class="control-label">Event Description</label>
            <textarea #eventdescription="ngModel" id="eventdescription" required name="eventdescription" [(ngModel)]="model.eventdescription" class="form-control">
            </textarea>
            <div *ngIf="eventdescription.invalid && eventdescription.touched" class="alert alert-danger">
                Event Description is required.
            </div>
        </div>

        <button class="btn btn-success" type="submit"
        [disabled]="form.invalid"> Request </button>
        <button type="button" class="btn btn-default m-close"  data-dismiss="modal" (click)="closemodel(form)" #closeBtn>Close</button>

        <!-- <button data-dismiss="modal" #closeBtn click="closeModel(form)" class="btn disabled">Close</button> -->
    </form >
</div>

<style>

label {
            font-weight: 700;
            font-size: 12px;
            text-transform: uppercase;
            color: grey;
            margin-bottom: 5px;
            display: block;
        }
        .m-close{
            float:right;
        }
</style>


