<div class="container-fluid m-fluid">
		<div class="row">
	      <div class="col-md-4">
	        <h4 class="m-heading"> Projects: get hands-on practice
	        	<span> 
	        		<button type="button"class="btn btn-primary m-btn" (click)="clearAllFilters()"> <span class="glyphicon glyphicon-repeat"></span>&nbsp;clear</button>
          		</span>
	        </h4>
	        <h5 class="m-h5"> 
	        	Projects give you hands-on practice with Engineering technologies via step-by-step instructions. You'll gain new skills
		        — and confidence — faster than you thought possible.
		    </h5>
	      </div>
	  
	      <div class="col-md-5 aligncenter0">
					<a [routerLink]="['/projects/projectsList']" class="clbtn">Academics</a>
	  			<a class="crbtn">DIY</a>
	      </div>

	      <div class="col-md-3">
	  		<div class="input-group">
          		<input type='text' class="form-control" placeholder="Project Search.." (keyup)="textSearch()" [(ngModel)]="search_text" />
          		<span class="input-group-addon" id="basic-addon1"><i class="fa fa-search" aria-hidden="true"></i></span>
        	</div>
        	<div class="socialimg">
				<share-buttons [tumblr]="false" [pinterest]="false" [stumbleUpOn]="false" [reddit]="false" [url]="linkToShare" [title]="'Projects: get hands-on practice'"
				[tags]="'sample Tags'" [description]="'Dist'" [image]="'Sample'"></share-buttons>
          </div>
	      </div>

	    </div>
	    <hr>
	    <div class="row">
	    	<div class="col-md-3 col-xs-6 pcontent m-colpd m-brdr">
					<ul>
						<li>
								<span [class.active]="selectedBranch == '' && search_text == ''" (click)="clearBranchSelection()">ALL</span>
						</li>
						<li *ngFor="let branch of branches">
							<span [class.active]="isBranchSelected(branch.branch_id)" (click)="loadSubjects(branch.branch_id)">{{ branch.branch_name }}</span>
						</li>
					</ul>       
		    </div>
		    <div class="col-md-3 col-xs-6 m-colpd m-brdr">
		        <div class="pcontent">
							<ul>
								<li *ngFor="let subject of subjects">
									<span [class.active]="isSubjectSelected(subject.subject_id)" (click)="selectSubject(subject.subject_id)" [innerHTML]="subject.subject_name"></span>
								</li>
							</ul>        
		        </div>
		    </div>
		    <div class="col-md-3 col-xs-6 m-colpd m-brdr" >
		        <div class="pcontent" [ngStyle]="starredclickstyle">
							<ul>
								<li><span [class.active]="isProjectLevelSelected('beginner')" (click)="selectProjectLevel('beginner')">Beginner</span></li>
								<li><span [class.active]="isProjectLevelSelected('intermediate')" (click)="selectProjectLevel('intermediate')">Intermediate</span></li>
								<li><span [class.active]="isProjectLevelSelected('expert')" (click)="selectProjectLevel('expert')">Expert</span></li>
							</ul>
		        </div>
		    </div>
		    <div class="col-md-3 col-xs-6 m-colpd">
						<div class="overflow">
							<div class="checkboxbtn">
								<ul>
										<li><mat-checkbox [name]="completed" [(ngModel)]="completed" (change)="getPage(1)"><span class="">Completed</span></mat-checkbox></li>
										<li><mat-checkbox [name]="resumed" [(ngModel)]="resumed" (change)="getPage(1)"><span class="">Resumed</span></mat-checkbox></li>
										<li><mat-checkbox [name]="savedtest" [(ngModel)]="savedtest" (change)="getPage(1)"><span class="">Saved</span></mat-checkbox></li>    
								</ul>
							</div>                                         
					</div>                              
		    </div>
	    </div>
</div>
<div class="reet">
	<div class="has-text-centered">
			<div class="spinner" [ngClass]="{ 'hidden': !loading }"></div>
			<pagination-controls (pageChange)="getPage($event)" id="pagination-div"></pagination-controls>
		</div>                        
</div>
<div class="container-fluid">
	<div class="row">
	  <div class="col-md-3" *ngFor="let project_info of searchResult  | async | paginate: { id: 'pagination-div', itemsPerPage: itemsPerPage, currentPage: p, totalItems: total }" >
				<app-diyprojectcarddisplay [projectInfo]="project_info"  [userProjectInfo]="project_info.user_project_info" [userFavInfo]="project_info.user_fav_project_info" [userLikeInfo]="project_info.user_liked_project_info"></app-diyprojectcarddisplay>
	  	</div>	
	</div>
</div>


