.active {
    position: relative;
    display: inline-block;
    padding: .4em .5em;
    margin: 2px 2px 2px 0;
    font-size: 11px;
    line-height: 1;
    white-space: nowrap;
    text-decoration: none;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-radius: 0;
    transition: all .15s ease-in-out;
    color: #39739d;
    background-color: #E1ECF4;
    border-color: transparent;
}
.favorite-test{
    color: red;
  }

.dropdown-menu.multi-column {
    width: 400px;

}

.dropdown-menu.multi-column .dropdown-menu {
    display: block !important;
    position: static !important;
    margin: 0 !important;
    border: none !important;
    box-shadow: none !important;
}

.noprojectscurrently {
    margin-top: 4em;
    font-size: 42px;
    text-align:center;
    color: darkgrey;
    margin-bottom:4em;
}


.noregisteredprojects {
    margin-top: 4em;
    font-size: 42px;
    text-align: center;
    color: darkgrey;
}
a{
    cursor: pointer;
}
.mat-card{
    padding: 0;
}
.blockh3 {
    height: 70px;
    text-align: center;
    background-color: #3a4255;
    margin: 0px;
    padding-bottom: 24px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
}
.project-title {
    margin-left: 0px;
    padding: 16px 4px;
    font-size: 13px;
    line-height: 16px;
    color: lightgrey;
}


.thumbheader
{
  width: 100%;
    background-color: #ffffff;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);

}
.blockh3{
  height: 70px;
    text-align: center;
    /* background-color: #8f9092; */
    background-color: #3a4255;
    margin: 0px;
    padding-bottom: 24px;
    /* border: 2px solid#ccc; */
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
        box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
  }

.thumbcontent {
     height: 100px;
}

tbody{
  font-weight: 300;
}

/*button {
    margin-right: 11px;
}*/

.project-title{
  margin-left: 0px;
  padding: 16px 4px;
  font-size: 13px;
  line-height: 16px;
  color: lightgrey

  }

  .thumbnail {height: 260px;border: 2px solid #ccc;}
  .pad-left { margin-left: 10px; }

  .glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased
  }
  .m-button{
    margin-right: 11px;
    background: #8f9092;
    margin-bottom: 10px;
    color: #fff !important;
    border-radius: 4px;
    text-decoration: none;
  }
  .m-button:hover{
    background: #337ab7;
  }




#kb_widget {
        position: fixed;
        bottom: 30px;
        right: 30px;
        border: 1px solid #eeeeee;
        z-index: 1000;
    }
    #kb_widget #kb_widget_content {
        float: right;
        width: 350px;
        height: 340px;
        right: -5px;
        bottom: -20px;
        position: absolute;
        border: 1px solid #e8e8e8;
        background-color: white;
        padding: 8px;
        -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.28);
        -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.28);
        box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.28);
        overflow: hidden;
        z-index: 999;
    }
    div #kb_widget_button button {
        background: linear-gradient(to right, #49c593, #009ece);
        color: #fff;
        border: 0;
        font-size: 22px;
        padding: 8px 25px 8px 65px;
        position: relative;
        font-weight: 600;
        filter: drop-shadow(2px 2px 3px rgba(0,0,0, 0.28));
        -webkit-filter: drop-shadow(2px 2px 3px rgba(0,0,0, 0.28));
        border-radius: 3px!important;
    }
    div #kb_widget_button button img {
        position: absolute;
        left: -35px;
        top: -16.58px;
        height: 80px;
    }

    .btn-group-sm {
        margin-left: 67px;color:#fff;
    }


    #m-1 {
        width:200px;height:130px;overflow-y:auto;overflow-x:hidden;float:left;
    }

    #m-2 {
        width:200px;height:130px;overflow-y:auto;overflow-x:hidden;float:left;
    }

    #m-3 {
        width:200px;height:130px;overflow-y:auto;overflow-x:hidden;float:left;margin-left:20px;
    }

    #m-4 {
        width:200px;height:130px;float:left;margin-left:20px;
    }

    .verical-line {
        height:132px;width:1px;background-color:#fff; float:left;margin-left:100px;
    }

    .verical-line1 {
        height:132px;width:1px;background-color:#fff; float:left;margin-left:100px;
    }

    .verical-line2 {
        height:132px;width:1px;background-color:#fff; float:left;margin-left:100px;
    }


    @media screen and (max-width: 414px) {


        .btn-group-sm {
            margin-left: 43px;
            color: #fff;
        }



        #m-1 {
            width: 135px;
            height: 141px;
            overflow-y: hidden;
            overflow-x: hidden;
            float: left;
            font-size: 11px;
            margin-left: -6px;
        }

        #m-2 {
            width: 200px;
            height: 130px;
            overflow-y: auto;
            overflow-x: hidden;
            float: left;
            margin-left: -74px;
            font-size: 13px;
        }

        #m-3 {
            width: 200px;
            height: 130px;
            overflow-y: auto;
            overflow-x: hidden;
            float: left;
            margin-left: -102px;
            margin-top: 0px;
            font-size: 13px;
        }

        #m-4 {
            width: 180px;
            height: 130px;
            float: left;
            margin-left: 284px;
            margin-top: -142px;
            font-size: 15px;
        }



        .verical-line {
            height: 132px;
            width: 1px;
            background-color: #fff;
            float: left;
            margin-left: -41px;
        }

        .verical-line1 {
            height: 132px;
            width: 1px;
            background-color: #fff;
            float: left;
            margin-left: -68px;
        }

        .verical-line2 {
            height: 130px;
            width: 1px;
            background-color: #fff;
            float: left;
            margin-left: -78px;
        }

        .btn-group-sm>.btn, .btn-sm {
            padding: 5px 10px;
            font-size: 11px;
            line-height: 1.5;
            border-radius: 3px;
        }


    }

    @media screen and (max-width: 375px) {

        .btn-group-sm>.btn, .btn-sm {
            padding: 5px 10px;
            font-size: 10px;
            line-height: 1.5;
            border-radius: 3px;
            margin-left: -7px;
        }
    }

    @media screen and (max-width: 360px) {

        .btn-group-sm>.btn, .btn-sm {
            padding: 6px 10px;
            font-size: 9px;
            line-height: 0.5;
            border-radius: 3px;
            margin-left: -9px;
        }
    }
    .input-group-addon {
        padding: 6px 12px;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.6 !important;
        color: #fff;
        text-align: center;
        background-color: #192639;
        border: 1px solid #192639;
        border-radius: 4px;
    }
.m-fluid{
    background-color:#3A4255;
    margin-top: 18pt;
    padding-top: 20pt;
}
.m-heading{
    display: inline;
    font-weight: 400;
    color: #fff;
    font-size: 22px;
    vertical-align: middle;
    margin-right: 10px;
}
.m-h5{
    color: #d4d4d5;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.5;
    text-align: justify;
}
.m-share{
    float: right;
}
.col-md-4, .col-md-3{
    padding-bottom:15px;
}
hr{
    margin-top: 20px;
    margin-bottom: 0px;
    border: 0;
    border-top: 2px solid #eee;
    margin-left: -15px;
    margin-right: -15px;
}
ul{
    list-style: none;
    -webkit-padding-start: 0px;
    height: 100px;
    overflow-y: scroll;
    color: #fff;
    font-size: 12px;
}
ul li {
    padding-bottom:5px;
    font-size:12px;
}
ul li a{
    cursor: pointer;
    padding-bottom: 5px;
    text-decoration: none;
    font-size:12px;
}
.m-colpd{
    padding: 30px 40px;
}

.m-allh4{
    font-size: 18px;
    margin-top: 25px;
    margin-bottom: 7px;
    line-height: 37px;
}

.socialimg ul li{
    display: inline;
    text-decoration: none;
    margin-right:1%;
  }
   .socialimg{
    padding-top: 0px;
    text-align: right;
  }
  .socialimg ul{
    padding-left: 0px;
  }
.socialimg img{
    width: 15%;
}
/*.whatsupimg img{
    padding-top:3%;
}*/
.clbtn{
    padding: 2%;
    color: #fff;
    background: #5F656F;
    border: 1px solid #7c7f86;
    padding-left: 4%;
    padding-right: 4%;
}
.crbtn{
    color: #fff;
    background: #36708D;
    border: 1px solid #0F89B4;
    padding: 2%;
    padding-left: 9%;
    padding-right: 9%;
    margin-left: -1%;
}
.aligncenter0{
    text-align: center;
}
.centertex h4{
    font-size: 18px;
    padding-top: 4%;
}
.centertex a{
    text-decoration: underline;
    color: #337ab7;
}
.timetext h4{
    font-size: 14px;
}
.arrowbtn{
    margin-left: -3%;
    width: 25%;
    color: #555;
    background: #eae7df;
    border: 2px solid #ddd;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
.arrowbtn img{
    width: 80%;
}
.steps{
    border: 1px solid #ddd;
    padding: 2.4%;
    padding-left: 13px;
    padding-right: 13px;
    padding-bottom: 4px;
    padding-top: 3px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.boxes{
    padding-top: 9%;
}
.timeright{
    text-align: center;
    padding-top: 2%;
}
.icons{
    padding-top: 4%;
}
.beginnnertext{
    padding-top: 3.5%;
    text-align: center;
    color: #000;
}
.beginnnertext h6{
    font-size: 17px;
    color: #000;
}
.thumbfooter{
    height: 65px;
}
.relatedtest-cards{
    margin-top: 6%;
    padding: 18px!important;
}
.icons ul li{
    text-decoration: none;
    display: inline;
    color: #000;
}
.icons ul{
    padding-left: 0;
    font-size: 10px;
}
.one{
    margin-left: 4%;
}
.two{
    margin-left: 1.5%;
}
.iconsocial{
    text-align: right;
    padding-right: 0;
    padding-left: 0;
}
.one img{
    width: 12px;
}
.slider {
    -webkit-appearance: none;
    width: 55%;
    height: 8px;
    background: #d3d3d3;
     outline: none;
    opacity: 0.7;
    transition: opacity .2s;
    border: 1px solid #d3d3d3;
    border-radius: 12px;
}
.paddingtop2{
    padding-top: 2%;
    padding-right: 0;
}
.timesliderper{
    padding-bottom: 2%;
}
.
.mainimg{
    padding-top: 4%;
}
.pecentagecolor{
    color: #ddd;
}









  /* ipad Portrait */
@media only screen
and (min-device-width: 1024px)
and (max-device-width: 1366px)
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 1.5) {
  /*.thumbcontent{
    margin-left: 41px;
    margin-top: 21px;
}*/
.blockh3{
  height: 86px;
}
}
.btn{
  padding: 4px 9px;
}









@media screen and (min-width:768px) {
    .m-brdr{
        border-right: 1px dotted #fff;
    }

}
.btn{
    padding: 4px 9px;
}
@media screen and (max-width:768px){
    .m-fluid{
        background-color:#3A4255;
        margin-top: 16pt;
        padding-top: 20pt;
    }
    .arrowbtn[_ngcontent-c4] {
    width: 16%;
    }
    .timeright {
    text-align: center;
    }
    .carimg{
        width: 100%;
    }
}
