<h1 mat-dialog-title>{{title}}</h1>
<mat-dialog-content>
    <div  *ngFor="let questionAndAnswer of questionAndAnswers">
        <div class="col-md-12 qnumber"><b>{{questionAndAnswer.question_number}}</b></div>
        <div class="col-md-12 margin-top-10">{{questionAndAnswer.question}}</div>
        <div class="col-md-12 margin-top-10 ">Correct Answer : <span  *ngFor="let correctAnswer of questionAndAnswer.correct_answer_info">{{correctAnswer.answer}},</span></div>
        <div *ngIf="questionAndAnswer.user_answer_info.status == 'correct'" class="col-md-12 margin-top-10 correct-answer">Your Answer : <span  *ngFor="let yourAnswer of questionAndAnswer.user_answer_info.user_answers">{{yourAnswer.answer}},</span></div>
        <div *ngIf="questionAndAnswer.user_answer_info.status == 'incorrect'" class="col-md-12 margin-top-10 wrong-answer">Your Answer : <span  *ngFor="let yourAnswer of questionAndAnswer.user_answer_info.user_answers">{{yourAnswer.answer}},</span></div>
        <div class="col-md-12 margin-top-10">Explanation :</div>
        <div class="col-md-12 margin-top-10">{{questionAndAnswer.question_solution}}</div>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button [mat-dialog-close]="true">Close</button>
 </mat-dialog-actions>