.margin-top-10{
    margin-top:10px;
}
.correct-answer{
    color:green;
}
.wrong-answer{
    color: red;
}
button{
    background-color: darkgreen;
    color: #fff;
  }

.qnumber{
	padding-top: 2%;
}



@media(max-width: 1229px){
  
}
@media(max-width: 1200px){
  
}
@media(max-width: 990px){
  .action-button-wrapper[_ngcontent-c1] {
    padding-top: 2%;
}
}
@media(max-width: 767px){

} 
@media(max-width: 400px){

} 
