<br><br>
<ng-container  *ngIf="testInfo">
    <div class="container-fluid">
        <div class="testdetails-card" class="container-full" fxLayout="row" fxLayoutWrap>
            <mat-card-header>
              <mat-card-title><h2>Test Details</h2></mat-card-title>
            </mat-card-header> 
        <mat-card-content>     
          <div class="row">
            <div class="col-md-9">
                <div class="row">
                  <div class="col-md-2 title">Test ID </div><div class="col-md-10 content" >{{testInfo.test_display_id}}</div>
                </div>
                <div class="row">
                  <div class="col-md-2 title">Test Name </div><div class="col-md-10 content"  [innerHTML]="testInfo.test_name">{{testInfo.test_name}}</div>
                </div>
                <div class="row">
                  <div class="col-md-2 title">Branch </div><div class="col-md-10 content" *ngIf="testInfo.subject_info.branch">{{testInfo.subject_info.branch.branch_name}}</div>
                </div>
                <div class="row">
                  <div class="col-md-2 title">Subject </div><div class="col-md-10 content" *ngIf="testInfo.subject_info"  [innerHTML]="testInfo.subject_info.subject_name">{{testInfo.subject_info.subject_name}}</div>
                </div>
                <div class="row">
                  <div class="col-md-2 title">Description </div><div class="col-md-10 content" [innerHTML]="testInfo.test_contents"><p>{{testInfo.test_contents}}</p></div>
                </div>
                <div class="row">
                  <div class="col-md-2 title">Content </div><div class="col-md-10 content"  [innerHTML]="testInfo.test_prerequisites"><p>{{testInfo.test_prerequisites}}</p></div>
                </div>
            </div>
            <div class="col-md-3">
              <div class="row">            
                <div class="col-md-9 title">Quesitons</div><div class="col-md-3 content">{{testInfo.test_no_of_question}}</div>
              </div>
              <div class="row">
                <div class="col-md-9 title">Time</div><div class="col-md-3 content">{{(hoursDisplay != '00') ? hoursDisplay+'hr' : ''}} {{(minutesDisplay) && (minutesDisplay <= 59) ? minutesDisplay+'min' : ''}} {{(secondsDisplay) && (secondsDisplay <= 59) ? secondsDisplay+'sec' : ''}}</div>
              </div>
              <div class="row">
                <div class="col-md-9 title">Score</div>
                <div class="col-md-3 content" *ngIf="!isString(testInfo.user_test)">{{testInfo.user_test.score}}</div>
                <div class="col-md-3 content" *ngIf="isString(testInfo.user_test)">0/{{testInfo.test_no_of_question}}</div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="test-status not-started-yet" *ngIf="isString(testInfo.user_test)">Not Started Yet</div>
                  <div class="test-status completed" *ngIf="testInfo.user_test.status == 'completed'">Completed</div>
                  <div class="test-status resumed" *ngIf="testInfo.user_test.status == 'not_completed'">Resumed</div>
                </div>
              </div>
            </div>
            <div class="col-md-offset-9 col-md-3 action-button-wrapper" *ngIf="isString(testInfo.user_test)"><a mat-raised-button [routerLink]="['/tests/testinstruction/', testInfo.test_id]">Start Test</a></div>
            <div class="col-md-offset-9 col-md-3 action-button-wrapper" *ngIf="testInfo.user_test.status == 'completed'"><button mat-raised-button (click)="showQuestionAnswers()">Check Answers</button></div>
            <div class="col-md-offset-9 col-md-3 action-button-wrapper" *ngIf="testInfo.user_test.status == 'not_completed'"><a mat-raised-button [routerLink]="['/tests/testinstruction/', testInfo.test_id]">Resume</a></div>
          </div>
          <div class="row" *ngIf="!isString(testInfo.related_test)">
            <h4>Related Test</h4>
            <div class="col-md-6" *ngFor="let related_test_info of testInfo.related_test" >
                <app-testcarddisplay [testInfo]="related_test_info.test_related_test_info" [userTestInfo]="related_test_info.user_test_info" [userFavInfo]="related_test_info.user_fav_test"></app-testcarddisplay>
              </div>
          </div>
        </mat-card-content>
        </div>
        </div>
</ng-container>

