.toolbar-btn {
  color: white;
  background-color: gray;
}

.toolbar-select {
  width: 200px;
  margin: 10px;
}

.toolbar-link {
  margin: 10px;
}

.example-spacer {
  flex: 1 1 auto;
}

.action-btn {
  margin: 10px 0;
}
.action-button-wrapper{
  text-align: center;
}
.action-button-wrapper a,.action-button-wrapper button{
  background-color: darkgreen;
  color: #fff;
}
.width-50 {
  float: left;
  width: 50%;
}

.row{
  margin-top: 10px;
}

.title{
  font-size: 20px;
  color: #337ab7;
}

.content{
  font-size: 15px;
  padding-top: 5px;
}

.content p{
  text-align: justify;
}

.test-status{
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 18px;
}
.not-started-yet{
  background-color: blue;
  color: #FFF;
}
.completed{
  background-color: green;
  color: #FFF; 
}
.resumed{
  background-color: yellow;
  color: #000;   
}




@media(max-width: 1229px){
  
}
@media(max-width: 1200px){
  
}
@media(max-width: 990px){
  .action-button-wrapper[_ngcontent-c1] {
    padding-top: 2%;
}
}
@media(max-width: 767px){

} 
@media(max-width: 400px){
  
} 