<div class="col-md-4">
  <div class="thumbnail">
    <h4 class="m-title">{{workshop.workshop_title}}</h4>
    <img src="{{workshop.workshop_imageurl}}" alt="">
    <div class="caption">
<div class="row">
  <div class="col-md-8 col-xs-8">
      <p><span class="m-span">Start from :</span> Rs. {{workshop.start_price}}/- per head</p>
      <p><span class="m-span">Duration :</span> {{workshop.days}}</p>
      <p><span class="m-span">Event Type :</span> {{workshop.type}}</p>
  </div>
  <div class="col-md-4 col-xs-4">
      <div class="text-right">
          <a class="btn btn-info btn-xs m-btn" [routerLink]="['/workshopdetail',workshop.workshop_id,workshop.workshop_title,workshop.type]" role="button">More</a>
          </div>
    </div>
</div>
      
     
    </div>
  </div>
</div>