.thumbnail {
    position: relative;
    padding: 0px;
    margin-bottom: 30px;
}

.thumbnail img {
    width: 100%;
}
.m-title{
    padding-top: 10px;
    padding-left: 10px;
    font-size: 16px;
    background: #dddddd73;
    margin-bottom: 0px;
    color: #192639;
    padding-bottom: 10px;
}
.thumbnail .caption {
    position: relative;
    padding: 18px 10px;
    margin-bottom: 0px;
    background: #f0f0f0;
    box-shadow: 6px 5px 13px #d4d4d5;
}
.m-span{
    color: #192639;
    font-weight: 500;
    padding-right: 4px;
}
.m-btn{
    padding: 3px 11px;
    font-size: 14px;
    margin-top:9px;
}