<body class="member-body">
    <div>
        <a class="bnrlink" href="/">
            <div class=" m-banner">

                <h1>MEMBERSHIP</h1>
                <h4>" Skill to Share - Speech to Deliver "</h4>

            </div>
        </a>
    </div>

    <!-- <div id="img_container">
        <img src="http://www.bmtweb.com/img/contact-hd.jpg" width="1370px" height="300px"/>
        <button class="button"> Become a Member </button>
    </div>  -->

    <!-- <div id="header1">
        
          <p style="margin-top: 20px;position: absolute;margin-left: 450px;font-size: 18px;color: white;font-family: lacto;">
                ONLINE & INCLASS SERVICES - 24/7 CUSTOMER SUPPORT</p>
        
        </div> -->

    <!-- <p style="margin-top: 4px;
    position: absolute;
    margin-left: 530px;
    font-size: 30px;
    color: black;
    font-family: lacto;">
    Our Services include...</p> -->
    <br/>
    <p class="m-memberP">
        Member Services </p>
    <br/>
    <br/>
    <br/>
    <br/>

    <head>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1"
            crossorigin="anonymous">
    </head>
    <div class="container m-services">
        <div class="row">



            <div class="col-sm-4">
                <div class="service-card">
                    <i class="fa fa-puzzle-piece" aria-hidden="true"></i>
                    <br>
                    <br>
                    <strong style="font-size:18px;">Consulting</strong>
                    <br>
                    <br>
                    <p style="font-size:13px;">
                        We Provide Consulting services to Educational Institutions. We design solutions through our application and provide services
                        through our resources.

                    </p>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="service-card">
                    <i class="fa fa-group" aria-hidden="true"></i>
                    <br>
                    <br>
                    <strong style="font-size:18px;">Community</strong>
                    <br>
                    <br>
                    <p style="font-size:13px;">
                        Hub to communicate with current generation. a social group responds to your comments, posts and queries through which students
                        can acquire solution, share knowledge and experiences in the community.
                    </p>
                </div>

            </div>

            <div class="col-sm-4">
                <div class="service-card">
                    <i class="fa fa-meetup" aria-hidden="true"></i>
                    <br>
                    <br>
                    <strong style="font-size:18px;">Events & Workshops </strong>
                    <br>
                    <br>
                    <p style="font-size:13px;">
                        Mark free time in your calendar and Quote for Events, Workshops and Seminars organized by Skillpractical. Get placed in our
                        potential member list in less time.

                    </p>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-sm-4">
                <div class="service-card">
                    <i class="fa fa-tasks" aria-hidden="true"></i>
                    <br>
                    <br>
                    <strong style="font-size:18px;">Projects</strong>
                    <br>
                    <br>
                    <p style="font-size:13px;">
                        We assist students to implement the most practical methods for their theoretical thoughts. This gives a chance for a successful
                        implementation of their workflow and gain expertise.

                    </p>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="service-card">
                    <i class="fa fa-share-alt" aria-hidden="true"></i>
                    <br>
                    <br>
                    <strong style="font-size:18px;">Tutoring</strong>
                    <br>
                    <br>
                    <p style="font-size:13px;">
                        Sharp your skills and let the world know your talent. Get a chance to tutor Skillpractical students online & in-class.

                    </p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="service-card">
                    <i class="fa fa-handshake-o" aria-hidden="true"></i>
                    <br>
                    <br>
                    <strong style="font-size:18px;">Referrals</strong>
                    <br>
                    <br>
                    <p style="font-size:13px;">
                        Explore our student and vendor database. Get referral bonus by referring them to your organization, educational consultancies
                        and more. Become career provider for student's bright future.
                    </p>
                </div>
            </div>
        </div>
        <br/>
        
        <div class="row">
            <div class="col-sm-4">
                    <div class="service-card">
                <i class="fa fa-money" aria-hidden="true"></i>
                <br>
                <br>
                <strong style="font-size:18px;">Earn more </strong>
                <br>
                <br>
                <p style="font-size:13px;">
                    Get free coupons for certifications, conferences and more. Your activity and responses are the only parameters we consider.
                </p>
                </div>
            </div>
            <div class="col-sm-8">
                <!--Member Login Button -->
                <br><br>
                <button class="button1" data-toggle="modal" data-target="#modalusersignup">
                    <span>Become a member </span>

                </button>
            </div>
        </div>
        <br/>
        <br/>
        <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
            <div style="background-color: white;">
                <!--  class="well shadow" -->
                <header class="w3-container">
                    <h3>
                        <b>
                            <i class="fa fa-line-chart"></i>
                            &nbsp;Memeber Progress Bar</b>
                    </h3>
                    <br/>
                </header>
                <div class="w3-container">
                    <div class="row  bars-pad">
                        <div class="col-md-2">
                            <div class="bar-label">START </div>
                        </div>
                        <div class="col-md-5">
                            <div class="bggray">
                                <div class="w3-container w3-center w3-padding bggray" style="width:0%;float:left;color:white; background-color:white;"></div>

                                <div role="progressbar" class="progress-bar progress-bar-success progress-bar-striped active" style="padding: 4px;width:100%;overflow:hidden;">
                                    Register</div>
                            </div>
                        </div>
                        <div class="col-md-5">

                        </div>
                    </div>
                    <!-- SHARE -->
                    <div class="row  bars-pad">
                        <div class="col-md-2">
                            <div class="bar-label">SHARE</div>
                        </div>
                        <div class="col-md-5">
                            <div class="bggray">
                                <div class="w3-container w3-center w3-padding bggray" style="width:10%;float:left;color:white; background-color:white;"></div>

                                <div role="progressbar" class="progress-bar progress-bar-default progress-bar-striped active" style=" padding:4px; width:100%;overflow:hidden;">
                                    Participate in Community </div>
                            </div>
                        </div>
                        <div class="col-md-5">

                        </div>
                    </div>
                    <!-- COMMUNICATE -->
                    <div class="row  bars-pad">
                        <div class="col-md-2">
                            <div class="bar-label">COMMUNICATE</div>
                        </div>
                        <div class="col-md-5">
                            <div class="bggray">
                                <div class="w3-container w3-center w3-padding bggray" style="width:30%;float:left;color:white; background-color:white;"></div>

                                <div role="progressbar" class="progress-bar progress-bar-danger progress-bar-striped active" style=" padding:4px; width:100%;overflow:hidden;">
                                    Events & Workshops</div>
                            </div>
                        </div>
                        <div class="col-md-5">

                        </div>
                    </div>
                    <!-- ACQUIRE -->
                    <div class="row  bars-pad">
                        <div class="col-md-2">
                            <div class="bar-label">ACQUIRE</div>
                        </div>
                        <div class="col-md-5">
                            <div class="bggray">
                                <div class="w3-container w3-center w3-padding bggray" style="width:50%;float:left;color:white; background-color:white;"></div>

                                <div role="progressbar" class="progress-bar progress-bar-warning progress-bar-striped active" style="padding:4px; width:100%;overflow:hidden;">
                                    Certificate coupons & Conference access
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">

                        </div>
                    </div>
                    <!-- SUCCESS -->
                    <div class="row  bars-pad">
                        <div class="col-md-2">
                            <div class="bar-label">SUCCESS</div>
                        </div>
                        <div class="col-md-5">
                            <div class="bggray">
                                <div class="w3-container w3-center w3-padding bggray" style="width:70%;float:left;color:white; background-color:white;"></div>

                                <div role="progressbar" class="progress-bar progress-bar-success progress-bar-striped active" top-margin="10px" style="padding:4px; width:100%;overflow:hidden;">
                                    Become a Golden member</div>
                            </div>
                        </div>
                        <div class="col-md-5">

                        </div>
                    </div>
                    <div class="row" style="">


                    </div>
                </div>
            </div>

        </div>
    </div>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
        crossorigin="anonymous">
    <br/>

    <!-- Hemanth - for image overrelay  -->
    <div class="container bg-overlay">
        <div class="row text-center">
            <h2>ONLINE EDUCATIONAL HUB</h2>
            <br/>
            <h4>Join your hands with Skillpractical for advancement of technology</h4>
            <br>
            <br>
            <button type="button" class="btn btn-primary btn-lg">MEMBER LOGIN</button>
        </div>
    </div>
    <!-- Hemanth - for image overrelay  -->


    <div class="container content1">
        <p class="m-content1">What Our Customer says...</p>
        <br/>
        <br/>
        <div class="row">
            <div class="column">
                <div class="col-md-6">
                    <div class="testimonials">
                        <div class="active item">
                            <br>
                            <blockquote>
                                <p>
                                    Skillpractical mission to foster technological innovation and excellence for the benefit of humanity, Challenge's us to work
                                    towards a better future of educational institutions and there's never a better and more
                                    exciting time to be a member of Skillpractical, every second as a member drives me to
                                    improve my expertise, don't wait to be part of this meaningful mission. I hope you will
                                    take this opportunity and experience yourself what I discovered when I joined this dynamic
                                    community.

                                </p>
                            </blockquote>
                            <div class="carousel-info">
                                <img alt="" src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAscAAAAJGU1OWMwMGU1LTE3MzEtNDY2ZC05YmIxLWJmN2U5N2ZkYjI5Ng.jpg"
                                    class="pull-left">
                                <div class="pull-left">
                                    <span class="testimonials-name">Software Developer at ADT Securities</span>
                                    <span class="testimonials-post">- Giribabu</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="col-md-6">
                    <div class="testimonials">
                        <div class="active item">
                            <blockquote>
                                <p>
                                    I believe professionals and students in technology fields should join Skillpractical to help themselves in gaining expertise
                                    towards new technology. Competition for the jobs are increasing every year, companies
                                    value employees who have relationship with the Skillpractical community and hone their
                                    technical skills outside of the work hours. The innovative solutions provided by the
                                    Skillpractical pushes us to move forward in technical world. &emsp;&emsp; &ensp;&emsp;&emsp;
                                    &emsp;&emsp; &ensp;&emsp;&emsp; &emsp;&emsp; &ensp;&emsp;&emsp; &emsp;&emsp; &ensp;&emsp;&emsp;
                                </p>
                            </blockquote>
                            <div class="carousel-info">
                                <img alt="" src="https://pbs.twimg.com/profile_images/659945591368056832/XqElW1_7_400x400.jpg" class="pull-left">
                                <div class="pull-left">
                                    <span class="testimonials-name">Software Developer</span>
                                    <span class="testimonials-post">- Sandeep</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container content">
        <div class="row">
            <div class="column">
                <div class="col-md-6">
                    <div class="testimonials">
                        <div class="active item">
                            <br>
                            <blockquote>
                                <p>
                                    I am very thankful to the Skillpractical for making our organization to be a part of their great services. We are very happy
                                    to have this opportunity to improve our services and keep it more updated. We will do
                                    our best to provide better service in future with the help of Skillpractical.

                                </p>
                            </blockquote>
                            <div class="carousel-info">
                                <img alt="" src="https://s3-ap-southeast-1.amazonaws.com/tv-prod/member/photo/2903457-medium190.png" class="pull-left">
                                <div class="pull-left">
                                    <span class="testimonials-name">CYBERAEGIS</span>
                                    <span class="testimonials-post">- Rama Krishna</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="col-md-6">
                    <div class="testimonials">
                        <div class="active item">
                            <blockquote>
                                <p>
                                    I was impressed with the level of events conducted by the Skillpractical. There has been a nice level of consistency in professionalism,
                                    communication and every service they provide. &emsp;&emsp; &ensp;&emsp;&emsp; &emsp;&emsp;
                                    &ensp;&emsp;&emsp; &emsp;&emsp; &ensp;&emsp;&emsp; &emsp;&emsp; &ensp;&emsp;&emsp; &emsp;&emsp;
                                    &ensp;&emsp;&emsp;
                                </p>
                            </blockquote>
                            <div class="carousel-info">
                                <img alt="" src="https://s3.ap-south-1.amazonaws.com/sp-landingpage/Membership+Info/plain-backgrounds.png" class="pull-left">
                                <div class="pull-left">
                                    <span class="testimonials-name">Customer</span>
                                    <span class="testimonials-post">- Divya</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footercontent-page></footercontent-page>
</body>