/* Image Header */
.list-quotes {
  cursor: pointer;
  height: auto;
  /* width: 1364px; */
  margin-bottom: 30px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  border-bottom: #F0F8FF;
  background-color: #F0F8FF;
  padding-bottom: 0px;
  border: none;
}
.list-quotes img,
.list-quotes h1 {
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
}
.list-quotes img {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
/* Button */
.list-quotes h1{
  background: rgba(20,31,44,0.8);
  bottom: 130px;
  /* float: right; */
  color: #fff;
  font-size: 28px;
  font-weight: bold;
  padding: 5px;
  position: absolute;
  margin: 0;
  margin-left: 30px 
}

.list-quotes p {
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  margin: 0;
  padding: 10px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,50px,0);
  transform: translate3d(0,50px,0);
  font-size: 15px;
  font-weight: normal;
  background: rgba(31, 46, 46, 0.8);
  width: 100%;
  color: #fff;
}
.list-quotes:hover img {
  -webkit-transform: translate3d(0,-80px,0);
  transform: scale(1.2);
  transition: all 250ms ease;
}
.list-quotes:hover{
  box-shadow: 0 0 5px 2px rgba(51,153,153, 0.5);
}
.list-quotes:hover h1 {
  -webkit-transform: translate3d(0,-100px,0);
  /* Used for moving the image */
  transform: translate3d(0,-80px,0); 
  text-shadow: 0px 0 15px #fff;
  transition: all 250ms ease;
}
.list-quotes:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
.quotes span{
  color:#222;
  font-weight: bold;
  text-transform: capitalize;
  color: #fff;
}
/* Image Header */


/* #img_container {
    position:relative;
    display:inline-block;
    text-align:center;
  }
  .button {
      bottom: 10px;
      right: 10px;
      width: 150px;
      height: 30px;
      display: inline-block;
      text-align: center;
      position: absolute;
      left: 60px;
      top: 200px;
      background-color: #d8d0c2
  } 
  #header {
    width: auto; 
    height : auto;
  }
  #header1{
    background-color: #F0F8FF;     
    text-align: justify;
    margin:0px;
    height: 171px;
    border-radius: 0px;
    font-weight: normal;
    width: auto;
    overflow: hidden;
    margin-top: 15px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    } */
  
  /* For Features */
  h3 {
  font-size: 24px;
  text-align: center;
  color: #444444;
  font-family: lacto;
  font-weight: bold;
  font-size: 24px;
  }
  .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: -30px;
}

.button1 {
  border-radius: 4px;
  background-color: #03A9F4;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 22px;
  padding: 8px 16px;
  cursor: pointer;
  margin-top: 82px !important;
  margin-left: 0px !important;
}

.button1 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button1 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button1:hover span {
  padding-right: 25px;
}

.button1:hover span:after {
  opacity: 1;
  right: 0;
}
   /* For Features */

   
/* Hemanth - for image overrelay */
.bg-overlay {
  background: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.2)), url("https://s3.ap-south-1.amazonaws.com/sp-landingpage/Membership+Info/dark-blue-wallpaper.png");
  background-repeat: repeat;
  background-size: cover;
  background-position: center center;
  color: #fff;
  width:1244.5px;
  padding-top: 90px;
  padding-bottom: 50px;
  margin-top: 30px;
  width: auto;
  /* opacity: 1; */ 
}
.member-body{
  padding-top: 0px;
}
.btn[_ngcontent-c6] {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  color: rgba(19, 18, 18, 1);
  background-image: none;
  border: 1px solid #d95c5c;
  border-radius: 0px;
}

.btn-primary {
  color: #fff;
  background-color: #3b83c0;
    border-color: #3b83c0;
}

*{
  font-family: 'Poppins', sans-serif;
}
.testimonial_subtitle{
   color: #0aaa7a;
   font-size: 12px;
}
 .testimonial_btn{
   background-color: #373d4b !important;
   color: #fff !important;
}
.seprator {
   height: 2px;
   width: 56px;
   background-color: #0aaa7a;
   margin: 7px 0 10px 0;
}


h4 { 
  display: block;
  font-size: 2em;
  /* margin-top: 40px; */
  margin-bottom: 0.67em;
  margin-left: 2px;
  margin-right: 2px;
  font-weight: bold;
}
/* Hemanth - for image overrelay */


  /* Hemanth - For Testimonals */
.content {
  padding-top: 30px;
  margin-bottom: 20px;
}
.content1 {
  padding-top: 30px;
}

/* Testimonials */
.testimonials blockquote {
  background: #f8f8f8 none repeat scroll 0 0;
  border: medium none;
  color: #666;
  display: block;
  font-size: 14px;
  line-height: 20px;
  padding: 15px;
  position: relative;
}
.testimonials blockquote::before {
  width: 0; 
  height: 0;
right: 0;
bottom: 0;
content: " "; 
display: block; 
position: absolute;
  border-bottom: 20px solid #fff;    
border-right: 0 solid transparent;
border-left: 15px solid transparent;
border-left-style: inset; /*FF fixes*/
border-bottom-style: inset; /*FF fixes*/
}
.testimonials blockquote::after {
  width: 0;
  height: 0;
  right: 0;
  bottom: 0;
  content: " ";
  display: block;
  position: absolute;
  border-style: solid;
  border-width: 20px 20px 0 0;
  border-color: #e63f0c transparent transparent transparent;
}
.testimonials .carousel-info img {
  border: 1px solid #f5f5f5;
  border-radius: 150px !important;
  height: 75px;
  padding: 3px;
  width: 75px;
}
.testimonials .carousel-info {
  overflow: hidden;
}
.testimonials .carousel-info img {
  margin-right: 15px;
}
.testimonials .carousel-info span {
  display: block;
}
.testimonials span.testimonials-name {
  color: #e6400c;
  font-size: 16px;
  font-weight: 300;
  margin: 23px 0 7px;
}
.testimonials span.testimonials-post {
  color: #656565;
  font-size: 12px;
}

/* For Testimoanls */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.column {
  /*float: left;  width: 50%;  height: 300px;*/
  padding: 10px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
@-ms-viewport{
    width: device-width;
  }

#paragraph {
  margin-top: 15px;
  position: absolute;
  margin-left: 420px;
  text-align:center;
  margin-bottom:-110px;
  font-size: 24px;
  color: #444444;
  font-weight: bold;
  font-family: lacto;
}  

#services {
  margin-top: 4px;position: absolute;margin-left: 530px;font-size: 30px;color: black;font-family: lacto;
}
@media screen and (max-width: 414px) {
  
 
  #paragraph {
    margin-top: 37px;
    position: absolute;
    margin-left: 41px;
    text-align: center;
    margin-bottom: -110px;
    font-size: 24px;
    color: #444444;
    font-weight: bold;
    font-family: lacto;
  }

  #services {
    margin-top: 4px;
    position: absolute;
    margin-left: 23px;
    font-size: 30px;
    color: black;
    font-family: lacto;
  }
}  
 .m-memberP{
  margin-top: 15px;
  font-size: 30px;
  color: black;
  font-family: lacto;
  text-align: center;
  font-weight: 600;
  margin-bottom: -29px;
 }
 .m-content1{
  margin-top: 15px;
  text-align:center;
  text-align: center;
  font-size: 24px;
  color: #444444;
  font-weight: bold;
  font-family: lacto;
 }
 .bars-pad{
   padding-bottom: 15px;
 }
 .bar-label{
   font-size: 16px;
   font-weight: 500;
 }
 .m-banner{
  background: #0180a3;
  padding:60px 0px;
  text-align:center;
  color:#fff;
}
.m-banner h1{
  text-transform: uppercase;
  font-weight: 500;
  padding-bottom: 8px;
  font-size: 30px;
}
.m-banner h4{
  font-size: 18px;
  font-weight: 500;
}
.m-bannrlink{
  width:100% !important;
}
.bnrlink{
  text-decoration:none !important;
}
.m-services{
  text-align: center;
}
.m-services .fa{
  color:#3b83c0;
  font-size: 3em;
}
.service-card{
  margin-bottom: 20px;
  border: 1px solid #8080804d;
  padding: 50px 33px;
  box-shadow: 0px 5px 13px #808080a6;
  height: 340px;
  min-height: 270px;
}
.m-rw{
  margin-bottom: -20px;
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) { 
  .service-card{
    height:330px;
  }
  .nav>li>a {
    position: relative;
    display: block;
    padding: 10px 12px !important;
}
}