<div class="container-fluid m-margin m-mobilepad">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12 m-mobilepad">
                         <h4 class="m-heading" [ngStyle]="filledstatustylegeneral" >General Settings</h4>
                    </div>
                </div>
            <form #form="ngForm" (submit)="submitForm(form)"  >
                <div class="row">
                    <div class="col-md-6 m-mobilepad">
                         <div class="form-group" [class.has-error]="firstname.invalid && firstname.touched">
                        <label class="control-label" for="firstname">First Name</label>
                        <input #firstname="ngModel" required type="text" class="form-control" name="firstname" 
                            [(ngModel)]="model.firstname" (ngModelChange)="changeVal()" > 
                        <div *ngIf="firstname.invalid && firstname.touched" class="alert alert-danger">
                            First Name is required.
                        </div>
                </div>
                    </div>
                    <div class="col-md-6 m-mobilepad">
                     <div class="form-group" [class.has-error]="lastname.invalid && lastname.touched">
                    <label class="control-label">Last Name</label>
                    <input #lastname="ngModel" required type="text" class="form-control" name="lastname" 
                        [(ngModel)]="model.lastname" (ngModelChange)="changeVal()">
                    <div *ngIf="lastname.invalid && lastname.touched" class="alert alert-danger">
                        Last Name is required.
                    </div>
                </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-6 m-mobilepad">
                         <div class="form-group" [class.has-error]="username.invalid && username.touched">
                    <label class="control-label">User Name</label>
                    <input #username="ngModel" required type="text" class="form-control" name="username" 
                        [(ngModel)]="model.username" readonly (ngModelChange)="changeVal()">
                    <div *ngIf="username.invalid && username.touched" class="alert alert-danger">
                       User Name is required.
                    </div>
                </div>
                    </div>
                    <div class="col-md-6 m-mobilepad">
                     <div class="form-group" [class.has-error]="emailid.invalid && emailid.touched">
                    <label class="control-label">Email Id</label>
                    <input #emailid="ngModel" required  type="text" class="form-control" name="emailid" (ngModelChange)="changeVal()" 
                        [(ngModel)]="model.emailid" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$" readonly>
                    
                    <small [hidden]="emailid.valid || (emailid.pristine && !form.submitted)" class="text-danger">
                        Email is required and format should be <i>john@doe.com</i>.
                      </small>
                </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-6 m-mobilepad">
                         <div class="form-group" [class.has-error]="phonenumber.invalid && phonenumber.touched">
                <label class="control-label">Phone Number</label>
                <input #phonenumber="ngModel" required type="number" class="form-control" name="phonenumber" 
                    [(ngModel)]="model.phonenumber" (ngModelChange)="changeVal()">
                <div *ngIf="phonenumber.invalid && phonenumber.touched" class="alert alert-danger">
                    Phone Number is required.
                </div>
            </div>
                    </div>
                    <div class="col-md-6 m-mobilepad">
                     <div class="form-group" [class.has-error]="address.invalid && address.touched">
                    <label class="control-label">Address</label>
                    <textarea  #address="ngModel" required type="text" class="form-control" name="address" 
                        [(ngModel)]="model.address" (ngModelChange)="changeVal()"></textarea>
                    <div *ngIf="address.invalid && address.touched" class="alert alert-danger">
                        Address is required.
                    </div>
                </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-6 m-mobilepad">
                          <div class="form-group" [class.has-error]="state.invalid && state.touched">
                    <label class="control-label">state</label>
                    <input #state="ngModel" required type="text" class="form-control" name="state" 
                        [(ngModel)]="model.state" (ngModelChange)="changeVal()">
                    <div *ngIf="state.invalid && state.touched" class="alert alert-danger">
                        State is required.
                    </div>
                </div>
                    </div>
                    <div class="col-md-6 m-mobilepad">
                    <div class="form-group" [class.has-error]="district.invalid && district.touched">
                    <label class="control-label">District</label>
                    <input #district="ngModel" required type="text" class="form-control" name="district" 
                        [(ngModel)]="model.district" (ngModelChange)="changeVal()">
                    <div *ngIf="district.invalid && district.touched" class="alert alert-danger">
                        District is required.
                    </div>
                </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center m-mobilepad">
                        <button class="btn btn-success" type="submit" [disabled]="noChangeYet"> Save Changes </button>
                        <!-- [disabled]="!isValidForm()"
                [disabled]="!form.invalid" -->
                    </div>
                </div>
            </form>  
            </div>
            <div class="col-md-6">
            </div>
        </div>
    </div>
    