<div  class="col-md-12">
    
  <h4><b><kbd style="background-color: #a09c9c ; font-size:20px;">New Project Queries</kbd></b></h4>
  <br>
  <div class="row" *ngFor="let newprojectqueries of newprojectqueries | paginate: { itemsPerPage: 10, currentPage: p };">
  <div class="span12" >
      <div class="span8">
        <a style="text-decoration:none;font-size:16px;" class="m-npq" [routerLink]="['/community/newprojectqueries/newprojectquerydetail', newprojectqueries.queryid]" >{{newprojectqueries.title}}</a>
      </div>
    
   <div class="row">
    
      <div class="span10">      
       <p class="m-content">
         {{newprojectqueries.idea}}
        </p>
      </div>
    </div>
    <div class="row"> 
      <div class="span8">
        <p class="m-fa2">
         <i class="fa fa-user-circle-o"></i> by <font color="#3366BB ">{{newprojectqueries.username}}</font>
          | <i class="fa fa-github "></i> {{newprojectqueries.branch}}
          | <i class="fa fa-search "></i> <font color="#3366BB "> {{newprojectqueries.specialization}}</font>
          | <i class="fa fa-puzzle-piece"></i> {{newprojectqueries.projectgrouporindividual}}
          | <i class="fa fa-calendar"></i> {{newprojectqueries.Created}}
          <!--| <i class="fa fa-thumbs-up"></i> <a href="#">{{post.likes}} Likes</a>-->
          <!-- | <i class="fa fa-comments"></i> <font color="#3366BB ">{{post.commentcount}} Comments </font> -->
          <!-- | <i class="fa fa-share-alt"></i> <font color="#3366BB "> {{post.shares}} Shares </font> -->
          <!-- | <i class="icon-tags"></i> Tags : <a [routerLink]="['/community/postsbytag', post.tag]"><span class="label label-info">{{post.tag}}</span></a>  -->
          <a (click)="deleteNewQuery(newprojectqueries)" style="cursor:pointer"  class="btn-group btn-group-xs">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
             <span>Delete</span> 
         </a>
        </p>
        <hr>
        <p></p>
      </div>
    </div>
  </div>
  </div>

  <pagination-controls *ngIf="newprojectqueries" class="pagination" (pageChange)="p = $event"></pagination-controls>
  
  
  
  <style>
    .m-fa2 .fa{
      padding: 2px 1px;
    margin-top: 3px;
  }
  .m-content{
    padding-top: 5px;
    padding-bottom: 5px;
  }
    </style>
  </div>
