<div class="" >
    <form #form="ngForm" (submit)="submitForm(form)" novalidate >
        
         <div class="form-group" [class.has-error]="hasBranchError">
            <label class="control-label">Branch</label>
            <select class="form-control" #branch name="branch"  (blur)="validateBranch(branch.value)"
            (change)="validateBranch(branch.value)"
                [(ngModel)]="model.branch">
                <option value="default">Select Branch...</option>
                <option value="eee">Electrical</option>
                <option value="ece">Electronics</option>
                <option value="ece">Mechanical</option>
                <option value="ece">Civil</option>
                <option value="ece">Computer Science</option>
                <option value="ece">Information Technology</option>
                <option value="ece">Automobile</option>
            </select>
        </div> 
        <div class="form-group" [class.has-error]="hasSpecilizationError">
            <label class="control-label">Specialization</label>
            <select class="form-control" #specialization name="specialization"  (blur)="validateWhoswith(specialization.value)"
            (change)="validateSpecialization(specialization.value)"
                [(ngModel)]="model.specialization">
                <option value="default">Select Specialization...</option>
                <option value="java">java</option>
                <option value=".net">.net</option>
                <option value="android">Android</option>
                <option value="php">Php</option>
                <option value="python">Python</option>
                <option value="vlsi">Vlsi</option>
                <option value="embedded">Embedded</option>
                <option value="powersystems">Power Systems</option>
                <option value="controlsystems">Control Systems</option>
                <option value="autocad">AutoCad</option>
    
            </select>
        </div>
        <div class="form-group" [class.has-error]="title.invalid && title.touched">
            <label class="control-label">Project Title</label>
            <input #title="ngModel" required type="text" class="form-control" name="title" 
                [(ngModel)]="model.title">
            <div *ngIf="title.invalid && title.touched" class="alert alert-danger" >
                Title is required.
            </div>
        </div>
        <div class="form-group" [class.has-error]="idea.invalid && idea.touched">
            <label class="control-label">Project Idea</label>
            <textarea #idea="ngModel" required type="text" class="form-control" name="idea" 
                [(ngModel)]="model.idea"></textarea>
            <div *ngIf="idea.invalid && idea.touched" class="alert alert-danger">
                Idea is required.
            </div>
        </div>
        
        <div class="form-group"  [class.has-error]="hasWhoswithError">
                <label class="control-label">Who's with you?</label>
                <select class="form-control" required name="projectgrouporindividual" id="projectgrouporindividual" 
                ngModel>
                        <option value="" selected disabled>Select Who's With you...</option>
                        <option value="individual">Individual</option>
                        <option value="group">Group</option>
                      </select>
            </div> 
        
           <div class="form-footer">
        <button class="btn btn-primary"  type="submit"
            [disabled]="form.invalid" [disabled]="!isValidForm()"> Submit Idea</button>
            <button type="button" class="btn btn-default m-close"  data-dismiss="modal" (click)="closemodel(form)" #closeBtn>Close</button>

        <!-- <button data-dismiss="modal" #closeBtn class="btn disabled"></button> -->

</div>
    </form>
</div>
<style>   
        label {
                    font-weight: 700;
                    font-size: 12px;
                    text-transform: uppercase;
                    color:grey;
                    margin-bottom: 5px;
                    display: block;
              }
              .m-close{
            float:right;
            margin-left:33%;
        }
</style>