<br/><br/>
<div class="container">
  <h4 class="m-nph">" Share your knowledge. It is a way to achieve immortality -Dalai Lama "</h4>
  <div class="panel-group" *ngFor="let newprojectqueriesdetail of newprojectqueriesdetail">

    <div class="panel panel-info">
      <div class="panel-heading" >
      
       {{newprojectqueriesdetail.title}} 
      </div>
      <div class="panel-body">
          {{newprojectqueriesdetail.idea}}
      </div>
    </div>
    <div> 
    
    <!-- <div style="float:right">
     <share-buttons (click)="onclicksharecount()" class="social-icon" ></share-buttons>
    </div> -->

        <br/><br/><br/>
      <div>
      <newprojectqueries-comments [newprojectqueriesdetail]="newprojectqueriesdetail"></newprojectqueries-comments>
    </div>  
       
    <br/>
    <button (click)="goBack()" type="button" class="btn btn-info">Back</button>
  </div>
</div>
<style>
  .m-nph{
    font-size: 16px;
    color: #777;
    font-style: italic;
    padding-top: 14px;
    border: 3px solid #d4d4d5;
    padding: 18px 6px 18px 6px;
    border-radius: 12px;
    margin-right: 0px;
    margin-top: 46px;
    margin-bottom: 29px;
    text-align: center;
  }
  </style>
