<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>

<div class="ui text container" style="padding-left: 0px;padding-right: 30px;">
  <div class="">
    <h3 class="dividing header m-headr">Comments</h3>

    <div class="comment" *ngFor="let projectquerycomment of projectquerycomment">
      <div class="">
        
        <div class="fourteen wide column" style="padding-top: 13px;">
            <div class="author">{{projectquerycomment.username}} <span *ngIf="userid == projectquerycomment.userid" class="m-delete">
                  <a (click)="deleteProjectQueryComment(projectquerycomment.commentId)">Delete</a></span></div>
         
          <div class="ui blue message" style="background-color: #edebeb">
            <div class="content">
              <div class="text">
                <p class="comment">{{projectquerycomment.content}} </p>
               
              </div>
            </div>
          </div>
          <hr class="m-hr">
          <!-- <div *ngIf="userid == newprojectquerycomment.userid">
            <a  (click)="deleteNewProjectQueryComment(newprojectquerycomment.commentId)" style="cursor:pointer"  class="btn-group btn-group-xs">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
              <span>Delete</span> 
            </a>
          </div>  -->
        </div>
      </div>
    </div>
    <br>
    <div class="">
      
      <div class="fourteen wide column">

          <span class="author">{{currentusername}}</span>
          <br><br>
      <form #form="ngForm" (submit)="submitForm(form)" novalidate>

            <div class="form-group" [class.has-error]="content.invalid && content.touched">
                <textarea #words rows="3" #content="ngModel" type="text" required class="form-control" name="content" 
                    [(ngModel)]="model1.content" style="height:150px;"></textarea>
                <!-- <div *ngIf="content.invalid && content.touched" class="alert alert-danger" style="width: 538px">
                    Comment is required to submit
                </div> -->
                <small *ngIf="content.invalid && content.touched" class="text-danger">
                  Comment is required
                 </small>
             </div>
            <button class="btn btn-primary" type="submit"  
                [disabled]="form.invalid">Comment
            </button>
      </form>

      </div>
      </div>
    </div>
  </div>

    
  <style>
    .row {
      margin-left: 10px;
      margin-right: 10px;
  }
  .m-hr{
    margin-top: 16px;
    margin-bottom: 12px;
    border: 0;
    border-top: 1px solid #eaeaea;
  }
  .m-headr{
    border-bottom: 2px solid #19263973;
    padding-bottom: 9px;
  }
  .m-delete{
    background: #d9edf7;
    color: rgba(0,0,0,.85);
    padding: 4px 8px;
    border-radius: 25px;
    margin-left: 3px;

  }
  .m-delete a{
    color: rgba(0,0,0,.85);
    text-decoration:none;
    cursor:pointer;
  }
    </style>