<div class="container">
  <br><br>
  <h4 class="m-nph">" Share your knowledge. It is a way to achieve immortality -Dalai Lama "</h4>
  <div class="panel-group" *ngFor="let projectqueriesdetail of projectqueriesdetail" >
    <div class="panel panel-info">
      <div class="panel-heading" >
            {{projectqueriesdetail.title}}
      </div>
      <div class="panel-body">
          {{projectqueriesdetail.description}}
      </div>
      <!-- <div class="panel-body" *ngIf="attachment">
        <a href="{{post.signedUrl1}}" class="btn btn-link" target="_blank">
        Attachments
        </a>
        </div> -->

    </div>
    <div style="cursor:pointer">
        <i *ngIf='checksavedpostid == 0' class="glyphicon glyphicon-star-empty" style="font-size:20px;
        margin-top: 10px; margin-left: 15px;" (click)="savepost()">Star</i>
        <i *ngIf='checksavedpostid > 0' class="glyphicon glyphicon-star-empty" style="color: red;font-size:20px;
          margin-top: 10px; margin-left: 15px;" (click)="unsavepost()">Unstar</i>
    </div>
    <!-- <div class="Socialmedia">
      <share-buttons [tumblr]="false" [pinterest]="false"
      [stumbleUpOn]="false"
      [reddit]="false" [url]="linkToShare" [title]="title" [description]="description" [image]="image"></share-buttons>          
    </div> -->
        <br/>
    <div>
      <projectqueries-comments [projectqueriesdetail]="projectqueriesdetail"></projectqueries-comments>
    </div>    
  <br/>
    <button (click)="goBack()" type="button" class="btn btn-info">Back</button>
  </div>
</div>

<style>
.m-nph{
    font-size: 16px;
    color: #777;
    font-style: italic;
    padding-top: 14px;
    border: 3px solid #d4d4d5;
    padding: 18px 6px 18px 6px;
    border-radius: 12px;
    margin-right: 0px;
    margin-top: 46px;
    margin-bottom: 29px;
    text-align: center;
  }
</style>
