    
<div class="col-md-12">
   
  <div class="row">
      <h4><b><kbd class="ProjectQueriesList" style="background-color: #a09c9c; font-size:20px;">Project Queries</kbd></b></h4>
      <br>
    <div class="row" *ngFor="let projectqueries of projectqueries | paginate: { itemsPerPage: 10 , currentPage: p };">
    <div class="span12" >
     <div class="span8">
     
         <a style="text-decoration:none;font-size:16px;" [routerLink]="['/community/projectqueries/existingnewprojectgeneralquerydetail', projectqueries.queryid]" >{{projectqueries.title}}</a>
     </div>
   <div class="row"> 
     
     <div class="span10">      
       <p class="mailbox-subject m-content">
        {{projectqueries.description}}
       </p>
     </div>
   </div>
   <div class="row">
     <div class="span8"> 
       <p class="m-fa2">
        <i class="fa fa-user-circle-o"></i> by <font color="#3366BB">{{projectqueries.username}}</font>
         | <i class="fa fa-calendar"></i> {{projectqueries.Created}}
         <!--| <i class="fa fa-thumbs-up"></i> <a href="#">{{post.likes}} Likes</a>-->
         <!-- | <i class="fa fa-comments"></i> <font color="#3366BB">{{post.commentcount}} Comments </font> -->
          <!-- | <i class="fa fa-share-alt"></i> <font color="#3366BB"> {{post.shares}} Shares </font>  -->
         <!-- | <i class="icon-tags"></i> Tags : <a [routerLink]="['/community/postsbytag', post.tag]"><span class="label label-info">{{post.tag}}</span></a>  -->
         <a (click)="deleteProjectQuery(projectqueries)" style="cursor:pointer"  class="btn-group btn-group-xs">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
           <span>Delete</span> 
          </a>
        </p>
        <hr>
       <p></p>
     </div>
   </div>
   
 </div>
 
</div>
 
<pagination-controls *ngIf="projectqueries" class="pagination" (pageChange)="p = $event"></pagination-controls>

</div>
</div>
<style>
  .m-fa2 .fa{
    padding: 2px 4px;
  margin-top: 3px;
}
.m-content{
    padding-top: 5px;
    padding-bottom: 5px;
  }
  </style>

  