.Heading {
    margin:10px;
    font-size: 15px;
    text-align: center;
    padding-top: 10px;
}
.panel-heading {
    font-size: 20px
}
.panel-body {
    text-align: justify;
}
.panel-info>.panel-heading {
    color: #fff;
    background-color: #54b1da ;
    border-color: #bce8f1 ;
    font-size: 15px;
}
.glyphicon glyphicon-star-empty {
    font-size: 20px;
}
.Socialmedia {
    margin-top: -30px;
    float:right
}