<div class="container-fluid">
	<div class="row">
		<div class="col-md-12 m-pq text-right ">
		<a class="btn icon-btn btn-success" data-toggle="modal" data-target="#myModal">
	   <span class="glyphicon btn-glyphicon img-circle text-success"></span>New Project Query?
	  </a>
	</div>
	              <!-- modal request new project -->
             <div class="modal fade" id="myModal" role="dialog">
                 <div class="modal-dialog">
                 
                   <!-- Modal content-->
                   <div class="modal-content">
                     <div class="modal-header" >
                       <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                       <h4 
                       class="modal-title">NEW PROJECT IDEA FORM</h4>
                     </div>
                     <div class="modal-body">
                         <new-project-query-form></new-project-query-form>
                     </div>
                     
                   </div>
               </div>
        
           </div>
	
	</div>
	<div class="row" >
		<div class="col-md-6">
			<newproject-queries></newproject-queries>
		</div>
		<div class="col-md-6">
		<project-queries></project-queries>
		</div>
	</div>
</div>

