
<body>
  <div class="body">
      <a class="bnrlink" href="/">
        <div class=" m-banner">
         
             <h1>SkillPractical Frequently Asked Questions</h1>
             
      </div>
  </a>
  
     
      <br>
      
      <div class="content">
      <div>
        <input type="checkbox" id="question1" name="q"  class="questions">
        <div class="plus">+</div>
        <label for="question1" class="question">
          How does SkillPractical subscription works?
        </label>
        <div class="answers">
          You can opt for:<br/>
          I.	Onboarding fee for limited services for the lifetime. <br/>
          II.	Semester fee access for unlimited services which is to get the renewal for every semester. <br/>
          Note: without onboarding fee, a student cannot accessible for semester fee.
          
        </div>
      </div>
      
      <div>
        <input type="checkbox" id="question2" name="q" class="questions">
        <div class="plus">+</div>
        <label for="question2" class="question">
          Do I need to be a veteran to join?
        </label>
        <div class="answers">
          You do not, in fact we encourage all members of the Rutgers community to join in our meetings.
        </div>
      </div>
        
      <div>
        <input type="checkbox" id="question3" name="q" class="questions">
        <div class="plus">+</div>
        <label for="question3" class="question">
          What is the subscription period given to the user?
        </label>
        <div class="answers">
          Subscription period runs for every semester <br/>
          i.e, 5-6 months student need to get the renewal for every semester exit time.
        </div>   
      </div>
      <div>
        <input type="checkbox" id="question4" name="q" class="questions">
        <div class="plus">+</div>
        <label for="question4" class="question">
          How many attempts can you give to user login?
        </label>
        <div class="answers">
          Any individual is allowed to login as many times they desire irrespective of their SkillPractical Id, mail Id, and roll number provided. 
        </div>
      </div>
      <div>
        <input type="checkbox" id="question5" name="q" class="questions">
        <div class="plus">+</div>
        <label for="question5" class="question">
          What is the refund policy of SkillPractical?
        </label>
        <div class="answers">
          We have a 7-day refund policy from the date of enrollment as followed by terms and conditions.
        </div>
      </div>
      <div>
        <input type="checkbox" id="question6" name="q" class="questions">
        <div class="plus">+</div>
        <label for="question6" class="question">
          Why should I opt for SkillPractical?
        </label>
        <div class="answers">
          Skillpractical is a collective force of high-quality educational resources for undergraduate students. High-quality education shouldn’t be limited to cities. Institutions in rural and suburban areas should also have access to all educational resources available. We integrate institutions with students, consultancies, companies, teaching faculty and experts in various fields through our applications.
        </div>
      </div>
      <div>
        <input type="checkbox" id="question7" name="q" class="questions">
        <div class="plus">+</div>
        <label for="question7" class="question">
            Can I avail a discount or offers?
        </label>
        <div class="answers">
          A student can avail offer based on subscription criteria. One can get the discount on subscription modes, based on modes fee vary and discount applicable. Registrations are now open for 2017 batch. EARLY BIRD REGISTRATIONS will be availing our discount.
        </div>
      </div>
      <div>
        <input type="checkbox" id="question8" name="q" class="questions">
        <div class="plus">+</div>
        <label for="question8" class="question">
          Can I attend a Demo Class before opting for purchase?
        </label>
        <div class="answers">
          Yes, you can. We, at SkillPractical, would want you to make an informed decision and hence we provide sample number of services and opportunity to attend the workshops to learn about the SkillPractical education. If you like the demo then you can make a purchase by talking to our dedicated SkillPractical mentor.You can attend our demo classes at your place in your college.
        </div>
      </div>
      <div>
        <input type="checkbox" id="question9" name="q" class="questions">
        <div class="plus">+</div>
        <label for="question9" class="question">
          What are the modes of delivery of services?
        </label>
        <div class="answers">
          You can opt for: <br/>
          I.	Events include workshops and seminars <br/>
          II.	Projects on your concern <br/>
          Note: The fees for each mode vary. You can contact us at our helpline number for any fee-related queries.
            </div>
      </div>
      <div>
        <input type="checkbox" id="question10" name="q" class="questions">
        <div class="plus">+</div>
        <label for="question10" class="question">
          What are the SkillPractical services include?
        </label>
        <div class="answers">
          Projects include real time experience. <br/>
          Community includes members all over the world to share information. <br/>
           Events to get updates and one can participate in workshops and seminars through events. 
          And SkillPractical is with more features in shortly.
      </div>
      </div>
      <div>
        <input type="checkbox" id="question11" name="q" class="questions">
        <div class="plus">+</div>
        <label for="question11" class="question">
          Who is going to be my trainers?
        </label>
        <div class="answers">
          Since its inception, SkillPractical students are being served by the friendliest Lectures all the time. The parents and the students have approved of the fact that SkillPractical has the best trainers and joining SkillPractical is the best decision they have taken.
          <br/>
          We bound with Consultancies like Cyber Aegis, Mech – Pro, Lunar Technologies, Success Technologies, C2C technologies, AEC – Abroad Educational Consultants etc.
          
        </div>
      </div>
      <div>
        <input type="checkbox" id="question12" name="q" class="questions">
        <div class="plus">+</div>
        <label for="question12" class="question">
          How can I check the notifications and latest news about SkillPractical?
        </label>
        <div class="answers">
          One can have updates with information and latest news through community in SkillPractical.
          <br/>
          Not finding what you are looking for? Call 9676573123 for assistance regarding preparation. You can also send a mail to support@synaptial.net and we will answer your query within one working day.
        </div>
      </div>
      <div>
        <input type="checkbox" id="question13" name="q" class="questions">
        <div class="plus">+</div>
        <label for="question13" class="question">
          Will you provide 24/7 services on queries in your community?
        </label>
        <div class="answers">
          SkillPractical is here to provide 24/7 services all the time. One can post a query or get answered to query.
         </div>
      </div>
      <div>
        <input type="checkbox" id="question14" name="q" class="questions">
        <div class="plus">+</div>
        <label for="question14" class="question">
          What is the helpline for SkillPractical related queries?
        </label>
        <div class="answers">
          You can call the Technical helpline number: 9676573123 for any technical problems.
        </div>
      </div>
      <div>
        <input type="checkbox" id="question15" name="q" class="questions">
        <div class="plus">+</div>
        <label for="question15" class="question">
          Are there any free mock tests available in SkillPractical preparation?
        </label>
        <div class="answers">
          Right now, we don’t have any free tutorial videos available in our app. We are planning technical videos and mock tests in the next release.
         </div>
      </div>
      <div>
        <input type="checkbox" id="question16" name="q" class="questions">
        <div class="plus">+</div>
        <label for="question16" class="question">
          Are there any preparation materials available in SkillPractical preparation?
        </label>
        <div class="answers">
          You can get materials and tutorials by professionals in SkillPractical education.
          <br/>
          Not finding what you are looking for?  You can also send a mail to support@synaptial.net and we will answer your query within one working day.
            </div>
      </div>
      <div>
        <input type="checkbox" id="question17" name="q" class="questions">
        <div class="plus">+</div>
        <label for="question17" class="question">
          How many events are conducted in a semester?
        </label>
        <div class="answers">
          Based on your domain, Workshops and Seminars are conducted. They were held to your interest and concern. 
        </div>
      </div>
      <div>
        <input type="checkbox" id="question18" name="q" class="questions">
        <div class="plus">+</div>
        <label for="question18" class="question">
          How can I trust that my data will not misuse by any of your team?
        </label>
        <div class="answers">
          You will get SkillPractical Id generated with your roll number and mail id, for every login time you will get an OTP to be more secured. We don't have any data of yours expect roll numbers and mail ids for making your contact with SkillPractical and no more information of you is misused. Any personal information or content that you voluntarily disclose in public areas becomes publicly available and can be collected and used by other users for any reason. We recommend that you guard your anonymity and sensitive information. Trust is the only thing we build with SkillPractical to survive with our customers.
        </div>
      </div>
      <div>
        <input type="checkbox" id="question19" name="q" class="questions">
        <div class="plus">+</div>
        <label for="question19" class="question">
          Can I prolong my subscription after completion of my graduation also?
        </label>
        <div class="answers">
          Yes. SkillPractical is for lifetime access. One can continue too after completion of his/her graduation. As terms and conditions apply. 
         </div>
      </div>
      <div>
        <input type="checkbox" id="question20" name="q" class="questions">
        <div class="plus">+</div>
        <label for="question20" class="question">
          Can you provide few more services to our concern?
        </label>
        <div class="answers">
          Services under customer satisfaction is our value. We consider you and come up with more and more features to serve you.
        </div>
      </div>
      
      <div>
        <input type="checkbox" id="question21" name="q" class="questions">
        <div class="plus">+</div>
        <label for="question21" class="question">
          Is there any training provided on academic projects?
        </label>
        <div class="answers">
          You will be trained with real-time experience under the guidance of our vendors on academic projects. 
        </div>
      </div>
      
      <div>
        <input type="checkbox" id="question22" name="q" class="questions">
        <div class="plus">+</div>
        <label for="question22" class="question">
          Can I get a job through SkillPractical?
        </label>
        <div class="answers">
          Students with highly skilled and talented are shortlisted and referred to some companies under SkillPractical and also get a job in SkillPractical by their active performance
         </div>
      </div>
      <div>
        <input type="checkbox" id="question23" name="q" class="questions">
        <div class="plus">+</div>
        <label for="question23" class="question">
          On what basis does SkillPractical providing services? 
        </label>
        <div class="answers">
          SkillPractical is a highly advanced study platform, specifically designed to make your education as easier. On the basis of bringing together the finest range of features that Universities need. SkillPractical framed club integrate institutions with students, consultancies, companies, teaching faculty and experts in various fields through our applications to educate and direct students towards the right path. 
        </div>
      </div>
      </div>
      
      </div> 
  
        <footercontent-page></footercontent-page>
      </body>