<div class="container-fluid first m-pad">
    <div class="row">
        <div class="col-md-8">
            <img src="assets/landingpage/main-landing-with-boarder.jpg" class="img-responsive center-block" alt=""/>
        </div>
        <div class="col-md-3 text-center">
            <p>
                Educational HUB for Engineering, MBA students. 
                We integrate Formal & Informal educational markets
                with our robust and extensive services. 
            </p>
              <a [routerLink]="['/features']">Learn More</a>
        </div>
        <div class="col-md-1">
  
        </div>
    </div>
  
  </div><!-- /.container one -->
  <div class="container-fluid second">
    <div class="row">
        <div class="col-md-8">
            <img src="assets/landingpage/Tracking.jpg" class="img-responsive center-block" alt=""/>
        </div>
        <div class="col-md-3 text-center">
            <p>
                Track your progress with statistics of your performance, academic and community
            </p>
            <p *ngIf="learnmoreusertrackingtrueorfalse" class="my-p"> Centralized student assessment outcomes in one place.<br> 
              Graph to view all statistics (comparison of results, student progress over time) with a single click.</p>
            <div (click)="learnmoreusertracking()" *ngIf="!learnmoreusertrackingtrueorfalse" id="demo" class="more-p">
                <a *ngIf="!learnmoreusertrackingtrueorfalse">
                    <img src="assets/landingpage/button.png" alt=""/>
                    Learn More</a>
                   
            </div>
            <br><br>
        </div>
        <div class="col-md-1">
  
  
        </div>
    </div>
  
  </div><!-- /.container two -->
  <div class="container-fluid third m-pad">
    <div class="row">
        <div class="col-md-1">
  
        </div>
        <div class="col-md-3 text-center">
            <P>
                Get along with our technical projects and procure knowledge and confidence 
            </P>
            <p *ngIf="learnmoreprojectstrueorfalse" class="my-p">
              End to End real time projects<br>
              Related Blogs, Articles, Papers<br>
              Latest technical papers<br>
              Query option for each project<br>
              Get help from our professionals
            </p>
            <div id="demo2" class="more-p">
                <a (click)="learnmoreprojects()" *ngIf="!learnmoreprojectstrueorfalse">
                    <img src="assets/landingpage/button.png" alt=""/>
                    Learn More</a>
            </div>
        </div>
        <div class="col-md-8">
                <img src="assets/landingpage/3.jpg" class="img-responsive center-block" alt=""/>
        </div>               
    </div>
  
  </div><!-- /.container third -->
  <div class="container-fluid fourth m-pad">
    <div class="row">                
        <div class="col-md-8">
            <img src="assets/landingpage/robot.png" class="img-responsive" alt=""/>
        </div>     
        <div class="col-md-3 text-center">
            <P>
                We orchestrate Events, Workshops, Seminars, and Bootcamps in colleges
            </P>
            <p *ngIf="learnmoreeventstrueorfalse" class="my-p">Technical & Non-Technical<br>
              Get certified<br>
              Request a Demo/New event</p>
            <div id="demo3" class="more-p">
                <a (click)="learnmoreevents()" *ngIf="!learnmoreeventstrueorfalse">
                    <img src="assets/landingpage/button.png" alt=""/>
                    Learn More</a>
            </div>
        </div>
        <div class="col-md-1">
  
        </div> 
    </div>
  
  </div><!-- /.container fourth -->
  <div class="container-fluid fifth m-pad">
    <div class="row"> 
        <div class="col-md-1">
  
        </div>
        <div class="col-md-3 text-center">
            <P>
                Learn - Share - Network <br>your Skills with our<br> community users
            </P>
            <p *ngIf="learnmorecommunitytrueorfalse" class="my-p">Faculty, Working      
              Professionals,<br>    Consultancies from all streams<br>
              Student to Student interaction<br>
              Expect answer within 24 hours </p>
            <div id="demo4" class="more-p">
                <a (click)="learnmorecommunity()" *ngIf="!learnmorecommunitytrueorfalse">
                    <img src="assets/landingpage/button.png" alt=""/>
                    Learn More</a>
            </div>
        </div>
        <div class="col-md-8">
                <img src="assets/landingpage/getalong.jpg" class="img-responsive center-block" alt=""/>
        </div>
    </div>
  
  </div><!-- /.container fifth -->
  
  
  
  
  <footercontent-page></footercontent-page>