<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navHeaderCollapse" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img src="/assets/landingpage/SkillPractical+logo.png" class="img-responsive" alt=""/>
            </a>
        </div>
        <div id="navHeaderCollapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a *ngIf="!loggedIn" [routerLink]="['/features']" (click)="onMenuClick()"> Features </a></li>
                <li><a *ngIf="!loggedIn" [routerLink]="['/membershipinfo']" (click)="onMenuClick()"> Membership </a></li>
                <li><a *ngIf="!loggedIn" [routerLink]="['/bookworkshop']" (click)="onMenuClick()"> Book your Event </a></li>
                <li><a *ngIf="loggedIn" class="color"  [routerLink]="['/homepagecomponent']" routerLinkActive="active" (click)="onMenuClick()">Home</a></li>
                <li><a  *ngIf="loggedIn" class="color"  [routerLink]="['/projects/projectsList']" routerLinkActive="active" (click)="onMenuClick()">Projects</a></li>
                <li><a  *ngIf="loggedIn" class="color" [routerLink]="['/community/homecomponent']" routerLinkActive="active" (click)="onMenuClick()">
                  Community
                </a></li>
                <li><a  *ngIf="loggedIn" class="color" [routerLink]="['/tests/searchtest']" routerLinkActive="active" (click)="onMenuClick()">
                    Tests
                  </a></li>
                <li><a *ngIf="loggedIn" [routerLink]="['/events']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" (click)="onMenuClick()">
                 Events
                </a></li>
                
            </ul>
            <ul class="nav navbar-nav navbar-right m-right">
                <li  *ngIf="!loggedIn" class="m-center"><a>Are you?</a></li>
                <!-- <li *ngIf="!loggedIn" class="m-center"><a class="m-btn">Member</a></li> -->
                <li *ngIf="!loggedIn" class="m-center"><a data-toggle="modal" data-target="#modalusersignup"  class="m-btn">Student</a></li>
                
                <!-- <li *ngIf="!checkSubscriptionStatus() && loggedIn">
                        <a [routerLink]="['/upgradeuser']">Upgrade!</a>
                </li> -->
  
                <li class="nav-item dropdown" ngbDropdown *ngIf="loggedIn" >

                  <a  id="menu1" data-toggle="dropdown"><span class="notifications-label" *ngFor="let messagescount of messagescount">
                   {{messagescount.messagescount}}
                 </span>
                     <i style="color: white" class="fa fa-envelope"></i> <b style="color: white" class="caret"></b><span class="sr-only">(current)</span>
                  </a>
                   <ul class="dropdown-menu dropdown-menu-right messages" >
                       <li class="media" *ngFor="let messagestoday of messagestoday">
                       <div class="media-body" style="margin-top: 0;width: 192px;margin-left: 18px;" >
                         <h6 style="margin-left: 18px;margin-right: 18px" class="small text-muted"><i class="fa fa-clock-o"></i>{{messagestoday.created_date}}</h6>
                         <h6 style="margin-left: 18px;margin-right: 18px" class="last"> {{messagestoday.name}}
                             
                         </h6>
                        
                       </div>
                       </li>
                       <li> <a  class="dropdown-item" [routerLink]="['/homepagecomponent/viewallmessages']"   (click)="onMenuClick()">View All</a> </li>
                     </ul>
               </li>
               
                 <li *ngIf="loggedIn">
                     <a style="cursor:pointer" id="menu1" data-toggle="dropdown">
                         <i style="color: white" class="fa fa-bell"></i> <b style="color: white" class="caret"></b><span class="sr-only">(current)</span>
                     </a>
                     <ul class="dropdown-menu dropdown-menu-right">
                       <li> <a  class="dropdown-item">Pending Task  <span class="badge badge-info">{{tasks}}</span></a> </li>
                       <li>  <a  class="dropdown-item">Updates <span class="badge badge-info">{{updates}} </span></a> </li>
                       <li>  <a  class="dropdown-item">Trending <span class="badge badge-info">{{trending}} </span></a></li>
                       <li class="dropdown-divider"></li>
                       <li> <a  class="dropdown-item" [routerLink]="['/homepagecomponent']" (click)="onMenuClick()">View All</a> </li>
                     </ul>
                 </li>
         
               <li *ngIf="loggedIn">
                 <a id="menu1" data-toggle="dropdown">
                   <i style="color: white;" class="fa fa-user"> </i> <i style="color: white;"> {{currentusername | uppercase}}  </i><b style="color: white;margin-right: 4px;" class="caret"></b>
                 </a>
                 <div class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="menu1">
                     <li> <a class="dropdown-item" [routerLink]="['/settinguser']" (click)="onMenuClick()"><i class="fa fa-fw fa-gear"></i> Settings</a> </li>
                     <li> <a class="dropdown-item" (click)="onClick()" ><i class="fa fa-fw fa-power-off"></i> Log Out</a> </li>
                 </div>
               </li>
  
  
            </ul>
        </div><!--/.nav-collapse -->
    </div>
  </nav>
  
  <div [hidden] = "loggedIn" (click)="onMenuClick()">
   <register-user></register-user>
  </div>
  