@import url('https://fonts.googleapis.com/css?family=Roboto');

/* body{
    padding-top:30px;
    font-family: 'Roboto', sans-serif;
} */
P{
    color:#fff;
    line-height: 29px;
}
.navbar-brand {
    float: left;
    height: 51px;
    padding: 10px 15px;
    font-size: 18px;
    line-height: 20px;
}
.navbar-brand img{
    width:115px;
}
.navbar{
    background: #192639;
}
.m-btn{
    border: 1.5px solid #ffffffb3;
    padding: 5px 11px !important;
    margin-top: 10px;
    color: #fff !important;
    border-radius: 18px;
    margin-right: 17px;
}
.first{
    background: #24242d;
}
.first p{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding-top: 80px;
    padding-bottom: 20px;
}
.first a{
    text-decoration: none;
    border: 1.5px solid #ffffffb3;
    padding: 8px 12px !important;
    margin-top: 10px;
    color: #fff !important;
    border-radius: 18px;
}
.second{
    background: #878787 !important;
    padding-top: 26px;
    
}
.second p{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding-top: 80px;
    margin-top: 63px;
}
.second a{
    font-size: 20px;
    vertical-align: middle;
    color: #fff;
    text-decoration: none;
}
.my-p{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding-top: 0px !important;
    color: #ffba16 !important;
}
.third{
    background: url('../../assets/landingpage/Assest3.png');
    background-size: cover;
}
.third  p{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding-top: 80px;
    margin-top: 60px;
}
.third a{
    font-size: 20px;
    vertical-align: middle;
    color: #fff;
    text-decoration: none;
}
.fourth{
    background: url('../../assets/landingpage/4thimage.png');
    background-size: cover;
}

.fourth p{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding-top: 80px;
    margin-top: 60px;
}
.fourth a{
    font-size: 20px;
    vertical-align: middle;
    color: #fff;
    text-decoration: none;
}
.fifth{
    background:  url('../../assets/landingpage/Coomunity-image.png');
    background-size: cover;
    
}
.fifth p{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding-top: 80px;
    margin-top: 60px;
}
.fifth a{
    font-size: 20px;
    vertical-align: middle;
    color: #fff;
    text-decoration: none;
}
.m-pad{
    padding-top: 60px;
    padding-bottom: 44px;
}
.foot{
    background: #232627;
    padding-top: 20px;
}
.foot p{
    color: #fff;
    line-height: 19px;
    font-size: 11px;
    text-align: justify;
}
.foot ul{
    margin-top: 0;
    margin-bottom: 10px;
    list-style: none;
    -webkit-padding-start: 0px;
    color:#fff;
}
.foot ul li{
    padding-bottom: 10px;
    font-size: 12px;
}
.foot .fa{
    padding-right: 12px;
    color:gray;
}
.foot h2{
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 28px;
}
.list2 li{
    color:#a0a3a4;

}
.red{
    color: rgba(230, 7, 7, 0.61) !important;
    letter-spacing: 1px;
}
.social{
    padding-bottom: 20px;
}
.social a{
    padding-right: 7px;

}
.more-p{
    color: #fff;
    font-size: 18px;
    width: 100%;
}
.foot-strip{
    background: #131212;
    padding-top: 15px;
}
.foot-strip p{
    font-size: 15px;
    letter-spacing: 1px;
    padding-top: 9px;
    line-height: 0px;
}
.btm-bread {
    padding-bottom: 10px;
}
.btm-bread  a{
    font-size: 15px !important;
    padding-left: 9px;
    color:#fff;
    text-decoration: none;
}
@media (max-width: 768px) {

   
    .second p{
        padding-top: 10px;
        margin-top:0px;
        
    }       
    .m-center{
        text-align:center;
    }
    .m-right{
        display: -webkit-box;
    }
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 17px 12px;
    cursor:pointer;
}