@import "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css";
@import "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css";
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
.thumbnail {
    position: relative;
    padding: 0px;
    margin-bottom: 30px;
}
.thumbnail img {
    width: 100%;
}
.mailbox-subject{
    display:inline-block;
    font-size: 13px;
   white-space: nowrap;
   overflow: hidden;
   width:90%;
   text-overflow: ellipsis;
}
/* Nav Bar */
body { padding-top: 70px; }
.logo {color:red;}
.navbar-inner{
    /*height: 90px*/
    min-height: 60px
}
.nav {
    background-color: white;
}
.navbar{
    padding: 0 10px;
}
.navbar .nav > li > a {
    padding: 20px 15px;
    font-size: 150%;
}
.navbar .btn-navbar {
    /*margin-right: 0px;*/
    margin-top:15px;
}
.navbar-brand {
    padding: 20px 15px;
    font-size: 190%;
}
@media (max-width:768px) {
    .brand img{
        margin-bottom: 5px
    }
    .navbar .btn-navbar{
        /*margin-right: -15px;*/
    }
    .navbar .nav > li > a {
        padding: 10px 15px;
    }
}
.jumbotron{background-color: transparent;}
#div-pagination{clear: both;}
.carousel {padding-bottom: 25px;
    
}
.carousel img{padding-top: 20px;
}
.carousel h2 {color: #0072b5;
    margin-top: 22px;
}
.carousel h2 small{color: #289bde}
.carousel col-lg-4 p {text-align: center;}
/*footer*/
.footer {
    background: #EDEFF1;
    height: auto;
    padding-bottom: 30px;
    position: relative;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #DDDDDD;
}
.footer p {
    margin: 0;
}
.footer h3 {
    border-bottom: 1px solid #BAC1C8;
    color: #54697E;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    padding: 40px 0 10px;
    text-transform: uppercase;
}
.footer ul {
    font-size: 13px;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    margin-top: 15px;
    color: #7F8C8D;
}
.footer ul li a {
    padding: 0 0 5px 0;
    display: block;
}
.footer a {
    color: #78828D
}
.footer-bottom {
    background: #E3E3E3;
    border-top: 1px solid #DDDDDD;
    padding-top: 10px;
    padding-bottom: 10px;
}
.footer-bottom p.pull-left {
    padding-top: 6px;
}
#menu-social-menu li{display: inline-table}
/*footer*/
.thumbnail p{
display:inline-block;
font-size: 13px;
white-space: nowrap;
overflow: hidden;
width:90%;
text-overflow: ellipsis;
}
.thumbnail a {
    float: right;
}