<br>
<br>
    <div class='container carousel'>
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner text-center" role="listbox">
                <div class="item active">
                    <div class="col-lg-8 pull-right">
                        <img alt="Image" height="30px" src="{{blogpost_image0}}">
                    </div>
                    <div class="col-lg-4">                            
                        <h2>{{blogpost_title0}}<br>
                            <small>by {{blogpost_author0}} in {{blogpost_date0 | date:'shortDate'}} </small></h2>
                     
                         <P class="mailbox-subject" style="font-size:14px;" [innerHTML]="blogpost_description0">
                           {{blogpost_description0}}
                         </P>
                      <a class='btn btn-info pull-right'
                      [routerLink]="['/blogdetail',blogpost_title0]">
                            <i class="fa fa-long-arrow-right"> </i></a>  
                    </div>
                </div>
                <div class="item">
                    <div class="col-lg-8 pull-right">
                        <img alt="Image" height="30px" src="{{blogpost_image1}}">
                    </div>
                    <div class="col-lg-4">                            
                        <h2>{{blogpost_title1}}<br>
                            <small>by {{blogpost_author1}} in {{blogpost_date1 | date:'shortDate'}} </small></h2>
                     
                         <P class="mailbox-subject" style="font-size:14px;" [innerHTML]="blogpost_description1">
                           {{blogpost_description1}}
                         </P>
                      <a class='btn btn-info pull-right'
                      [routerLink]="['/blogdetail',blogpost_title1]">
                            <i class="fa fa-long-arrow-right"> </i></a>  
                    </div>
                </div>
                <div class="item">
                    <div class="col-lg-8 pull-right">
                        <img alt="Image" height="30px" src="{{blogpost_image2}}">
                    </div>
                    <div class="col-lg-4">                            
                        <h2>{{blogpost_title2}}<br>
                            <small>by {{blogpost_author2}} in {{blogpost_date2 | date:'shortDate'}} </small></h2>
                     
                         <P class="mailbox-subject" style="font-size:14px;" [innerHTML]="blogpost_description2">
                           {{blogpost_description2}}
                         </P>
                      <a class='btn btn-info pull-right'
                      [routerLink]="['/blogdetail',blogpost_title2]">
                            <i class="fa fa-long-arrow-right"> </i></a>  
                    </div>
                </div>
                <div class="item">
                    <div class="col-lg-8 pull-right">
                        <img alt="Image" height="30px" src="{{blogpost_image3}}">
                    </div>
                    <div class="col-lg-4">                            
                        <h2>{{blogpost_title3}}<br>
                            <small>by {{blogpost_author3}} in {{blogpost_date3 | date:'shortDate'}} </small></h2>
                     
                         <P class="mailbox-subject" style="font-size:14px;" [innerHTML]="blogpost_description3">
                           {{blogpost_description3}}
                         </P>
                      <a class='btn btn-info pull-right'
                      [routerLink]="['/blogdetail',blogpost_title3]">
                            <i class="fa fa-long-arrow-right"> </i></a>  
                    </div>
                </div>
                <div class="item">
                    <div class="col-lg-8 pull-right">
                        <img alt="Image" height="30px" src="{{blogpost_image4}}">
                    </div>
                    <div class="col-lg-4">                            
                        <h2>{{blogpost_title4}}<br>
                            <small>by {{blogpost_author4}} in {{blogpost_date4 | date:'shortDate'}} </small></h2>
                     
                         <P class="mailbox-subject" style="font-size:14px;" [innerHTML]="blogpost_description4">
                           {{blogpost_description4}}
                         </P>
                      <a class='btn btn-info pull-right'
                      [routerLink]="['/blogdetail',blogpost_title4]">
                            <i class="fa fa-long-arrow-right"> </i></a>  
                    </div>
                </div>
                <!-- <div class="item">
                    <div class="col-lg-8 pull-right">
                        <img alt="Image" src="{{blogpost_image5}}">
                    </div>
                    <div class="col-lg-4">                            
                        <h2>{{blogpost_title5}}<br>
                            <small>by {{blogpost_author5}} in {{blogpost_date5}} </small></h2>
                     
                         <P class="mailbox-subject" style="font-size:14px;" [innerHTML]="blogpost_description5">
                           {{blogpost_description5}}
                         </P>
                      <a class='btn btn-info pull-right'
                      [routerLink]="['/blogdetail',blogpost_title5]">
                            <i class="fa fa-long-arrow-right"> </i></a>  
                    </div>
                </div>
                <div class="item">
                    <div class="col-lg-8 pull-right">
                        <img alt="Image" src="{{blogpost_image6}}">
                    </div>
                    <div class="col-lg-4">                            
                        <h2>{{blogpost_title6}}<br>
                            <small>by {{blogpost_author6}} in {{blogpost_date6}} </small></h2>
                     
                         <P class="mailbox-subject" style="font-size:14px;" [innerHTML]="blogpost_description6">
                           {{blogpost_description6}}
                         </P>
                      <a class='btn btn-info pull-right'
                      [routerLink]="['/blogdetail',blogpost_title6]">
                            <i class="fa fa-long-arrow-right"> </i></a>  
                    </div>
                </div> -->
            </div>
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div class="container">
            <div class="col-md-4" *ngFor="let blogpost of blogpost">
                <div class="thumbnail">
                    <img src="{{blogpost.blogpost_image}}" alt="...">
                    <div class="caption">
                        <h3>{{blogpost.blogpost_title}}</h3>
                        <p  [innerHTML]="blogpost_description">
                            {{blogpost.blogpost_description}}
                        </p>
                        <p><a [routerLink]="['/blogdetail',blogpost.blogpost_title]" class="btn btn-primary" role="button">Read More</a></p>
                    </div>
                </div>
            </div>
          
            <!-- <nav aria-label="Page navigation" id="div-pagination">
                <ul class="pager">
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">«</span>
                        </a>
                    </li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">»</span>
                        </a>
                    </li>
                </ul>
            </nav> -->
    </div>
  
    <footercontent-page></footercontent-page>