<div class="container">
    <div class="m-heading">
        <h4>Previous Records</h4>
        <hr>


    </div>

    <!-- <div class="pull-right" style="margin-top: 48px;margin-bottom: -49px;margin-right: 15px;">  -->

    <!-- <i class="fa fa-search" style="position:absolute;top: 78px;right: 17px" aria-hidden="true"></i> -->
    <!-- </div> -->
    <div class="row">
        <div class="col-md-4">
                <input type='text' class="form-control m-search" placeholder="Report Search By Month.." [(ngModel)]='listFilter' />
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
    </div>
<div class="row">
    <div class="col-md-12 custyle" style="overflow-x:auto;">
        <table class="table table-striped custab">
            <thead class="thead-dark">
                <tr>
                    <th>Community</th>
                    <th>Academics</th>
                    <th>Tasks</th>
                    <th>Events</th>
                    <th>Period</th>
                    <th>Month</th>
                    <th>Date Updated</th>
                    <th class="text-center">Download</th>
                </tr>
            </thead>
            <tr *ngFor="let usergraphdata of usergraphdata | pastReportsFilter:listFilter">
                <td>{{usergraphdata.community}}</td>
                <td>{{usergraphdata.academics}}</td>
                <td>{{usergraphdata.tasks}}</td>
                <td>{{usergraphdata.eventsandworkshops}}</td>
                <td>{{usergraphdata.period}}</td>
                <td>{{usergraphdata.month_name}}</td>
                <td>{{usergraphdata.month}}</td>
                <td class="text-center">
                    <a href="{{usergraphdata.graphdataurl}}" download>
                        <span class="glyphicon glyphicon-download"></span> Download</a>
                </td>
            </tr>
        </table>
    </div>
    </div>
</div>