.custab{
    border: 1px solid #ccc;
    padding: 5px;
    margin: 1% 0;
    transition: 0.5s;
    }

    .m-heading{
        color: #192639;
        margin-top: 45pt;
        margin-left: 15px;
        font-size: x-large;
    }
    .m-search{
    border: 1px solid #ccc;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 1px;
    }
    .table .thead-dark{
        color: #fff;
    background-color: #162c4c;
    border-color: #ffffff;
    padding: 15px 13px;
    font-size: 16px;
    border: 1px solid #162c4c;
    }
    hr {
        margin-top: 15px;
        margin-bottom: 15px;
        border: 0;
        border-top: 2px solid #d4d4d5;
    }