<div class="container">
	<div class="col-xs-12">
            <br>
		<h2>Privacy Policy</h2>
        <p class="align">Welcome to Skill practical, a community marketplace to learn technical education at undergraduate & graduate level from our members. This website  https://skillpractical.com, is owned and operated by SYNAPTIAL IT TECHNOLOGIES & SERVICES PRIVATE LIMITED, a company registered in India under registration number U74999AP2017PTC106152. Our registered office is #Flat No. 203, 2nd Floor, S.S.Residency, Autonagar, Vijayawada, AP - 520007 By accessing any part of the Service, you are agreeing to the terms and conditions described below. </p>
        <p class="align">If you do not agree to any of these terms, you cannot use the Service. This Privacy Policy applies to all users, who are simply viewing content available via the Service and users who have registered as members of Skill practical.</p>
        <p class="align">We may, at our sole discretion, modify this Privacy Policy at any time. By accessing the Service, you are agreeing to such modifications, at any time after such modifications. This Privacy Policy was last modified as of November 1, 2017.</p>

        <h4>General</h4>
        <p class="align">Your privacy is very important to us. Accordingly, we have developed this Privacy Policy in order for you to understand how we collect, use, communicate, disclose and make use of personal information. The Synaptial privacy statement applies to skill practical and our affiliated web sites that links to this statement. The following outlines our privacy policy.</p>

        <h4>Personal Information</h4>
        <p class="align">When your register with us and become a Skill Practical Member or user, and you choose to access the Resources, teach or attend an event/workshop, participate in the community, we will ask you for personally identifiable information. This refers to information about you that can be used to contact or identify you. This includes, but is not limited to, your name, email address, but does not include your credit card information at this point. To provide efficient job opportunities for your career we may combine the information we collect from you with information obtained from other sources to help us improve its overall accuracy and completeness, and to help us better tailor our interactions with you. We may personally ask for the extra information to assist you in the services requested. Upon your request, the information collected may be given to our vendors.</p>
        <p class="align">In order to send you e-mail from Skillpractical, we need your e-mail address. To provide you with additional services, we may also request your name, geographical coordinates, and telephone number. We may give some or all of this information to our members upon your request for particular service. We will not give your name, email, or other personal information to unaffiliated third parties except with your consent or as otherwise set forth in this privacy policy. Though we make every effort to preserve user privacy, we may need to disclose personal information when required by law or when we have a good faith belief that such action is necessary to comply with a current judicial proceeding, a court order or legal process that we receive or to protect our interests or the safety of others. In addition, we may provide personal information to employees, consultants or other business or persons for the purpose of processing such information on our behalf. In such circumstances, we require that these parties agree to protect the confidentiality of such information and to comply with the terms of this Privacy Policy.</p>
        <p class="align">Remember that no method of transmission over the Internet, or method of electronic storage, is 100% secure. While we strive to use commercially acceptable means to protect your Personal Information, we cannot guarantee its absolute security.</p>

        <h4>Other Information</h4>
        <p class="align">We use your academic results in various sectors to generate performance graph monthly and assign tasks. We use your IP address to help diagnose problems with our server, to administer our Service, and to analyze traffic patterns on the Service. We use cookies, web beacons and similar technology to deliver content specific to your interests and to save your password so you don't have to re-enter it each time you visit. We may also use web beacons and similar technology in emails that we send to you in order to track whether the emails have been opened. In addition, our web servers track information about the visits to the Service. For example, we compile statistics that show the daily number of visitors to the Service, the daily requests we receive for particular files on the Service, and what geographical areas those requests come from. These aggregated statistics are used internally to better provide services to the public and may also be provided to others.</p>
     
        <h4>Information security</h4>
        <p class="align">•    We take appropriate security measures to protect against unauthorized access to or unauthorized alteration, disclosure or destruction of data</p>
        <p class="align">•	We restrict access to your personally identifying information to employees who need to know that information in order to operate, develop or improve our services</p>
        
        <h4>Voluntary Disclosure</h4>
        <p class="align">Any personal information or content that you voluntarily disclose in public areas becomes publicly available and can be collected and used by other users for any reason. Your profile pages and any online classrooms you participate in are typically publicly available, although you have the ability to change the settings to limit access to these areas. You should exercise caution before disclosing your personal information via these or any other public venues.</p>
        <p class="align">For example, if you choose to sign up for a free Skillpractical account, you may have a Profile page on the site, containing your Full Name and some basic information including your location and bio. You may also add additional optional information to your Profile. You may control what type of Profile information is shown to other through your Account Settings. Any information you choose to provide as part of your profile should reflect how much you want other Skillpractical users to know about you. We recommend that you guard your anonymity and sensitive information and we encourage members to think carefully about what information about themselves they disclose in their profile pages. You can review and revise your profile information at any time.</p>

        <h4>Children’s Privacy</h4>
        <p class="align">You must be at least 18 years old to register to use the Service. Accordingly, we do not collect any personal information from children.</p>

        <!-- <h4>Information Sharing and Disclosure</h4>
        <ul type="disc" class="privacy">
            <li>'Funds and Toils' does not rent, sell, or share personal information about you with other people (save with your consent) or non-affiliated companies except to provide products or services you've requested, when we have your permission, or under the following circumstances
                <ul type="circle"  class="pricavy">
                  <li>We transfer information about you if 'Funds and Toils' is acquired by or merged with another company. In this event, 'Funds and Toils' will notify you before information about you is transferred and becomes subject to a different privacy policy</li>
                </ul>
            </li>
            <li>
                'Funds and Toils' displays targeted advertisements based on personal information. Advertisers (including ad serving companies) may assume that people who interact with, view, or click on targeted ads meet the targeting criteria - for example, women ages 18-24 from a particular geographic area
                <ul type="circle" class="privacy">
                    <li>'Funds and Toils' advertisers include financial service providers (such as banks, insurance agents, stock brokers and mortgage lenders) and non-financial companies (such as stores, airlines, and software companies)</li>
                </ul>
            </li>
        </ul><br> -->

        <h4>Confidentiality and Security</h4>
        <p class="align">•	We limit access to personal information about you to employees who we believe reasonably need to come into contact with that information to provide products or services to you or in order to do their jobs</p>
        <p class="align">•	"We have physical, electronic, and procedural safeguards that comply with the laws prevalent in India to protect personal information about you. We seek to ensure compliance with the requirements of the Information Technology Act, 2000 as amended and rules made thereunder to ensure the protection and preservation of your privacy</p>
           
        <h4>Third Parties</h4>
        <p class="align">This Privacy Policy applies solely to our privacy practices. We are not responsible for the privacy practices of our partners; Service Providers or any third parties, even if our ads contain links to third party websites and even if we have a business relationship with that third party. We encourage you to review the privacy statements of each and every website that you visit to be sure you understand the terms and conditions that apply to you from each of them.</p>

        <h4>Third Party Advertising</h4>
        <p class="align">We may use third-party advertising companies to serve ads when you visit the Service. These companies may use information (not including your name, address, email address or telephone number) about your visits to this and other web sites in order to provide advertisements of their goods and service that may be of interest to you. In the course of serving advertisements to this site, third-party advertisers may also place or recognize a unique "cookie" on your browser, or use other technologies such as Java scripts or web beacons.</p>

        <h4>Other Sites</h4>
        <p class="align">The Service may contain links to other Web sites or services. We are not responsible for the privacy practices or the content of such Web sites or services, and you should review the privacy policy of each such Web site or service to make sure that you are comfortable with it before providing any personal information.</p>

        <h4>Members</h4>
        <p class="align">As discussed above, we may give your personal information to the community members upon your request. As part of our Terms of use, Skill practical Member’s agree not to abuse other user's personal information. Abuse is defined as using personal information for any purpose other than those explicitly specified in the Teachers Class. However, please note that Skill Practical Members are not our employees or partners and we are not responsible to any transaction between you and the teacher outside of skill practical. As a result, we cannot control their actions and cannot be held liable for any actions that they may take outside of skill practical.</p>

        <h4>Miscellaneous</h4>
        <p class="align">In the event that we are acquired by or merged with a third-party entity, we reserve the right to transfer or assign the information we have collected from users as part of such merger, acquisition, sale, or other change of control. In the unlikely event of our bankruptcy, insolvency, reorganization, receivership, assignment for the benefit of creditors, the application of laws or equitable principles affecting creditors rights generally, we may not be able to control how your personal information is treated, transferred, or used.</p>
        <p class="align">The Service is hosted in the India and is intended for and directed to users in the India. If you are accessing the Service from the European Union, United States, Canada, or any other region with laws or regulations governing personal data collection, use, and disclosure, that differ from Indian laws, please be advised that through your continued use of the Service, which is governed by Indian laws, Privacy Policy, and our Terms of Service, you are transferring your personal information to the India and your consent to that transfer.</p>
        
        <h4>Modifications to this Privacy Policy</h4>
        <p class="align">We may edit, amend, modify, and update our Privacy Policy at any time and from time to time, by posting updated text on or links to our Website. When we make material changes to our Privacy Policy or our privacy practices, we will notify you by posting a notice on our Website. We display the Effective Date at the top of our Privacy Policy so that you will know when there has been a change in its effective date. By using our Website or our Technology or any Partner Site using our Technology after the effective date, you will have agreed and be deemed to have agreed to comply with and be legally bound by the updated Privacy Policy.</p>
        
        <h4>Contact Us</h4>
        <p class="align">If you have any questions about this Privacy Policy, you can contact us at support@synaptial.net  </p>
    </div>
</div>
<br>
<footercontent-page></footercontent-page>