<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="row" *ngFor="let projects of projects; let i=index">
  <div *ngIf="i<10">
        <p class="m-mailbox-subject">
          <a class="mailbox-subject" (click)="onclickrelatedproject()" [routerLink]="['/projects/projectsinfo', projects.project_id]" >
            {{projects.project_title | capitalize}}
          </a>
        </p>
</div>
</div> 

<style>
    .m-mailbox-subject  {
      padding-top: 1em;
       font-size: 13px;
       padding-left:10px;
       padding-right:10px;
       padding-bottom:1em;
       border-bottom: 1px solid #80808061;
      
     }
     .m-mailbox-subject:hover  {
       background: #80808061;
     color:#fff;
     
     }
     .m-mailbox-subject a{
       text-decoration: none;
     }
     .m-mailbox-subject a:hover{
       
       color:#000;
     }
</style>

