<div class="container-fluid m-margin m-mobilepad">
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12 m-mobilepad">
             <h4 class="m-heading">Change Password</h4>
          </div>
        </div>
      <form #form1="ngForm" (submit)="submitForm1(form1)" >
        <div class="row">
          <div class="col-md-6 m-mobilepad">
            <div class="form-group" [class.has-error]="currentpassword.invalid && currentpassword.touched">
                        <label for ="currentpassword">Current Password</label>
                        <input type="currentpassword" class="form-control" name="currentpassword" [(ngModel)]="modelpassword.currentpassword" 
                        required  #currentpassword="ngModel" pattern="^[a-zA-Z0-9_.+-]+[^-,]+$">
                        <small [hidden]="currentpassword.valid || (currentpassword.pristine && !form1.submitted)" class="text-danger">
                          Password is required with no spaces
                          </small>
                          <!-- <small *ngIf="currentpassword.invalid && currentpassword.touched" class="alert alert-danger" style="width: 326px;">
                            Password is required with no spaces
                          </small> -->
                    </div>
          </div>
          <div class="col-md-6 m-mobilepad">
            
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 m-mobilepad">
            <div class="form-group" [class.has-error]="password.invalid && password.touched">
                        <label for ="password">New Password</label>
                        <input type="currentpassword" class="form-control" name="password" [(ngModel)]="modelpassword.password" 
                        required  reverse="true"  #password="ngModel" pattern="^[a-zA-Z0-9_.+-]+[^-,]+$">
                        <small [hidden]="password.valid || (password.pristine && !form1.submitted)" class="text-danger">
                          Password is required with no spaces
                      </small>
                      <!-- <small *ngIf="confirmpassword.invalid && confirmpassword.touched" class="alert alert-danger" style="width: 326px;">
                        Password is required with no spaces
                      </small> -->
                    </div>
          </div>
          <div class="col-md-6 m-mobilepad">
            <div class="form-group" [class.has-error]="confirmpassword.invalid && confirmpassword.touched">
                        <label for ="confirmpassword">Confirm New Password</label>
                        <input type="confirmpassword" class="form-control" name="confirmpassword" [(ngModel)]="modelpassword.confirmpassword" 
                        required validateEqual="password"  reverse="false" #confirmpassword="ngModel" pattern="^[a-zA-Z0-9_.+-]+[^-,]+$">
                        <small [hidden]="confirmpassword.valid || (confirmpassword.pristine && !form1.submitted)" class="text-danger">
                          Password is mismatch    
                      </small>
                      <!-- <small *ngIf="confirmpassword.invalid && confirmpassword.touched" class="alert alert-danger" style="width: 326px;">
                        Password is mismatch  
                      </small> -->
                    </div>
          </div>
        </div>
        
        <div class="row">
          <div class="col-md-12 text-center m-mobilepad">
            <button class="btn btn-success" type="submit" [disabled]="!isValidForm()" [disabled]="form1.invalid"> Save Changes </button>
          </div>
        </div>
      </form>  
      </div>
      <div class="col-md-6">
      </div>
    </div>
  </div>
  