.thumbheader
{
  width: 100%;
    background-color: #ffffff;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
        
}
.blockh3{
  height: 70px;
    text-align: center;
    /* background-color: #8f9092; */
    background-color: #3a4255;
    margin: 0px;
    padding-bottom: 24px;
    /* border: 2px solid#ccc; */
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
        box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
  }

.thumbcontent {
  margin-left: 81px;
    margin-top: 21px;
}

tbody{
  font-weight: 300;
}

button {
    margin-right: 11px;
}

.project-title{
  margin-left: 0px;
  padding: 16px 4px;
  font-size: 13px;
  line-height: 16px;  
  color: lightgrey

  }

  .thumbnail {height: 260px;border: 2px solid #ccc;} 
  .pad-left { margin-left: 10px; }

  .glyphicon {
    position: relative;
    top: -3px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased
  }
  .m-button{
    margin-right: 11px;
    background: #8f9092;
    margin-bottom: 10px;
    color: #fff !important;
    border-radius: 4px;
    text-decoration: none;
  }
  .m-button:hover{
    background: #337ab7;
  }
  
  /* ipad Portrait */
@media only screen 
and (min-device-width: 1024px) 
and (max-device-width: 1366px) 
and (orientation: portrait) 
and (-webkit-min-device-pixel-ratio: 1.5) {
  .thumbcontent{
    margin-left: 41px;
    margin-top: 21px;
}
.blockh3{
  height: 86px;
}
}
.btn{
  padding: 4px 9px;
}