<div class="container-fluid m-fluid">
    <div class="row">
      <div class="col-md-4">
        <h4 class="m-heading"> Projects: get hands-on practice
          <span>
            <button type="button" (click)="clearall()" class="btn btn-primary m-btn">
              <span class="glyphicon glyphicon-repeat"></span>&nbsp;clear</button>
          </span>
        </h4>
        
        <h5 class="m-h5"> Projects give you hands-on practice with Engineering technologies via step-by-step instructions. You'll gain new skills
          — and confidence — faster than you thought possible.</h5>
      </div>
  
      <div class="col-md-5 aligncenter0">
					<a class="clbtn">Academics</a>
	  			<a class="crbtn "  [routerLink]="['/diyprojects/searchdiyprojects']">DIY</a>
        </div>
      <div class="col-md-3">
        <div class="input-group">
          <input type='text' class="form-control" placeholder="Project Search.." [(ngModel)]='listFilter' />
          <span class="input-group-addon" id="basic-addon1">
            <i class="fa fa-search" aria-hidden="true"></i>
          </span>
        </div>
        <div class="m-share">
          <share-buttons [tumblr]="false" [pinterest]="false" [stumbleUpOn]="false" [reddit]="false" [url]="linkToShare" [title]="'Projects: get hands-on practice'"
            [tags]="'sample Tags'" [description]="'Dist'" [image]="'Sample'"></share-buttons>
        </div>
  
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-3 col-xs-6 pcontent m-colpd m-brdr">
        <ul style="overflow-y: scroll;">
          <li>
            <a [class.active]="filterBy==='All'" (click)="filterByall()">All</a>
          </li>
          <li>
            <a [class.active]="filterBy==='electrical'" (click)="filterByelectrical()">Electrical</a>
          </li>
          <li>
            <a [class.active]="filterBy==='electronics'" (click)="filterByelectronics()">Electronics</a>
          </li>
          <li>
            <a [class.active]="filterBy==='computerscience'" (click)="filterBycomputerscience()">Computer Science</a>
          </li>
          <li>
            <a [class.active]="filterBy==='mechanical'" (click)="filterBymechanical()">Mechanical</a>
          </li>
          <li>
            <a [class.active]="filterBy==='civil'" (click)="filterBycivil()">Civil</a>
          </li> 
        </ul>        
      </div>
    
      <div class="col-md-3 col-xs-6 m-colpd m-brdr">
        <div class="pcontent">
          <ul style="overflow-y: scroll;" >
            <li *ngFor="let tags of tags">
              <a [class.active]="isSelected(tags.tag)" (click)="filterBytag(tags.tag)">{{tags.tag}}<span style="color: grey;padding-left:4px">({{tags.projectcount}})</span></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-xs-6 m-colpd m-brdr" >
        <div class="pcontent" [ngStyle]="starredclickstyle">
          <ul>
            <!--beginner-->
            <li>
              <a [class.active]="filterByType==='Beginner'" (click)="filterBybeginner()" disabled>Beginner</a>
            </li>
  
            <!--midlevel-->
            <li>
              <a [class.active]="filterByType==='Intermediate'" (click)="filterBymidlevel()">Intermediate</a>
            </li>
  
            <!--advanced-->
  
            <li>
              <a [class.active]="filterByType==='Advanced'" (click)="filterByadvanced()">Advanced</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-xs-6 m-colpd">
        <a [class.active]="filterByStarred==='starred'" (click)="filterBystarred()">
          <p>Saved
            <i class="glyphicon  glyphicon-heart" style="color:red"></i>
          </p>
        </a>
        <br>
        <button class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal" style="color:#000;">New Project?</button>
      </div>
    </div>
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <!-- <button type="button" class="" data-dismiss="modal">&times;</button> -->
            <h4 style="text-align: center;font-size: 23px; color: #ffffff; " class="modal-title">NEW PROJECT IDEA FORM</h4>
          </div>
          <div class="modal-body">
            <new-project-query-form></new-project-query-form>
          </div>
          <!-- <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div> -->
        </div>
      </div>
  
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
       <h4 class="m-allh4"> Showing <kbd>{{selectedTag}}</kbd> of <kbd>{{filterBy}}</kbd> Projects       
      </h4>
      </div>
    </div>
    <div class="row">
       <div *ngFor="let project of visibleProjects | projectsFilter:listFilter;" class="col-md-3">
          <project-thumbnail [project]="project"></project-thumbnail>
        </div>	  
    </div>
    <div class="row">
    <div class="col-md-12">
     <div class="noprojectscurrently" *ngIf="!(visibleProjects?.length > 0)">
         No Projects currently
       </div>
    </div>
    </div>
  </div>