.active {
    position: relative;
    display: inline-block;
    padding: .4em .5em;
    margin: 2px 2px 2px 0;
    font-size: 11px;
    line-height: 1;
    white-space: nowrap;
    text-decoration: none;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-radius: 0;
    transition: all .15s ease-in-out;
    color: #39739d;
    background-color: #E1ECF4;
    border-color: transparent;
}

.dropdown-menu.multi-column {
    width: 400px;
    
}
 
.dropdown-menu.multi-column .dropdown-menu {
    display: block !important;
    position: static !important;
    margin: 0 !important;
    border: none !important;
    box-shadow: none !important;
}

.noprojectscurrently {
    margin-top: 4em;
    font-size: 42px;
    text-align:center;
    color: darkgrey;
    margin-bottom:4em;
}


.noregisteredprojects {
    margin-top: 4em;
    font-size: 42px;
    text-align: center;
    color: darkgrey;
}
a{
    cursor: pointer;
    color:white;
}
  
#kb_widget {
        position: fixed;
        bottom: 30px;
        right: 30px;
        border: 1px solid #eeeeee;
        z-index: 1000;
    }
    #kb_widget #kb_widget_content {
        float: right;
        width: 350px;
        height: 340px;
        right: -5px;
        bottom: -20px;
        position: absolute;
        border: 1px solid #e8e8e8;
        background-color: white;
        padding: 8px;
        -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.28);
        -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.28);
        box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.28);
        overflow: hidden;
        z-index: 999;
    }
    div #kb_widget_button button {
        background: linear-gradient(to right, #49c593, #009ece);
        color: #fff;
        border: 0;
        font-size: 22px;
        padding: 8px 25px 8px 65px;
        position: relative;
        font-weight: 600;
        filter: drop-shadow(2px 2px 3px rgba(0,0,0, 0.28));
        -webkit-filter: drop-shadow(2px 2px 3px rgba(0,0,0, 0.28));
        border-radius: 3px!important;
    } 
    div #kb_widget_button button img {
        position: absolute;
        left: -35px;
        top: -16.58px;
        height: 80px;
    }

    .btn-group-sm {
        margin-left: 67px;color:#fff;
    } 

   
    #m-1 {
        width:200px;height:130px;overflow-y:auto;overflow-x:hidden;float:left;
    }

    #m-2 {
        width:200px;height:130px;overflow-y:auto;overflow-x:hidden;float:left;
    }

    #m-3 {
        width:200px;height:130px;overflow-y:auto;overflow-x:hidden;float:left;margin-left:20px;
    }

    #m-4 {
        width:200px;height:130px;float:left;margin-left:20px;
    }

    .verical-line {
        height:132px;width:1px;background-color:#fff; float:left;margin-left:100px;
    }

    .verical-line1 {
        height:132px;width:1px;background-color:#fff; float:left;margin-left:100px;
    }

    .verical-line2 {
        height:132px;width:1px;background-color:#fff; float:left;margin-left:100px;
    }
    .clbtn{
    padding: 2%;
    color: #fff;
    background: #36708D;
    border: 1px solid #0F89B4;
    padding-left: 4%;
    padding-right: 4%;
    }
    .crbtn{
    color: #fff;
    background: #5F656F;
    border: 1px solid #7c7f86;
    padding: 2%;
    padding-left: 9%;
    padding-right: 9%;
    margin-left: -1%;
    }
    .aligncenter0{
        text-align: center;
    }
   
    @media screen and (max-width: 414px) {
       

        .btn-group-sm {
            margin-left: 43px;
            color: #fff;
        }

        

        #m-1 {
            width: 135px;
            height: 141px;
            overflow-y: hidden;
            overflow-x: hidden;
            float: left;
            font-size: 11px;
            margin-left: -6px;
        }

        #m-2 {
            width: 200px;
            height: 130px;
            overflow-y: auto;
            overflow-x: hidden;
            float: left;
            margin-left: -74px;
            font-size: 13px;
        }

        #m-3 {
            width: 200px;
            height: 130px;
            overflow-y: auto;
            overflow-x: hidden;
            float: left;
            margin-left: -102px;
            margin-top: 0px;
            font-size: 13px; 
        }

        #m-4 {
            width: 180px;
            height: 130px;
            float: left;
            margin-left: 284px;
            margin-top: -142px;
            font-size: 15px;
        }

      

        .verical-line {
            height: 132px;
            width: 1px;
            background-color: #fff;
            float: left;
            margin-left: -41px;
        }

        .verical-line1 {
            height: 132px;
            width: 1px;
            background-color: #fff;
            float: left;
            margin-left: -68px;
        }

        .verical-line2 {
            height: 130px;
            width: 1px;
            background-color: #fff;
            float: left;
            margin-left: -78px;
        }

        .btn-group-sm>.btn, .btn-sm {
            padding: 5px 10px;
            font-size: 11px;
            line-height: 1.5;
            border-radius: 3px;
        }
        
       
    }

    @media screen and (max-width: 375px) {
       
        .btn-group-sm>.btn, .btn-sm {
            padding: 5px 10px;
            font-size: 10px;
            line-height: 1.5;
            border-radius: 3px;
            margin-left: -7px;
        }
    }

    @media screen and (max-width: 360px) {
      
        .btn-group-sm>.btn, .btn-sm {
            padding: 6px 10px;
            font-size: 9px;
            line-height: 0.5;
            border-radius: 3px;
            margin-left: -9px;
        }
    }
    .input-group-addon {
        padding: 6px 12px;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.6 !important;
        color: #fff;
        text-align: center;
        background-color: #192639;
        border: 1px solid #192639;
        border-radius: 4px;
    }
.m-fluid{
    background-color:#3A4255;
    margin-top: 18pt;
    padding-top: 20pt;
}
.m-heading{
    display: inline;
    font-weight: 400;
    color: #fff;
    font-size: 22px;
    vertical-align: middle;
    margin-right: 10px;
}
.m-h5{
    color: #d4d4d5;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.5;
    text-align: justify;
}
.m-share{
    float: right;
}
.col-md-4, .col-md-3{
    padding-bottom:15px;
}
hr{
    margin-top: 20px;
    margin-bottom: 0px;
    border: 0;
    border-top: 2px solid #eee;
    margin-left: -15px;
    margin-right: -15px;
}
ul{
    list-style: none;
    -webkit-padding-start: 0px;
    height: 100px;   
    
}
ul li {
    padding-bottom:5px;
    font-size:15px;
}
ul li a{
    cursor: pointer;
    padding-bottom: 5px;
    text-decoration: none;
    font-size:12px;
}
.m-colpd{
    padding: 30px 40px;
}

.m-allh4{
    font-size: 18px;
    margin-top: 25px;
    margin-bottom: 7px;
    line-height: 37px;
}

@media screen and (min-width:768px) {
    .m-brdr{
        border-right: 1px dotted #fff;
    }
    
}
.btn{
    padding: 4px 9px;
}
@media screen and (max-width:768px){
    .m-fluid{
        background-color:#3A4255;
        margin-top: 16pt;
        padding-top: 20pt;
    }
}
