<br/>

<div class="container-fluid m-margin">
  <div class="row">
    <div class="col-md-6 homeoverflow">
      <h4 class="m-heading"> Student Data </h4>
      <graph-page></graph-page>

    </div>
    <div class="col-md-6 homeoverflowtasks">

      <h4  class="m-heading"> Tasks </h4>
      <tasks-page></tasks-page>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-md-6 homeoverflowupdates">
      <h4  class="m-heading">Technology & College Updates </h4>
      <updates-page></updates-page>
    </div>
    <div class="col-md-6 homeoverflowtrending">
      <h4  class="m-heading"> Skillpractical Trending </h4>
      <trending-page></trending-page>

    </div>
  </div>
</div>