.homeoverflow{
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 8px;
  margin-left: -6px;
  height: 74vh;
  margin-bottom: 15px;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2), 0 1px 4px 0 rgba(0,0,0,0.19);
}
.homeoverflowtasks{
  overflow: auto;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 8px;
  height: 74vh;
  margin-bottom:  15px;
  margin-left: 6px;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2), 0 1px 4px 0 rgba(0,0,0,0.19);
}
.homeoverflowupdates{
  overflow: auto;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-bottom:  15px;
  padding: 8px;
  height: 74vh;
  margin-left: -6px;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2), 0 1px 4px 0 rgba(0,0,0,0.19);
}
.homeoverflowtrending{
  overflow: auto;
  margin-bottom:  15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  height: 74vh;
  padding: 8px;
  margin-left: 6px;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2), 0 1px 4px 0 rgba(0,0,0,0.19);
  
}




@media screen and (max-width: 414px) {
  .homeoverflow {
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 8px;
   
    height: auto;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2), 0 1px 4px 0 rgba(0,0,0,0.19);
}

.homeoverflowtasks {
  overflow: auto;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 10px;

  height: 330px;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2), 0 1px 4px 0 rgba(0,0,0,0.19);
}

.homeoverflowupdates {
  overflow: auto;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 8px;

  height: 372px;
  margin-top: -19px;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2), 0 1px 4px 0 rgba(0,0,0,0.19);
}

.homeoverflowtrending {
  height: 403px;
  overflow: auto;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 10px;

  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2), 0 1px 4px 0 rgba(0,0,0,0.19);
}


}


.m-margin{
  margin-top: 35pt;
  margin-bottom: 35pt;
}
.m-heading{
  background: #777;
  padding: 10px 15px;
  color: #fff;
  border-radius: 6px 6px 0px 0px;
  margin: -8px;
  margin-bottom: 2px;
}
@media only screen and (max-width: 999px) and (min-width: 730px)  {
  .homeoverflow{
height: 98vh;
}
.homeoverflowtasks{
  height: 98vh;
}
.homeoverflowupdates{
  height: 98vh;
}
.homeoverflowtrending{
  height: 98vh;
}
}
@media screen and (max-width: 768px) {
  .homeoverflowtasks{
    margin-left:-6px
  }
  .homeoverflowtrending{
    margin-left:-6px
  }
}