<ng-container *ngIf="testInfo && testShown">
  <div>
    <app-timer [startTime]="time" (timeFinished)="onTimeFinished($event)"></app-timer>
  </div>
  <div class="container-full">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <app-question *ngIf="currentQuestionInfo" class="width-50"  [testStarted]="testStarted" [submitted]="submitted[currentQuestion]" [(answer)]="answers[currentQuestion]" [meta]="currentQuestionInfo" ></app-question>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <app-answer (navigate)="changeQuestion($event)" [questions]="questions" [submitted]="submitted" [answers]="answerResponse" class="width-50 col-xs-12 col-sm-12 col-md-6 col-lg-6"></app-answer>
    </div>
    <div style="clear: both"></div>
  </div>
  <div class="centeralign">
    <button  [disabled]="isFirstQuestion" class="action-btn" mat-raised-button color="primary" (click)="previousQuestion()">Previous</button>
    <button [disabled]="isLastQuestion" class="action-btn" mat-raised-button color="primary" (click)="nextQuestion()" >Next</button>
    <button [disabled]="!canSubmitAnswer()" class="action-btn" mat-raised-button color="primary" (click)="submitAnswer()">Submit Answer</button>
    <button [disabled]="!testStarted" class="action-btn" mat-raised-button color="primary" (click)="completeTestBtn()">Complete Test</button>
    <button [disabled]="!testStarted" class="action-btn" mat-raised-button color="primary" (click)="pauseTest()">Stop Test</button>
  </div>
</ng-container>



<button type="button" style="display: none;" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal"  #openmodal></button>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
    
      <div class="modal-body">
          <!-- <star-rating-test></star-rating-test> -->

          <div class="container">
            <h4>STAR RATING</h4>
            <div class="section">
              <div class="block">
                <div>To Rate</div>
                <star-rating-test [maxScore]="5" [forDisplay]="false" (rateChanged)="onRateChange($event)"></star-rating-test>
                <div>Rating: {{score}}</div>
              </div>
              <!-- <div class="block">
                <div>To Display</div>
                <star-rating-test [score]="displayRatingScore" [forDisplay]="true"></star-rating-test>
                <div>Rating: {{displayRatingScore}}</div>
              </div> -->
            </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="closeratingpopup()" #closemodal>Close</button>
      </div>
    </div>

  </div>
</div>