.toolbar-btn {
  color: white;
  background-color: gray;
}

.toolbar-select {
  width: 200px;
  margin: 10px;
}

.toolbar-link {
  margin: 10px;
}

.example-spacer {
  flex: 1 1 auto;
}

.action-btn {
  margin: 10px 0;
}

.width-50 {
  float: left;
  width: 100%;
}

.centeralign{
	text-align: center;
}


.modal-backdrop {
  z-index: -1;
}




$gray: #aaa;

body{
  background: black;
  color: white;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px;
  width: 50%;
  .section{
    display: flex;
    height: 200px;
    align-items: center;
    justify-content: center;
    .block{
      border: 1px solid $gray;
      border-radius: 3px;
      margin:16px;
      padding: 40px;
      .margin-vertical-8{
        margin: 8px 0;
      }
    }
  }
  
}
