.message {
    font-size: 16px;
    color: #777;
    font-style: italic;
    padding-top: 14px;
    border: 3px solid #d4d4d5;
    padding: 18px 6px 18px 6px;
    border-radius: 12px;
    /* margin-left: 24px; */
    margin-right: 15px; 
    margin-top: 10px;
    text-align: center;
}
