
  <ng-container>
      <div class="container-fluid ">
        <div class="background">
        <div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 projecttile">
              <span class="projecttiletext">Projects: get hands-on practice</span><span class="clearbtn"><button type="button" class="clbtn" (click)="clearAllFilters()"><img src="/assets/tests/Retryimg.png"> clear</button></span>
              <p>Projects give you hands-on practice with Engineering technologies via step-by-step instructions. You'll gain new skills — and confidence — faster than you thought possible.</p>
             </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 searcharea">
                <input  class="searchbox" placeholder="Search text" (keyup)="textSearch()" [(ngModel)]="search_text"/><button class="btnsearch"><img src="/assets/tests/searchimg.png"></button>
             <div class="socialimg">
                <ul>
                  <li class="facebookimg"><a href=""><img src="/assets/tests/facebookimg.png"></a></li>
                  <li class="twitterimg"><a href=""><img src="/assets/tests/twitterimg.png"></a></li>
                  <li class="plusimg"><a href=""><img src="/assets/tests/plusimg.png"></a></li>
                  <li class="inimg"><a href=""><img src="/assets/tests/inimg.png"></a></li>
                  <li class="whatsupimg"><a href=""><img src="/assets/tests/whatsupimg.png"></a></li>
                </ul>
              </div>
            </div>
        </div>    
                    <div class="row margin">
                      <div class="dropbtn col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="overflow">
                        <ul>
                          <li>
                              <span [class.active]="selectedBranch == '' && search_text == ''" (click)="clearBranchSelection()">ALL</span>
                          </li>
                          <li *ngFor="let branch of branches">
                            <span [class.active]="isBranchSelected(branch.branch_id)" (click)="loadSubjects(branch.branch_id)">{{ branch.branch_name }}</span>
                          </li>
                        </ul>
                      </div>
                      </div>
                      <div class="dropbtn col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="overflow">
                          <ul>
                            <li *ngFor="let subject of subjects" >
                              <span [class.active]="isSubjectSelected(subject.subject_id)" (click)="selectSubject(subject.subject_id)" [innerHTML]="subject.subject_name"></span>
                            </li>
                          </ul>
                        </div>
                      </div>
                       <div class="dropbtn col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="overflow">
                          <ul>
                              <li><span [class.active]="isTestLevelSelected('beginner')" (click)="selectTestLevel('beginner')">Beginner</span></li>
                              <li><span [class.active]="isTestLevelSelected('intermediate')" (click)="selectTestLevel('intermediate')">Intermediate</span></li>
                              <li><span [class.active]="isTestLevelSelected('expert')" (click)="selectTestLevel('expert')">Expert</span></li>
                          </ul>
                        </div>
                      </div>
                      <div class="dropbtn col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="overflow">
                        <div class="checkboxbtn">
                          <ul>
                              <li><mat-checkbox [name]="completed" [(ngModel)]="completed" (change)="getPage(1)"><span class="">Completed</span></mat-checkbox></li>
                              <li><mat-checkbox [name]="resumed" [(ngModel)]="resumed" (change)="getPage(1)"><span class="">Resumed</span></mat-checkbox></li>
                              <li><mat-checkbox [name]="savedtest" [(ngModel)]="savedtest" (change)="getPage(1)"><span class="">Saved</span></mat-checkbox></li>    
                          </ul>
                          </div>                                         
                    </div>                              
                    </div>
                    </div> 
                    </div>
                    <div class="reet">
                      <div class="has-text-centered">
                          <div class="spinner" [ngClass]="{ 'hidden': !loading }"></div>
                          <pagination-controls (pageChange)="getPage($event)" id="pagination-div"></pagination-controls>
                        </div>                        
                    </div>
                    <div class="row cardarea">                      
                      <div class="col-md-3" *ngFor="let test_info of searchResult  | async | paginate: { id: 'pagination-div', itemsPerPage: itemsPerPage, currentPage: p, totalItems: total }" >
                          <app-testcarddisplay [testInfo]="test_info"  [userTestInfo]="test_info.user_test_info" [userFavInfo]="test_info.user_fav_test_info"></app-testcarddisplay>
                      </div>
                    </div>
      </div>
  </ng-container>