.toolbar-btn {
    color: white;
    background-color: gray;
  }
  
  .toolbar-select {
    width: 200px;
    margin: 10px;
  }
  
  .toolbar-link {
    margin: 10px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }
  
  .action-btn {
    margin: 10px 0;
  }
  .action-button-wrapper{
    text-align: center;
  }
  .action-button-wrapper button{
    background-color: darkgreen;
    color: #fff;
  }
  .width-50 {
    float: left;
    width: 50%;
  }


  /*awebon*/
  .dropdownbtn{
    border: 1px solid #000;
    margin-bottom: 10%;
    padding: 2%;
  }
  .checkboxbtn{
    padding-top: 2%;
  }
  .searchbox{
    border: 1px solid #000;
    padding: 11px;
    width: 45%;
  }
  .mat-input-infix{
    text-align: right;
  }
  .searcharea{
    text-align: right;
    padding-top: 1%;
    padding-bottom: 1%;
  }
  .mat-form-field {
    width: 100%;
    text-align: right;
  }
  .projecttile p{
    padding-right: 30%;
  }
  .projecttiletext{
    font-size: 26px;
  }
  .clearbtn{
    padding-left: 1%;
  }
  .clbtn{
    background: #286090;
    border: 1px solid #286090;
    border-radius: 5px;
    padding: 0px;
    padding-left: 6px;
    padding-right: 20px;

  }
  .btnsearch{
    background: #192639;
    padding-top: 4px;
    border: 0px;
    padding-bottom: 3px;
  }
   .projecttile{
    padding-top: 1%;
  }
  .socialimg ul li{
    display: inline;
    text-decoration: none;
        margin-right:0.5%;
  }
   .socialimg{
    padding-top: 12px;
  }
  .dropbtn{
    color: #fff;
    border-top: 3px solid #fff;
     border-bottom: 2px solid #fff;
    padding-top: 2%;
    padding-bottom: 2%;
    border-left: 1px dotted #fff;
    border-right: 1px dotted #fff;

  }
  .socialimg ul{
    padding-left: 0px;
  }
   .dropbtn ul li{
    list-style-type: none;
    margin-bottom: 1%;
  }
  .dropbtn ul{
    padding: 0;
  }
  .background{
    background: #3A4255;
  }
  .projecttile{
    color: #fff;
  }
  .h2{
    color: #fff;
    padding-top: 10%;
  }
  .overflow{
    height: 115px;
    overflow: auto;
  }
  .orclass h2{
    font-size: 40px;
    color: #fff;
    text-align: center;
    padding-bottom: 1%;
  }

/*  .active{
    position: relative;
    padding: .4em .5em;
    margin: 2px 2px 2px 0;
    font-size: 11px;
    line-height: 1;
    white-space: nowrap;
    text-decoration: none;
    border-width: 1px;
    border-style: solid;
    border-radius: 0;
    transition: all .15s ease-in-out;
    color: #39739d;
    background-color: #e1ecf4;
    border-color: transparent;
}*/
.cardarea{
  background: #fff;
}
.active{
  background-color: #e1ecf4;
  border-color: transparent;
  color: #3A4255;
}

/deep/ .active p{
  padding: 3px;
  background-color: #e1ecf4;
  border-color: transparent;
  color: #3A4255;
}

.reet {
    margin-left: 0;
    margin-bottom: 1rem;
    margin-top: 1.4%;
}
.margin{
  margin-left: 0px;
  margin-right: 0px;
}






/*media*/
@media(max-width: 1229px){
  
}
@media(max-width: 1200px){
  label {
    font-size: 12px;
  }
}
@media(max-width: 990px){
   .dropbtn{
    z-index: 1;
   } 
   .dropdownbtn{
    padding: 2%;
    }
    .searcharea[_ngcontent-c1] {
    text-align: left;
    }
}
@media(max-width: 768px){

}  
@media(max-width: 400px){
  .projecttiletext{
    font-size: 20px;
  }
}  
  
  /***********/