/*slider*/
.carousel{
    background: #2f4357;
    margin-top: 20px;
}
.carousel .item{
    min-height: 280px; /* Prevent carousel from being distorted if for some reason image doesn't load */
}
.carousel .item img{
    margin: 0 auto; /* Align slide image horizontally center */
}
.bs-example{
	margin: 20px;
}
.carousel-control.right{
	background-image: linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%)!important;
}
.carousel-control.left{
	background-image: linear-gradient(to left,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%)!important;
}
.lefts{
	border: 1px solid #1B3280;
    width: 50px;
    height: 50px;
    padding-top: 4%;
    border-radius: 2px solid #fff;
    border-radius: 25px;
    background: #dddd;
}
.lefts:hover{
	border: 1px solid #1B3280;
    width: 50px;
    height: 50px;
    padding-top: 4%;
    border-radius: 2px solid #fff;
    border-radius: 25px;
    background: #dddd;
}
.carousel-control:focus, .carousel-control:hover {
    color: #fff;
    text-decoration: none;
    filter: alpha(opacity=90);
    outline: 0;
    opacity: 0.5!important;
}
.rights{
	border: 1px solid #1B3280;
    width: 50px;
    height: 50px;
    padding-top: 4%;
    border-radius: 2px solid #fff;
    border-radius: 25px;
    background: #dddd;
}
.rights:hover{
	border: 1px solid #1B3280;
    width: 50px;
    height: 50px;
    padding-top: 4%;
    border-radius: 2px solid #fff;
    border-radius: 25px;
    background: #dddd;
}
.carousel-caption {
    padding-bottom: 7%;
}
.dropdown-menu {
    left: 20%;
    min-width: 35%;
}
.ovalcircle{
	width: 50px;
    height: 40px;
    background: #CCCCCC;
    border-radius: 30px / 24px;
    color: #ddd;
    border: 2px solid #1B3280;
   	padding-top: 16%;
    padding-left: 29%;
}
.dashes{
	color: #000;
}
.logictext{
	font-size: 16px;
}
.click{
	padding-left: 5%;
}
.logictext a{
	color: #0000FF;
	text-decoration: underline;
}
.modulerows{
	padding-top: 2%;
	padding-left: 2%;
    padding-right: 9%;
}
.logictext a:hover{
	color: #0000FF;
	text-decoration: underline;
}
.tenmin{
	color: #000;
}
.arrowimgr{
	padding-top: 16%;
    padding-left: 24%;
}
.bs-example{
	margin: 0;
	margin-top: 1.5%;
}
.padd0{
	padding-left: 0;
	padding-right: 0;
}
.carousel{
	min-height: 300px;
}
/*slider end*/

.firstmodulebox{
	border: 2px solid #000;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 8%;
    padding-right: 8%;
    text-align: center;
    font-size: 20px;
    margin-bottom: 1%;
    background: #CCCCCC;
}
.modulearea{
	padding-top: 2%;
	padding-bottom: 1.2%;
}
.modtitle{
	padding-left: 15px;
}
.estimate{
	background: #dddd;
    padding-left: 7%;
    text-align: left;
}
.estimateback{
	padding-left: 25%;
    padding-right: 25%;
}
.estimate p{
	padding-top: 4%;
}
.aboutimage{
	padding-bottom: 4%;
}
.estimatediv{
	text-align: center;
}
.topicsteps ul li{
	list-style: none;
	padding-top: 2%;
}
.topicsteps ul{
	padding-left: 20px;
    padding-top: 3%;
}
.topics{
	margin-top: 8%;
    background: #ddd;
    padding-bottom: 1%;
}
.resourcebtn{
	background: transparent;
    border: 1px solid #000;
    padding: 12px;
    padding-right: 10%;
}
.resourcebuttons{
	padding-top: 1%;
}
.logictext{
	font-size: 23px;
}
.modrows{
	padding-top: 8%;
}
.qustine{
	padding-top: 4%;
	font-size: 16px;
}
.qusttext{
	padding-left: 1%;
    padding-right: 3%;
}
.qustpadd2{
	padding-top: 3%;
}
.secondqustans{
	padding-left: 35%;
}
.thirdqustans{
	padding-left: 51%;
}
.mat-icon{
    vertical-align: middle;
}
.boxes{

}
/deep/ .popover{
  width: 301px !important;
}
/deep/ .popover-title{
   color: #000000;
   font-weight: 600;
}
.paddingdot{
  padding-top: 1.5%;
}
.logtext{
  text-decoration: underline;
}
.paddingimg{
  float: right;
  margin-top: -6%;
}
.arrowbtn{
  color: #555;
  background: #eae7df;
  border: 2px solid #ddd;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  padding-top: 2px;
}
.arrowbtn img{
  width: 72%;
}
.steps{
  color: #fff;
  border: 1px solid #ddd;
  padding: 4.4%;
  padding-left: 4%;
  padding-right: 4%;
  padding-bottom: 8px;
  padding-top: 7px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
.paddingdot{
    color: #000;
}
.paddingimg{
    margin-top: -6% !important;
}

.answer-item {
    display: inline;
    padding-left: 4%;
}
.radiotext{
    color: #333;
    font-weight: 400;
    padding-left: 3%;
}
.slidetext h3{
  color: #fff;
}
.sliderdiv{
  background: #3a4255;
  height: 200px;
}
.arrowslider{
  text-align: center;
  padding-top: 25%;
}
.centertextdiv{
  text-align: center;
   padding-top: 4%;
}
.popbtn{
  margin-left: -0.5%;
}

.completed-color{
    color: red;
}

.correct-answer{
    color:green;
}
.projectrelatetitlebox{
  padding: 20px;
  border:1px solid #ddd;
}
.bottombtns{
  text-align: center;
}







@media(max-width: 990px){
.ovalcircle {
    padding-top: 5%;
    padding-left: 11%;
}
.arrowimgr {
    padding-top: 3%;
    padding-left: 4%;
}
}


@media(max-width: 767px){
.lefts{
    padding-top: 12%;
}
.rights{
    padding-top: 12%;
}
.lefts:hover{
    padding-top: 12%;
}
.rights:hover{
    padding-top: 12%;
}
}
@media(max-width: 500px){
.lefts{
    padding-top: 15%;
}
.rights{
    padding-top: 15%;
}
.lefts:hover{
    padding-top: 15%;
}
.rights:hover{
    padding-top: 15%;
}
}
@media(max-width: 350px){
.lefts{
    padding-top: 18%;
}
.rights{
    padding-top: 18%;
}
.lefts:hover{
    padding-top: 18%;
}
.rights:hover{
    padding-top: 18%;
}
}
