<div  *ngIf="moduleInfo">
<div class="container-fluid padd0">
    <div class="sliderdiv">
    <div>
    	<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
    		<div class="arrowslider" *ngIf="previousModuleId != 0" >
    			<a [routerLink]="['/diyprojects/diymoduledetail/', previousModuleId]"><img src="/assets/tests/sliderleftarrow.png" class=""></a>
    		</div>
    	</div>
    	<div class="slidetext col-xs-6 col-sm-6 col-md-6 col-lg-6 centertextdiv">
          <h3>{{moduleInfo.diy_module_info.module_name}}</h3>
           <div class="boxes">
           	<span class="steps"> 6 step</span>
           	<span class="popbtn"><button class="arrowbtn" [popover]="modulesPopover"  (click)="getProjectModules()"><img src="/assets/tests/arrow.png"></button></span>
           <popover-content #modulesPopover
              title="Modules"
              placement="bottom"
              [animation]="true"
              [closeOnClickOutside]="true" >
              <div class="paddingdot"  *ngFor="let project_module of projectModules" ><span class="logtext">{{project_module.module_name}}</span> <br>{{project_module.module_duration}}<a [routerLink]="['/diyprojects/diymoduledetail/', project_module.module_id]"><img src="/assets/tests/rightarrow.png" class="paddingimg"></a></div>
            </popover-content>
          </div>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        	<div class="arrowslider"  *ngIf="nextModuleId != 0" >
					<a [routerLink]="['/diyprojects/diymoduledetail/', nextModuleId]"><img src="/assets/tests/sliderrightarrow.png" class=""></a>
    		</div>
    	</div>
    </div>
</div>
</div>
<div class="container-fluid">
		<div class="row modulearea">
		<div class="col-xs-12 col-sm-6 col-md-9 col-lg-9">
			<ng-template ngFor let-topic [ngForOf]="moduleInfo.diy_module_topics">
				<div class="modtitle" id="topic-{{topic.module_topic_id}}">
						<h3 *ngIf="topic">{{topic.topic_title}}:</h3>
				</div>			
				<p *ngIf="topic" [innerHTML]="topic.topic_description"></p>
			</ng-template>	
		</div>
		<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 ">
			<div class="estimatediv">
				<div class="estimateback">
					<div class="estimate">
						<p>Time Estimate</p>
						<div class="aboutimage">
							<span><img src="/assets/tests/clockicon.png"></span><span class="about">about {{moduleInfo.diy_module_info.module_duration}}</span>
						</div>
					</div>
				</div>
			</div>
			<div class="topics">

				<div class="topictitle">Topics</div>
				<div class="topicsteps">
					<ul>
						<li *ngFor="let moduleTopic of moduleInfo.diy_module_topics"><a [ngx-scroll-to]="'topic-'+moduleTopic.module_topic_id" [ngx-scroll-to-offset]="200">{{moduleTopic.topic_title}}</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid">
	<h2>Resources</h2>
	<div class="resourcebuttons" *ngFor="let relatedProject of moduleInfo.diy_module_related_project_info" >
		<a class="projectrelatetitlebox" [routerLink]="['/diyprojects/diyprojectdetail/',relatedProject.c_id]">{{relatedProject.project_title}}</a>
	</div>
</div>
<div class="container-fluid ">
	<div class="row modrows">
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
			<span class="logictext">Module test (assessment)</span><span class="click"><mat-icon class="completed-color" *ngIf="testCompleted" >check_box</mat-icon></span>
		<div class="qustine" *ngFor="let question of moduleInfo.diy_module_question_answer_info" >
			<span class="qustno">{{question.question_number}}.</span><span class="qusttext">{{question.question}}</span><span class="qustans"></span>
			<div class="row qustpadd2">
				<div class="col-xs-12 col-sm-6 col-md-12 col-lg-12">
					<ng-container *ngIf="question.question_type == 'single'">
						<mat-radio-group (change)="selectAnswer($event,question.question_id)">
							<mat-radio-button *ngFor="let answer of question.answers_info" [value]="answer.answer_id" [disabled]="testCompleted" class="answer-item" [checked]="isChecked(answer.answer_id,question.question_id)">
								<p class="radiotext">
									<span *ngIf="testCompleted"  [ngStyle]="{'color':(answer.correct_answer == 'Y') ? 'green' : 'red' }"><span [innerHTML]="answer.answer"></span></span>
									<span *ngIf="!testCompleted"><span [innerHTML]="answer.answer"></span></span>
								</p>
							</mat-radio-button>
						</mat-radio-group>
					</ng-container>
					<ng-container *ngIf="question.question_type == 'multiple'">
						<mat-checkbox  *ngFor="let answer of question.answers_info"  [name]="answer.answer_id" class="answer-item" [disabled]="testCompleted"  (change)="selectAnswer($event,question.question_id)" [checked]="isChecked(answer.answer_id,question.question_id)">
							<p class="radiotext">
								<span *ngIf="testCompleted"  [ngStyle]="{'color':(answer.correct_answer == 'Y') ? 'green' : 'red' }"><span [innerHTML]="answer.answer"></span></span>
								<span *ngIf="!testCompleted"><span [innerHTML]="answer.answer"></span></span>
							</p>
						</mat-checkbox>
					</ng-container>
				</div>
			</div>
		</div>
		<div>
		</div>
		</div>
	</div>
  <div class="bottombtns">
      <button class="action-btn" mat-raised-button color="primary" (click)="submitTest()" [disabled]="testCompleted">Submit Answer</button>
  </div>
</div>
</div>
