<div  *ngIf="projectInfo">
<div class="container-fluid margin0">
	<div class="row">
		<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
			<div class="mainlogo">
				<img src="{{projectInfo.diy_project_info.project_image}}" class="img-responsive">
			</div>
		</div>
		<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 dpheaderrighttarea">
			<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
				<div class="dpprojecttext">
					<h3>Project</h3>
					<h4>{{projectInfo.diy_project_info.project_title}}</h4>
				</div>
			</div>	
			<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 iconsocial">
				<div class="icons">
					<ul>
						<li class="">
								<a *ngIf="this.userLiked" class="favorite-test" (click)="clickLikedFlag('N')"><mat-icon>thumb_up</mat-icon></a>
								<a *ngIf="!this.userLiked"  (click)="clickLikedFlag('Y')"><mat-icon>thumb_up</mat-icon></a>
 					  	</li>
						<li class="two">{{likedCount}}</li>
						<li class="one"><mat-icon>remove_red_eye</mat-icon></li>
						<li class="two">{{viewCount}}</li>
					</ul>	
				</div>
				<div class="socialimg">
						<share-buttons [tumblr]="false" [pinterest]="false" [stumbleUpOn]="false" [reddit]="false" [url]="linkToShare" [title]="'Projects: get hands-on practice'"
						[tags]="'sample Tags'" [description]="'Dist'" [image]="'Sample'"></share-buttons>
				</div>
			</div>
		
		<div class="paratext">	
			<p>{{projectInfo.diy_project_info.project_abstract}}</p>
		</div>
		<div class="row col-md-12 paddingtop2">
			<div class="col-xs-12 col-sm-6 col-md-9 col-lg-9">
					<mat-progress-bar mode="determinate" value="{{percentageCompleted}}"></mat-progress-bar>
				<div class="color0">
				<span class="percentage">{{percentageCompleted}}%</span><span class="minnuts">{{projectInfo.diy_project_info.project_duration}}</span>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 begindiv">
				<div>
					<span class="bigintext">{{projectInfo.diy_project_info.project_level}}</span>
					<span class="FAVIMG">
						<a *ngIf="this.userFavorite" class="favorite-test" (click)="clickFavouriteFlag('N')"><mat-icon>favorite</mat-icon></a>
						<a *ngIf="!this.userFavorite"  (click)="clickFavouriteFlag('Y')"><mat-icon>favorite</mat-icon></a>
					</span>
				</div>	
			</div>
		</div>
		</div>
	</div>
</div>
<div class="borderbottom">
</div>
<div class="container-fluid paddings16">
	<div class="row firstsection">
		<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
			<p class="firstpara">{{projectInfo.diy_project_info.project_description}}</p>
			
		</div>
		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 estimatediv">
			<div class="estimateback">
				<div class="estimate">
					<p>Time Estimate</p>
					<div class="aboutimage">
						<span><img src="/assets/tests/clockicon.png"></span><span class="about">about {{projectInfo.diy_project_info.project_duration}}</span>
					</div>
				</div>
			</div>
			<div class="relatedprojectright">
				<div class="relatedprojecttext" *ngIf="projectInfo.diy_relatedprojects_info.length > 0" >
					<h2>Related Project</h2>
					<div  *ngFor="let relatedProject of projectInfo.diy_relatedprojects_info">
						<a  [routerLink]="['/diyprojects/diyprojectdetail/', relatedProject.c_id]"><h4>{{relatedProject.project_title}}</h4></a>
						<p>  - {{relatedProject.project_level}}</p>
					</div>
				</div>
				<div class="photos" *ngIf="projectInfo.diy_project_author_info">
					<div class="oval">
					  <h3>photo</h3>
					</div>
					<p class="hemanth">{{projectInfo.diy_project_author_info.author_name}}</p>
					<p>{{projectInfo.diy_project_author_info.author_role}}</p>
					<p>{{projectInfo.diy_project_author_info.author_description}}</p>
				</div>
			</div>	
	</div>
	<div class="row ">
		
		
	</div>
	<div class="row modulediv">
		<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
			<h3>Modules:</h3>
			<div class="row modulerows"  *ngFor="let project_module of projectInfo.diy_project_modules">
				<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
					<span class="logictext"><a href="">{{project_module.module_name}}</a></span><span class="click"><img src="/assets/tests/click.png"></span><span></span>
					<div><p>-{{project_module.module_duration}}</p></div>
				</div>
				<div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
					<div class="ovalcircle">
						<a [routerLink]="['/diyprojects/diymoduledetail/', project_module.module_id]"><span><img src="/assets/tests/rightarrows.png"></span></a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 ">
			<div class="reportdata">
				<span><img src="/assets/tests/lableicon.png"></span><span class="rpotrtext">
					<span *ngFor="let tag of projectTags" >
						<a [routerLink]="['/diyprojects/searchdiyprojects',tag]">{{tag}}</a>,
					</span>
				</span>
			</div>	
		</div>
	</div>
</div>
</div>