.margin0{
	margin-top: 2%;
}
.favorite-test{
	color: red;
  }
  
.socialimg ul li{
    display: inline;
    text-decoration: none;
    margin-right:1.5%;
}
.socialimg{
	padding-top: 12px;
	margin-left: 3%;
}
.socialimg ul{
	padding-left: 0px;
}
.socialimg img{
	width: 12%;
}
.dpheaderrighttarea{
	padding-top: 2%;
}
.dpprojecttext h3{
	padding-top: 1.5%;
	font-size: 27px;
}
.dpprojecttext h4{
	font-size: 25px;
	color: #3366FF;
	padding-top: 1.5%;
}
.paratext{
	padding-top: 9.5%;
    padding-left: 1.3%;
    font-size: 18px;
}
.firstpara{
	font-size: 18px;
	padding-top: 2%;
}
.bigintext{
	font-size: 24px;
}
.FAVIMG{
	margin-left:11%;
}
.begindiv{
	text-align: right;
	padding-left: 0;
    padding-right: 0;
	/*padding-right: 2%; */
}
.icons ul li{
	text-decoration: none;
	display: inline;
} 
.icons ul{
	padding-left: 0;
}
.one{
	margin-left: 4%;
}
.two{
	margin-left: 1.5%;
}
.iconsocial{
	text-align: right;
	padding-right: 0;
	padding-left: 0;
}
.mainlogo{
	/*padding-left: 16%;*/
}
.slider {
    -webkit-appearance: none;
    width: 35%;
    height: 12px;
    background: #d3d3d3;
     outline: none; 
    opacity: 0.7;
    transition: opacity .2s;
    border: 1px solid #d3d3d3;
    border-radius: 12px;
}
.paddingtop2{
	padding-top: 2%;
	padding-right: 0;
}
.minnuts{
    color: #000;
    float: right;
}
.color0{
	color: #000;
}
.borderbottom{
	border: 2px solid #1B3280;
	margin-top: 1%;
}
.percentage{
	color: #000;
}
.modulediv{
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 2%;
}
/*.paddings16{
	padding-left: 4.6%;
}*/
.subtitle p{
	font-size: 18px;
	padding-top: 1%;
}
.subtitle h3{
	padding-top: 3%;
}
.about{
	padding-left: 1%;
}
.estimate{
	background: #dddd;
    padding-left: 7%;
    text-align: left;
}
.estimateback{
	padding-top: 16%;
	padding-left: 25%;
    padding-right: 25%;
}
.estimate p{
	padding-top: 4%;
}
.aboutimage{
	padding-bottom: 4%;
}
.estimatediv{
	text-align: center;
}
.secondsection{
	padding-top: 4%;
}
.secondsection ul{
	list-style: none;
    font-size: 20px;
    padding: 0;
}
.secondsection ul li{
	padding-top: 1.5%;
}
.relatedprojectright{
	padding-top: 39%;
	text-align: left;
}
.relatedprojecttext a{
	color: #0107FF;
	font-style: italic;
	text-decoration: underline;
}
.relatedprojecttext a:hover{
	color: #0107FF;
	font-style: italic;
	text-decoration: underline;
}
.relatedprojecttext p{
	font-size: 22px;
    padding-top: 3%;
}
.oval {
	width: 100px;
    height: 50px;
    background: #4388CC;
    border-radius: 100px / 50px;
    color: #ddd;
    border: 2px solid #1B3280;
}    
.oval h3{
	padding-top: 16%;
    text-align: center;
    font-size: 18px;
    color: #ddd;
}
.photos{
	padding-top: 10%;
}
.photos p{
	font-size: 22px;
}
.hemanth{
	padding-top: 4%;
}

.dashes{
	color: #000;
}
.logictext{
	font-size: 16px;
}
.click{
	padding-left: 5%;
}
.logictext a{
	color: #0000FF;
	text-decoration: underline;
}
.modulerows{
	padding-top: 2%;
}
.logictext a:hover{
	color: #0000FF;
	text-decoration: underline;
}
.rpotrtext{
	padding-left: 2%;
    font-size: 18px;
    color: #4388CC;
}
.reportdata{
	border: 1px solid #ddd;
    background: #ddd;
    padding-top: 3.4%;
    padding-bottom: 10%;
    margin-top: 3.6%;
}
.usercasebtn{
	background: #4388CC;
	border: 1px solid #1F1FFF;
	color: #fff;
	padding: 7px;
    padding-left: 2%;
    padding-right: 2%;
}
.buttonsuse{
	padding-top: 5%;
    padding-left: 11.5px;
}
/deep/ .sb-style .sb-button {
    min-width: 39px !important;
    padding: 4px !important;
}
.mat-icon{
	vertical-align: middle;
}






@media(max-width: 990px){
.iconsocial{
	text-align: left;
}
.socialimg{
	width: 55%;
}
.slider{
	width: 59%;
}
.estimateback{
	padding-top: 4%;

}
.ovalcircle{
	padding-top: 2%;
    padding-left: 3%;
}
}

@media(max-width: 767px){
.iconsocial[_ngcontent-c4] {
	text-align: left; 
	padding-left: 2%;
}
.begindiv{
	text-align: left;
    padding-top: 3%;
}
.estimateback{
	padding-left: 0;
	padding-right: 0;
    
}
.slider{
	width: 100%;
}
.minnuts{
	float: right;

}
.socialimg{
	width: 55%;
}
.iconsocial{
	padding-top: 4%;
    padding-bottom: 4%;
}
}
@media(max-width: 540px){
.ovalcircle{	
	padding-top: 3%;
    padding-left: 5%;
}
}
@media(max-width: 375px){
.ovalcircle{
	padding-top: 6%;
    padding-left: 7%;
}
}