<br>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="pricingTable">
                <div class="pricingTable-header">
                    <h3 class="heading">Standard</h3>
                    <span class="price-value">
                        <span class="currency">₹</span> 0
                        <span class="month" style="font-size:10px;margin-left: 97px">/Life Time</span>
                    </span>
                </div>
                <div class="pricing-content">
                    <ul>
                        <li>Limited Tests & Projects</li>
                        <li>Community Posts read access</li>
                        <li>Book an Event/Workshop/Seminar</li>
                        <li>Standard Reports </li>
                        <li>Technical Support (Only Email)</li>
                        <li>Ads</li>
                    </ul>
                    <!-- <a class="read" style="cursor:pointer;" [routerLink]="['/orderdetails' ,subscription_type,pricing]">Upgrade</a> -->
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6">
                <div class="pricingTable">
                    <div class="pricingTable-header">
                        <h3 class="heading">Pro </h3>
                        <span class="price-value">
                            <span class="currency">₹</span> 999
                            <span class="month" style="font-size:10px;margin-left: 97px">/half year</span>
                        </span>
                    </div>
                    <div class="pricing-content">
                        <ul>
                                <li>Unlimited Learning from basic to advance.</li>
                                <li> Unlimited Tests.</li>
                                        <li>  Unlimited Projects.</li>
                                                <li>  Read and Ask your question in community.</li>
                                                        <li>  Expert Guidance.</li>
                                                                <li> Standard Reports.</li>
                                                                        <li> Access to SkillPractical Events/Workshops/Seminar.</li>
                                                                                <li> Technical Support.</li>
                                                                                        <li> No Commitments. Cancel anytime.</li>
                                                                                                <li> Ad-free viewing for uninterrupted learning.</li>
                                
                        </ul>
                        <a class="read" style="cursor:pointer;" [routerLink]="['/orderdetails' ,subscription_type_halfyear,pricinghalfyear]">Upgrade</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                    <div class="pricingTable">
                        <div class="pricingTable-header">
                            <h3 class="heading">Pro +</h3>
                            <span class="price-value">
                                <span class="currency">₹</span> 1800
                                <span class="month" style="font-size:10px;margin-left: 123px">/one year</span>
                            </span>
                        </div>
                        <div class="pricing-content">
                            <ul>
                                <li> Unlimited Learning from basic to advance.</li>
                                    <li> Unlimited Tests.</li>
                                        <li> Unlimited Projects.</li>
                                            <li>Read and Ask your question in community.</li>
                                                <li>Expert Guidance.</li>
                                                    <li> Standard Reports.</li>
                                                        <li> Access to SkillPractical Events/Workshops/Seminar.</li>
                                                            <li> Technical Support.</li>
                                                                <li> No Commitments. Cancel anytime.</li>
                                                                    <li> Ad-free viewing for uninterrupted learning.</li>
                                
                            </ul>
                            <a class="read" style="cursor:pointer;" [routerLink]="['/orderdetails' ,subscription_type_fullyear,pricingfullyear]">Upgrade</a>
                        </div>
                    </div>
                </div>
        
    </div>
</div>

<br>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="section-title text-center wow zoomIn">
                <h1>Frequently Asked Questions</h1>
                <span></span>
                <p>Our Frequently Asked Questions here.</p>
            </div>
        </div>
    </div>
    <div class="row">				
        <div class="col-md-12">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                How to Subscribe to the Service?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            <p>Please check 2 types of subscriptions available. Before subscribing, you can start using the free resources available in SkillPractical. You can select half-yearly/yearly plan based on your need. Please contact us if you have any concerns.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                How Scalable and efficient are the services?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                            <p>SkillPractical content is deeply analyzed by experts before giving to its users. </p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingThree">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                How to cancel the subscription?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nisl lorem, dictum id pellentesque at, vestibulum ut arcu. Curabitur erat libero, egestas eu tincidunt ac, rutrum ac justo. Vivamus condimentum laoreet lectus, blandit posuere tortor aliquam vitae. Curabitur molestie eros.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nisl lorem, dictum id pellentesque at, vestibulum ut arcu. Curabitur erat libero, egestas eu tincidunt ac, rutrum ac justo. Vivamus condimentum laoreet lectus, blandit posuere tortor aliquam vitae. Curabitur molestie eros. </p>
                        </div>
                    </div>
                </div>
                
            </div>
        </div><!--- END COL -->		
    </div><!--- END ROW -->			
</div>