<div>
  <div class="question" [style.background-color]="getBackgroundColor(i)" (click)="navigateToQuestion(i)"  *ngFor="let question of questions; let i = index">
    {{question.question_number}}
  </div>
</div>
