label {
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    color: grey;
    margin-bottom: 4px;
    display: block
}
button{
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    border-radius: 20px;
    text-transform: uppercase;
    padding: 0 15px;
    letter-spacing: 1px;
    color: #fff;
    cursor: pointer;
    justify-content: center;
    height: 40px;
    align-items: center;
    -webkit-box-pack: center;
    display: inline-flex;
     -webkit-box-align: center;
     user-select: none;
     /* background: rgb(116, 219, 38); */
    
}
.m-margin{
    margin-top:45pt;
}
.form-group {
    margin-bottom: 20px;
}
.form-control{
    height: 36px;
}
.m-heading{
    color: #192639;
    padding-bottom: 14px;
    margin-bottom: 42px;
    font-weight: 700;
    font-size: 25px;
    border-bottom: 1px solid #d4d4d5;
}

@media only screen and (max-width: 768px) {
    
}