<br> <br> <br>
<div class="container">
	<div class="row">
		<div class="col-md-8">
			 <!--SHIPPING METHOD-->
                    <div class="panel panel-default">
                        <div class="panel-heading text-center"><h4>Current Cart</h4></div>
                        <div class="panel-body">
                           <table class="table borderless">
                            <thead>
                                <tr>
                                    <td><strong>Your Cart: # item</strong></td>
                                    <td>Quantity</td>
                                    <td>Price</td>
                                    <td></td>
                                    <!-- <td></td> -->
                                </tr>
                            </thead>
                            <tbody>
                                <!-- foreach ($order->lineItems as $line) or some such thing here -->
                                <tr>
                                    <td class="col-md-3">
                                        <div class="media">
                                             <!-- <a class="thumbnail pull-left" href="#"> <img class="media-object" src="http://lorempixel.com/460/250/" style="width: 72px; height: 72px;"> </a> -->
                                             <div class="media-body">
                                                 <h5 class="media-heading">SkillPractical {{subscription_type}} Subscription</h5>
                                             </div>
                                        </div>
                                    </td>
                                    <td class="">1</td>
                                    <td class="">{{pricing}}</td>
                                    <td class="text-center"><button type="button" class="btn btn-danger" [routerLink]="['/upgradeuser']">Remove</button></td>
                                </tr>
                            </tbody>
                        </table> 
                        </div>
                    </div>
					 <!--FORM PANEL-->
					  <div class="panel panel-default">
					  <div class="panel-body">
					   <form #form="ngForm" (submit)="Upgrade(form)" >
						<div class="row">
							<div class="col-md-6 m-mobilepad">
							 <div class="form-group" [class.has-error]="name.invalid && name.touched">
                           <label class="control-label" for="name"> Name</label>
                           <input #name="ngModel" required type="text" class="form-control" name="name" 
                               [(ngModel)]="model.name" >
                           <div *ngIf="name.invalid && name.touched" class="alert alert-danger">
                              Name is required.
                           </div>
                         </div>
							</div>
							<div class="col-md-6 m-mobilepad">
							<div class="form-group" [class.has-error]="email.invalid && email.touched">
                       <label class="control-label" for="name"> Email</label>
                       <input #email="ngModel" required type="text" class="form-control" name="email" 
                           [(ngModel)]="model.email" >
                       <div *ngIf="email.invalid && email.touched" class="alert alert-danger">
                          Email is required.
                       </div>
                     </div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 m-mobilepad">
								 <div class="form-group" [class.has-error]="phone.invalid && phone.touched">
                       <label class="control-label" for="name"> Phone</label>
                       <input #phone="ngModel" required type="text" class="form-control" name="phone" 
                           [(ngModel)]="model.phone" >
                       <div *ngIf="phone.invalid && phone.touched" class="alert alert-danger">
                        Phone is required.
                       </div>
                    </div>
							</div>
						</div>
					   </form>
					   </div>
					  </div>
					 
		</div>
		<div class="col-md-4">
			 <!--REVIEW ORDER-->
                    <div class="panel panel-default">
                        <div class="panel-heading text-center">
                            <h4>Review Order</h4>
                        </div>
                        <div class="panel-body">
                                <div class="col-md-12">
                                    <strong>Subtotal (# item)</strong>
                                    <div class="pull-right"><span>₹</span><span>{{pricing}}</span></div>
                                </div>
                                <!-- <div class="col-md-12">
                                    <strong>Tax</strong>
                                    <div class="pull-right"><span>₹</span><span>200.00</span></div>
                                </div> -->
                                <div class="col-md-12">
                                    <small>Shipping</small>
                                    <div class="pull-right"><span>-</span></div>
                                    <hr>
                                </div>
                                <div class="col-md-12">
                                    <strong>Order Total</strong>
                                    <div class="pull-right"><span>₹</span><span>{{c}}</span></div>
                                    <hr>
                                </div>
                                
                                <button type="button" class="btn btn-primary btn-lg btn-block" [disabled]="!isValidForm()"  [disabled]="form.invalid" (click)="Upgrade(form)">Checkout</button>           
                        </div>
                      
                    </div>
		</div>
	</div>
</div>