<div>
        <a class="bnrlink" href="/">
            <div class=" m-banner">
             
                 <h1>CONTACT US</h1>
                 <h4>" You must be the change you wish to see in the world " - Mahatma Gandhi</h4>
              
          </div>
      </a>
</div>

<div id="header1">

<p class="m-cntctP">
  ONLINE & INCLASS SERVICES - 24/7 CUSTOMER SUPPORT</p>

</div>
<br/> <br/>
<div class="container">
<div class="row">
  <div class="col-md-8">
      <div class="well well-sm">
          <form #form="ngForm" (submit)="submitForm(form)">
          <div class="row">
              <div class="col-md-6">
                  <div class="form-group">
                      <label for="name">
                          Name</label>
                      <input type="text" #name="ngModel" class="form-control" id="name" name="name" placeholder="Enter name" required="required" 
                      [(ngModel)]="model.name"/>
                  </div>
                  <div class="form-group" [class.has-error]="email.invalid && email.touched">
                      <label for="email">
                          Email Address</label>
                      <div class="input-group">
                          <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span>
                          </span>
                          <input type="email" class="form-control" name="email" #email="ngModel" id="email" placeholder="Enter email" required="required" 
                          [(ngModel)]="model.email"  pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$" /></div>
                          <small [hidden]="email.valid || (email.pristine && !form.submitted)" class="text-danger">
                            Email is required and format should be <i>john@doe.com</i>.
                          </small>
                  </div>
                  <div class="form-group">
                      <label for="subject">
                          Subject</label>
                      <select id="subject"  #subject="ngModel" name="subject" class="form-control" required="required" [(ngModel)]="model.subject">
                          <option value="na" selected="">Choose One:</option>
                          <option value="service">Technical</option>
                          <option value="suggestions">Non-Technical</option>
                      </select>
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="form-group">
                      <label for="message">
                          Message</label>
                      <textarea  id="message" #message="ngModel" name="message" class="form-control" rows="9" cols="25" required="required"
                          placeholder="Message" [(ngModel)]="model.message"></textarea>
                  </div>
              </div>
              <div class="col-md-12">
                  <button type="submit" class="btn btn-primary pull-right" id="btnContactUs" [disabled]="!isValidForm()" [disabled]="form.invalid">
                      Send Message</button>
              </div>
          </div>
          </form>
      </div>
  </div>
  <div class="col-md-4">
      <form>
      <legend><span class="glyphicon glyphicon-globe"></span> Our office</legend>
      <address>
          <strong>SYNAPTIAL IT TECHNOLOGIES & SERVICES PRIVATE LIMITED</strong><br>
          #Flat No. 203, 2nd Floor, S.S. Residency<br>
          Autonagar, Vijayawada, AP - 520007<br>
          <abbr title="Phone">
              P:</abbr>
          +91 9666702479
      </address>
      <address>
          <strong>SkillPractical Team</strong><br>
          <a href="mailto:#">support@skillpractical.com</a>
      </address>
      </form>
  </div>
</div>
</div>
<footercontent-page></footercontent-page>