/* Image Header */
.list-quotes {
  cursor: pointer;
  height: auto;
  /* width: 1364px; */
  margin-bottom: 30px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  border-bottom: #F0F8FF;
  background-color: #F0F8FF;
  padding-bottom: 0px;
  border: none;
}
.list-quotes img,
.list-quotes h1 {
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
}
.list-quotes img {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
/* Button */
.list-quotes h1{
  background: rgba(20,31,44,0.8);
  bottom: 130px;
  /* float: right; */
  color: #fff;
  font-size: 28px;
  font-weight: bold;
  padding: 5px;
  position: absolute;
  margin: 0;
  margin-left: 30px 
}

.list-quotes p {
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  margin: 0;
  padding: 10px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,50px,0);
  transform: translate3d(0,50px,0);
  font-size: 15px;
  font-weight: normal;
  background: rgba(31, 46, 46, 0.8);
  width: 100%;
  color: #fff;
}
.list-quotes:hover img {
  -webkit-transform: translate3d(0,-80px,0);
  transform: scale(1.2);
  transition: all 250ms ease;
}
.list-quotes:hover{
  box-shadow: 0 0 5px 2px rgba(51,153,153, 0.5);
}
.list-quotes:hover h1 {
  -webkit-transform: translate3d(0,-100px,0);
  /* Used for moving the image */
  transform: translate3d(0,-80px,0); 
  text-shadow: 0px 0 15px #fff;
  transition: all 250ms ease;
}
.list-quotes:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
.quotes span{
  color:#222;
  font-weight: bold;
  text-transform: capitalize;
  color: #fff;
}
/* Image Header */

.jumbotron {
background: #358CCE;
color: #FFF;
border-radius: 0px;
}
.jumbotron-sm { padding-top: 24px;
padding-bottom: 24px; }
.jumbotron small {
color: #FFF;
}
.h1 small {
font-size: 24px;
}
#header {
    width: auto; 
    height : auto;
  }
#header1{
  background-color:#808080;
  text-align: justify;
  margin:0px;
  height: 80px;
  border-radius: 0px;
  margin-top: 0px
  }
  .m-cntctP{
    margin-top: 0px;
    text-align: center !important;
    font-size: 18px;
    color: white;
    padding-top: 28px;
    font-family: lacto;
}
.m-banner{
  background: #0180a3;
  padding:60px 0px;
  text-align:center;
  color:#fff;
}
.m-banner h1{
  text-transform: uppercase;
  font-weight: 500;
  padding-bottom: 8px;
  font-size: 30px;
}
.m-bannrlink{
  width:100% !important;
}
.bnrlink{
  text-decoration:none !important;
}
  