<div style="width:100%;margin-top:10px">
  <div style="display: block">
    <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
  </div>
  <!-- <button (click)="randomize()">Update</button> -->
</div>

<div *ngIf="usergraphdata" class="text-center">
<a href="{{usergraphdata.graphdataurl}}" class="btn btn-info btn-sm" download="Graph_Details">
    <span class="glyphicon glyphicon-download"></span> View Details
</a>

<a href="{{usergraphdata.graphdataurl}}"  [routerLink]="['/homepagecomponent/viewpastreportsgraph']" class="btn btn-success btn-sm" download="Graph_Details">
  <span class="glyphicon glyphicon-eye-open"></span> View Past Reports
</a>

</div>