    <!-- <div class="well hoverwell thumbnail" style="color:#000;    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);">
            <div class="thumbheader" style="height: 43px;background-color: dimgrey;padding: 4px;margin: -20px;color:#fff;padding-left:22px;">
              <h4>{{project?.project_title | uppercase}}</h4>
            </div>
            <div class="thumbcontent" style="height:160px;margin-top:30px;">
            <table>
            <tbody>
                <img src="{{project?.project_image_url}}" class="img-circle" alt="Cinque Terre" width="50" height="50">
            <tr>
            <td style="width:1%;">ID</td>
             <td style="width:1%;">:</td>
              <td style="width:15%;">{{project?.project_id}}</td>
            </tr>
            <tr>
            <td style="width:1%;">Subject</td>
             <td style="width:3%;">:</td>
              <td style="width:15%;">{{project?.project_subject_area}}</td>
            </tr>
            <tr>
              <td style="width:1%;">Type</td>
               <td style="width:3%;">:</td>
                <td style="width:15%;">{{project?.project_type}}</td>
              </tr>       
            </tbody>
            </table>
              </div>
              <div  class="thumbfooter" style="color:#fff;">
              <button (click)="onclickreloadtorelatedprojects()" class="btn btn-primary pull-right" value="+ Details" [routerLink]="['/projects/projectsinfo',project.project_id]">+ Details</button>
            </div>
            </div> -->


            <div class="thumbheader">
                <div class="blockh3" >
                     <!-- <img  style="margin-left: -234px;" src="" class="img-circle" width="50" height="50"> -->
                     <!-- <img style="margin-left: -234px;" src="assets/user/braincircuitimage.png" class="img-circle" alt="Cinque Terre" width="50" height="50"> -->
                     <!-- <img style="margin-left: -234px;" src="assets/user/computerscience.png" class="img-circle" alt="Cinque Terre" width="50" height="50"> -->
                      <!-- <img style="margin-left: -234px;" src="assets/user/mechanical.png" class="img-circle" alt="Cinque Terre" width="50" height="50"> -->
                     <!-- <img style="margin-left: -234px;" src="assets/user/civil.png" class="img-circle" alt="Cinque Terre" width="50" height="50">  -->
                     <h5 class="project-title">{{project?.project_title | capitalize}}</h5>
                </div>
                <div class="thumbcontent">
                <table>
                <tbody>
                    <!-- <img src="{{project?.project_image_url}}" class="img-circle" alt="Cinque Terre" width="50" height="50"> -->
                <tr>
                <td style="width:1%;">ID</td>
                 <td style="width:1%;">:</td>
                  <td style="width:15%;">{{project?.project_id}}</td>
                </tr>
                <tr>
                <td style="width:1%;">Branch</td>
                <td style="width:3%;">:</td>
                 <td style="width:15%;">{{project?.project_branch}}</td>
               </tr>  
                <tr>
                <td style="width:1%;">Subject</td>
                 <td style="width:3%;">:</td>
                  <td style="width:15%;">{{project?.project_subject_area}}</td>
                </tr>
                <tr>
                  <td style="width:1%;">Level</td>
                   <td style="width:3%;">:</td>
                    <td style="width:15%;">{{project?.project_type}}</td>
                  </tr>       
                </tbody>
                </table>
                  </div>
                      
            <div style="margin-top: 18px;margin-left: 19px;font-size:20px; cursor:pointer">
              <i *ngIf='checksavedprojectid == ""' class="glyphicon glyphicon-heart-empty" (click)="saveproject(project)"></i> 
              <i *ngIf='checksavedprojectid !=""' class="glyphicon  glyphicon-heart" style="color:red" (click)="unsaveproject(project)"></i>                
           </div>               

                  <div  class="thumbfooter" style="color:#fff;">
                  <button  style="margin-top: -28px;color: black;" class="btn btn-link pull-right m-button" value="+ Details" [routerLink]="['/projects/projectsinfo',project.project_id]">+ Details</button>
                </div>
          </div>
     
      
