.thumbheader
{
  width: 100%;
    float: left;
    background-color: #ffffff;
    margin-top: 2px;
    margin-left: 0px;
    border-radius: 8px;
        box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
        margin-bottom: 60px;
}
.blockh3{
  height: 60px;
    text-align: center;
    /* background-color: #8f9092; */
    background-color: #005383;
    margin: 0px;
    padding-bottom: 24px;
    border: 2px solid#ccc;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
        box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
  }
  .project-title{
margin-top: 13px;
margin-left: 0px;

color: lightgrey;
}
.thumbcontent {
  margin-left: 81px;
    margin-top: 21px;
}

tbody{
  font-weight: 300;
}

button {
    margin-right: 11px;
}
.m-button{
  margin-right: 11px;
  background: #8f9092;
  margin-bottom: 10px;
  color: #fff !important;
  border-radius: 4px;
  text-decoration: none;
}
.m-button:hover{
  background: #337ab7;
}
