<div class="container-fluid m-margin">
    <div class="row">
        <div class="col-md-12">
            <button (click)="goBack()" class="backbutton m-back" type="submit">
                <p class="commentsubmitbutton">Back</p>
            </button>
            <h3 class="m-h3">{{project?.project_title | uppercase}}
            </h3>
            <!-- </div> -->
            <p class="Project ID">
                <b class="m-label">Project ID: </b>
                <span class="m-span">{{project?.project_id}}</span>
            </p>
            <p class="Branch">
                <b class="m-label">Branch&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: </b>
                <span class="m-span">{{project?.project_branch}}</span>
            </p>
            <p class="Level">
                <b class="m-label">Level&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: </b>
                <span class="m-span">{{project?.project_type}}</span>
            </p>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <p class="Used Technologies">
                <h2>Used Technologies: </h2>
                <div class="">
                    <table class="table table-bordered">
                        <thead style="background-color: #434a59;color:#fff;">
                            <tr>
                                <th></th>
                                <th>Technologies</th>
                                <th>Languages</th>
                                <th>Tools</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Name</td>
                                <td>{{project?.project_technologies_used}}</td>
                                <td>{{project?.project_languages_used}}</td>
                                <td>{{project?.project_tools_used}}</td>

                            </tr>
                            <!-- <tr>
                                    <td>Version</td>
                                    <td>Purchase</td>
                                    <td>100,000$</td>
                                    <td>10Fcoin</td>                    
                                </tr>                      -->
                        </tbody>
                    </table>
                    <!--Content-->
                    <p style="white-space:pre-line;">
                        <b>Abstract: </b>{{project?.project_abstract}}</p>
                    <p style="white-space:pre-line;">
                        <b>Description: </b> {{project?.project_description}}</p>
                    <!--Content End-->
                </div>
                <h4>
                    <h2>Reference Paper:</h2>
                </h4>
                <div class="" (click)="pdfShowreferencepaper=!pdfShowreferencepaper">
                    <p class="m-acrdian">CLICK HERE FOR REFERENCE PAPER </p>
                </div>
                <div *ngIf="pdfShowreferencepaper" style="margin-top: 35px;">
                    <h4>Project Reference Paper</h4>
                    <iframe width="100%" height="600" [src]="pageurlreferencepaper" type="application/pdf"></iframe>
                </div>

                <h4>
                    <h2>Procedure:</h2>
                </h4>
                <div class="" (click)="pdfShow=!pdfShow">
                    <p class="m-acrdian">CLICK HERE FOR PROCEDURE </p>
                </div>
                <div *ngIf="pdfShow">
                    <h4>Procedure</h4>
                    <iframe width="100%" height="600" [src]="pageurlprocedure" type="application/pdf"></iframe>
                </div>

                <p style="white-space:pre-line;">
                    <b>Future Scope: </b> {{project?.project_future_scope}}</p>
                <!--<p style="width:800px"> <b>Code:</b> <a href="{{project?.project_code_url}}" download></a></p>-->
                <a *ngIf='project_code_url != ""' target="_blank" href="{{project?.project_code_url}}" class="btn btn-info btn-lg m-download"
                    download="proposed_file_name">
                    <span class="glyphicon glyphicon-download"></span> Code Download
                </a>
        </div>
        <div class="col-md-4 m-blg">
            <!-- accordion 1 -->
            <div class="panel panel-primary">

                <div class="panel-heading" style="background-color: #434a59;color:#fff;">
                    <!-- panel-heading -->
                    <h4 class="panel-title">
                        <!-- title 1 -->
                        <p data-toggle="collapse" data-parent="#accordion" href="#accordionOne">
                            Related Blogs
                        </p>
                    </h4>
                </div>
                <!-- panel body -->
                <div id="accordionOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div *ngFor="let relatedblogs of relatedblogs">
                            <a target="_blank" href="{{relatedblogs.blog_link}}">{{relatedblogs.blog_link_name}}</a>
                            <br/>&nbsp;
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-primary">
                <!-- accordion 2 -->

                <div class="panel-heading" style=" background-color: #434a59;color:#fff;">
                    <h4 class="panel-title">
                        <!-- title 2 -->
                        <p data-toggle="collapse" data-parent="#accordion" href="#accordionTwo">
                            Related Papers
                        </p>
                    </h4>
                </div>
                <!-- panel body -->
                <div id="accordionTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div *ngFor="let relatedreferencepaper of relatedreferencepaper">
                            <a target="_blank" href="{{relatedreferencepaper.referencepaper_url}}">
                                {{relatedreferencepaper.referencepaper_url_name}}</a>
                            <br/>&nbsp;
                        </div>
                    </div>
                </div>

            </div>
            <button class="btn btn-success" data-toggle="modal" data-target="#ModalMessage">
                Query on project ?
            </button>
        </div>
    </div>
    <div class="modal fade" id="ModalMessage" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header" style="background-color: darkcyan;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 style="text-align:center;" class="modal-title">Query on Project?</h4>
                </div>
                <div class="modal-body">
                    <query-form [project]="project"></query-form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h2>Related Projects</h2>
        </div>
        <div style="margin-top: 30px">

            <div *ngFor="let project of relatedproject" class="col-md-3">
                <projects-related [project]="project"></projects-related>
            </div>
        </div>
    </div>
</div>
<style>
    .m-margin {
        margin-top: 15pt;
        background-color: #3A4255;
        padding-top: 30pt;
        padding-bottom: 30pt;
        margin-bottom: 5pt;
    }

    p {
        font-size: 14px;
        line-height: 1.5;
        text-align: justify;
    }

    .m-back {
        color: #fff;
        background: #fff0;
        border: 1px solid #fff;
        padding: 5px 21px;
        border-radius: 25px;
    }

    .m-h3 {
        color: #fff;
        margin-bottom: 20px;
    }

    .m-label {
        color: #fff;
    }

    .m-span {
        color: #ddd;
        padding-left: 8px;
    }

    .panel {
        margin-top: 41px;
    }

    h2 {
        font-size: 20px;
        padding: 11px 0px;
    }

    .m-acrdian {
        background: #434a59;
        padding: 10px 10px;
        color: #fff;
        font-size: 15px;
        cursor: pointer;
        margin-bottom: 28px;
    }

    .m-download {
        margin: 15px 0px;
    }
    .m-blg{
        padding-top:33px;
    }
</style>

