.container { padding-left:20px; padding-right:20px; }
.event-image { height:100px;width: auto; }
.social-icon { width:30px; height:30px; float:right}
a {cursor:pointer}


.projectimage {
position: absolute;
left:43%;
top:64px;
}

.container-fluid{
    white-space:initial;
}

.commentsubmitbutton {
    padding-left: 0px;
}
.backbutton {
    margin-left:-20px; 
    background-color: #cad3d4;
    border-color:#cad3d4;
    margin-top: 5px;
}
.project {
width: 800px;
}

.Branch {
width:800px
}

.Level {
width:800px
}

.Used Technologies {
width:800px
}

accordion {
width:25%;
position: absolute;
z-index: 15;
top: 49%;
left: 83%;
margin: -100px 0 0 -150px;
}
img {
vertical-align: middle;
margin-left: 547px;
margin-top: 7px;
}


Abstract {
width: 800px;

}

Description {
width: 800px;
}

Future Scope {
width: 800px;
}


@media screen and (max-width: 414px) {
.accordion {
    width: auto;
    position: absolute;
    z-index: 15;
    top: 234%;
    left: 46%;
    margin: -100px 0 0 -150px;
}
}
p{
    text-align: justify !important;
}
.m-margin{
    margin-top:45pt;
}