@keyframes blink {50% { color: transparent }}
.loader__dot { animation: 1s blink infinite }
.loader__dot:nth-child(2) { animation-delay: 250ms }
.loader__dot:nth-child(3) { animation-delay: 500ms }

.m-margin{
    margin-top: 85pt;
}
.m-box{
    border: 1px solid #337ab730;
    padding: 60px 20px 60px 20px;
    box-shadow: 6px 10px 10px #8080804a;
    background: #d4d4d52e;
    border-radius: 5px;
}
.m-passhead{
    margin-bottom: 30px;
    font-size: 24px;
    color: #337ab7;
}
label{
    margin-bottom: 12px;
}
.form-group {
    margin-bottom: 30px;
}