
<div class="container m-margin">
    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4 m-box">
            <form #form="ngForm" (submit)="submitForm(form)" novalidate>
                <h4 class="form-group m-passhead">
                    Forgot your password?
                </h4>
                <div>
                    <span class="form-group">

                        Enter the e-mail address you submitted at registration.
                        <br> We'll send you an email with instructions to choose a new password
                    </span>
                </div>
                <div style="margin-top:32px;" class="form-group" [class.has-error]="emailid.invalid && emailid.touched">
                    <label class="control-label">EmailId</label>
                    <p *ngIf="emailNotExists" style="color:red;">Email doesn't exists.</p>
                    <p style="color: green" *ngIf="forgetPasswordEmailSent">you will receive password via mail. Please use that to login and you can change password anytime in settings</p>

                    <div *ngIf="forgotpasswordclicked && !emailNotExists" class="loader">validating account
                        <span class="loader__dot">.</span>
                        <span class="loader__dot">.</span>
                        <span class="loader__dot">.</span>
                        <span class="loader__dot">.</span>
                        <span class="loader__dot">.</span>
                        <span class="loader__dot">.</span>
                    </div>
                    <input #emailid="ngModel" required type="text" placeholder="Emailid" class="form-control" name="emailId" [(ngModel)]="model.emailid"
                        pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$">
                        <small *ngIf="emailid.invalid && emailid.touched" class="text-danger">
                            Email is required and format should be
                            <i>john@doe.com</i>.
                        </small>
                    <!-- <small [hidden]="emailid.valid || (emailid.pristine && !form.submitted)" class="text-danger">
                        Email is required and format should be
                        <i>john@doe.com</i>.
                    </small> -->
                </div>

                <button class="btn btn-primary" type="submit" [disabled]="form.invalid" [disabled]="!isValidForm()"> Reset </button>

            </form>
        </div>
        <div class="col-md-4">

        </div>
    </div>
</div>

<style>
    label {
        font-weight: 700;
        font-size: 12px;
        text-transform: uppercase;
        color: grey;
        margin-bottom: 5px;
        display: block;
    }
</style>