            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 style="text-align: center;" class="modal-title">Login</h3>
              </div>
              <div class="modal-body">
                  <div *ngIf="loginError" style="color:red;">
                      Incorrect username or password.
                    </div>
                <form #form="ngForm" class="ui form" (submit)="submitForm(form)" >
                  <div class="form-group">
                    <div class="form-group" [class.has-error]="username.invalid && username.touched">
                     <label for ="username">Username</label>
                    <input #username="ngModel" type="text" class="form-control" name="username" placeholder="username" [(ngModel)]="model.username" required pattern="^[a-zA-Z0-9_.+-]+$"/>
                        <small [hidden]="username.valid || (username.pristine && !form.submitted)" class="text-danger">
                            User Name is required with no spaces and minimum length of 6 and maximum lenght of 12
                        </small>
                    </div>
                  </div>
                  <div class="form-group">
                      <div class="form-group" [class.has-error]="password.invalid && password.touched">
                    <label for ="password" >Password</label>
                    <input #password="ngModel" type="password" class="form-control" name="password" placeholder="password" [(ngModel)]="model.password"  required pattern="^[a-zA-Z0-9_.+-]+.[a-zA-Z0-9-.]+$"/>
                    <small [hidden]="password.valid || (password.pristine && !form.submitted)" class="text-danger">
                        Password is required with no spaces 
                      </small>
                    </div>
                  </div>
              <button style="margin-top: 10px;width: 100%;margin-bottom:10px;color:#fff; 
               background-color:black;" type="submit" [disabled]="form.invalid" class="btn btn-success"
               [disabled]="!isValidForm()">Login</button> 
              <button data-dismiss="modal" #closeBtn class="btn disabled"></button>     
              </form>
          </div>

    <style>
    .tb-separator {
      display: block;
      width: 100%;
      padding: 24px 0;
      position: relative;
      top:17px;
    }
    .tb-separator:before {
      content: " ";
      display: table;
      width: 100%;
      height: 1px;
      background-color: #aab8c2;
      box-sizing: border-box;
    }
    .tb-separator::after {
      background-color: #fff;
      content: attr(data-prompt)!important;
      position: absolute;
      left: 50%;
      top: 73%;
      color: #aab8c2;
      padding: 0 16px;
      -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
      -o-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
    }
    </style>