button.disabled{
    display: none;
    }
    @media (min-width: 768px){
        .modal-sm {
            width: 400px;
        }
        }
        .form-group {
            margin-bottom: 24px;
        }