.spinner{
    margin-left: 10.5em;
}
.onboardingmessage{
    margin-left: -1.5em;
}
.tb-separator {
    display: block;
    width: 100%;
    padding: 24px 0;
    position: relative;
    top:17px;
}
.tb-separator:before {
    content: " ";
    display: table;
    width: 100%;
    height: 1px;
    background-color: #aab8c2;
    box-sizing: border-box;
}
.tb-separator::after {
    background-color: #fff;
    content: attr(data-prompt)!important;
    position: absolute;
    left: 50%;
    top: 73%;
    color: #aab8c2;
    padding: 0 16px;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
button.disabled{
    display: none;
    }
.agree{
    margin-left: 23%;
}
.agreedterms{
    margin-left: 13%;
}
@media (min-width: 768px){
.modal-sm {
    width: 400px;
}
}
.m-question{
   padding-top:30px;
}
.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    background-color: #3ca2c4;
    color: white;
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: rgb(250, 255, 189);
    background-image: none;
    color: rgb(0, 0, 0);
}