<!-- Modal -->
<div class="modal" id="modalusersignup" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div *ngIf="!loginclicked">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 style="text-align: center;" class="modal-title">Create your account</h3>
                </div>
                <div class="modal-body">

                    <div class="form-register">
                     <!--    <div *ngIf="!registrationchecksuccess">
                            <div *ngIf="userdosentexist" style="color: red"> User doesn't exist </div>
                            <form #form="ngForm" (submit)="submitFormCheckRegistrationStatus(form)" novalidate>

                                <div class="form-group" [class.has-error]="rollnumber.invalid && rollnumber.touched">
                                    <label class="control-label">Roll Number</label>
                                    <input #rollnumber="ngModel" required type="text" class="form-control" name="rollnumber" [(ngModel)]="modelcheckregistrationstatus.rollnumber">
                                    <div *ngIf="rollnumber.invalid && rollnumber.touched" class="alert alert-danger" >
                                        rollnumber required
                                    </div>
                      
                      
                                </div>

                                <div  class="form-group" [class.has-error]="dob.invalid && dob.touched">
                                    <label class="control-label">DOB</label>
                                    <input #dob="ngModel" required type="date" class="form-control" name="dob" [(ngModel)]="modelcheckregistrationstatus.dob">
                                    <div *ngIf="dob.invalid && dob.touched" class="alert alert-danger">
                                        DOB
                                    </div>
                                </div>

                                <button style="background-color:rgb(36, 36, 45);float:right" class="btn btn-primary" type="submit"
                                    [disabled]="form.invalid" [disabled]="!isValidForm()"> Find User </button>
                            </form>
                            <p class="text-center m-question" >
                                Already have an account?
                                <a type="button" class="btn btn-sm btn-link" (click)="clickedlogin()">LOGIN</a>
                            </p>

                        </div> -->

                        <div>
                            <div class="alert alert-info" *ngIf="emailSent">An email has been sent to the email address you just registered. Please validate your email adderss
                                and update your password info.</div>
                            <form #form="ngForm" (submit)="submitForm(form)" novalidate>
                                <div  class="form-group" [class.has-error]="username.invalid && username.touched">
                                    <label class="control-label">User Name</label>&nbsp;
                                    <span *ngIf="usernameExists" style="color:red;">Username already exists. Choose a different one.</span>
                                    <input #username="ngModel" required type="text" placeholder="User Name" class="form-control" name="username" [(ngModel)]="model.username"
                                        pattern="^[a-zA-Z0-9_.+-]+$">
                                    <!-- <div *ngIf="username.invalid && username.touched" class="alert alert-danger" style="width: 326px;">
                                    User Name is required with no spaces and minimum length of 6 and maximum lenght of 12
                                </div> -->
                                    <small [hidden]="username.valid || (username.pristine && !form.submitted)" class="text-danger">
                                        User Name is required with no spaces and minimum length of 6 and maximum lenght of 12
                                    </small>
                                </div>
                                <div  class="form-group" [class.has-error]="emailid.invalid && emailid.touched">
                                    <label class="control-label">Email Id</label>&nbsp;
                                    <span *ngIf="emailExists" style="color:red;">Email already exists. Choose a different one.</span>
                                    <input #emailid="ngModel" required type="text" placeholder="Emailid" class="form-control" name="emailid" [(ngModel)]="model.emailid"
                                        pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$">
                                    <!-- <div *ngIf="emailid.invalid && emailid.touched" class="alert alert-danger" style="width: 326px;">
                                        Email Id is required
                                    </div> -->
                                    <small [hidden]="emailid.valid || (emailid.pristine && !form.submitted)" class="text-danger">
                                        Email is required and format should be
                                        <i>john@doe.com</i>.
                                    </small>
                                </div>
                                <div  class="form-group" [class.has-error]="phonenumber.invalid && phonenumber.touched">
                                    <label class="control-label">phonenumber</label>
                                    <input #phonenumber="ngModel" required type="text" placeholder="phonenumber" class="form-control" name="phonenumber" [(ngModel)]="model.phonenumber">
                                    <div *ngIf="phonenumber.invalid && phonenumber.touched" class="alert alert-danger">
                                        Phonenumber is required
                                    </div>
                                </div>
                                <div  class="form-group" [class.has-error]="agreeed.invalid && agreeed.touched">

                                    <input #agreeed="ngModel" type="checkbox" name="agreeed" value="agreeed" required [(ngModel)]="modelcheckregistrationstatus.agreeed"
                                        class="agree"> I Agreed For SkillPractical
                                    <a type="button" target="_blank" class="btn btn-sm btn-link agreedterms"
                                        (click)="clickedterms()" [routerLink]="['/termsandConditions']">Terms And Conditions</a>&
                                    <a type="button" target="_blank" class="btn btn-sm btn-link"
                                        (click)="clickedprivacypolicy()" [routerLink]="['/privacypolicy']">Privacy Policy</a>
                                    <div *ngIf="agreeed.invalid && agreeed.touched" class="alert alert-danger" >
                                        I Agreed For SkillPractical Terms And Conditions & Privacy Policy
                                    </div>
                                </div>
                                <button style="margin-bottom:10px;color:#fff; background-color:black;width:100%" class="btn btn-primary"
                                    type="submit" [disabled]="form.invalid" [disabled]="!isValidForm()"> Register </button>

                                <div class="spinner" *ngIf="registereclicked">
                                    <i class="fa fa-spinner fa-spin" style="font-size:24px"> </i>
                                    <p class="onboardingmessage">onboarding...</p>
                                </div>
                                <button data-dismiss="modal" #closeBtn class="btn disabled"></button>

                            </form>
                        </div>
                    </div>
                </div>
               <!--  <div class="register-footer" style="color:#fff;padding-top:10px;">
                    <br/>
                    <br/>
                    <a style="margin-top: -85px;margin-bottom:3px;margin-left: 40px;" 
            *ngIf="registrationchecksuccess">Agreeging For Terms & Conditions</a> 
                </div> -->
                <p class="text-center ">
                    Already have an account?
                    <a type="button" class="btn btn-sm btn-link" (click)="clickedlogin()">Login</a>
                </p>
            </div>

            <div *ngIf="loginclicked">
                <login-user></login-user>
                <p *ngIf="loginclicked" class="text-center " style="margin-bottom:3px;">
                    Forgot Your account password?
                    <button type="button" class="btn btn-sm btn-link" (click)="clickedForgotPassword()" data-dismiss="modal">Click Here</button>
                </p>
                <p *ngIf="loginclicked" class="text-center " style="margin-bottom:3px;">
                    Need an account?
                    <button type="button" class="btn btn-sm btn-link" (click)="clickedsignup()" [disabled]="!isValidForm()">Sign Up</button>
                    <button data-dismiss="modal" #closeBtn class="btn disabled"></button>
                </p>
            </div>

        </div>
    </div>
</div>