<div class="container-fluid">
  <div class="row m-margin">

    <div class="col-md-12">
      <h3 class="m-mainh3">Settings</h3>
     
        <div class="progress">
            <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar"
            aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" [ngStyle]="completion">
              {{value}}% Complete <p *ngIf="success">(success)</p>
            </div>
          </div>

      <div class="tabbable-panel">
        <div class="tabbable-line">
          <ul class="nav nav-tabs ">
            <li class="active">
              <a href="#tab_default_1" data-toggle="tab">General</a>
            </li>
            <li>
              <a href="#tab_default_2" data-toggle="tab">Education</a>
            </li>
            <li>
              <a href="#tab_default_3" data-toggle="tab">Resume And Links</a>
            </li>
            <li>
              <a href="#tab_default_4" data-toggle="tab">User Skills</a>
            </li>
            <li>
              <a href="#tab_default_5" data-toggle="tab">Change Password</a>
            </li>
            <li>
              <a href="#tab_default_6" data-toggle="tab">Subscription And Billing</a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="tab_default_1">
              <app-general></app-general>
            </div>
            <div class="tab-pane" id="tab_default_2">
              <app-education></app-education>
            </div>
            <div class="tab-pane" id="tab_default_3">
              <app-resume-links></app-resume-links>
            </div>
            <div class="tab-pane" id="tab_default_4">
              <app-userskills></app-userskills>
            </div>
            <div class="tab-pane" id="tab_default_5">
              <app-changepassword></app-changepassword>
            </div>
            <div class="tab-pane" id="tab_default_6">
              <app-subscription-and-billing></app-subscription-and-billing>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>