<ul class="c" >
                <!-- <p>Trending Projects</p> -->
        <li *ngFor ="let skillpracticaltrendingdataprojects of skillpracticaltrendingdataprojects"id="trending"> 
            <a class="m-skill" [routerLink]="['/projects/projectsinfo',skillpracticaltrendingdataprojects.project_id]">
                {{skillpracticaltrendingdataprojects.project_title | capitalize}}</a></li>
        <br/>
</ul>