ul{
-webkit-padding-start: 0px;
}

 #trending {
    border: 2px solid #ccc;
    border-radius: 12px;
    padding: 12px;
    margin-top: 10px;
 }   

 @media screen and (max-width: 414px) {
    #trending[_ngcontent-c7][_ngcontent-c7] {
        border: 2px solid #ccc;
        border-radius: 12px;
        padding: 12px;
        margin-top: 10px;
       
    }
 }

 @media screen and (max-width: 768px) {
    #trending[_ngcontent-c7] {
        border: 2px solid #ccc;
        border-radius: 12px;
        padding: 12px;
        margin-top:10px;
    }
 }

.m-skill{
    /* color: #000;
    cursor: pointer;
    font-size: 14px; */
    padding-bottom: 10px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor:pointer;
    text-decoration: none;
}