<div class="thumbheader">
    <div class="blockh3">
      <h5 class="project-title">{{projectInfo.project_title}}</h5>
    </div>
    <div class="thumbcontent">
      <div>
       <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 mainimg">
         <img src="{{projectInfo.project_image}}" class="carimg" width="158px" height="78px">
       </div>
       <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 timeright">
         <div class="timesliderper">
            <span class="percentage">
              {{percentageCompleted}}%
            </span>

              <mat-progress-bar mode="determinate" value="{{percentageCompleted}}"></mat-progress-bar>

        </div>
          <div class="timetext">
            <h4>Time: {{projectInfo.project_duration}}</h4>
          </div>
          <div class="boxes">
            <span class="steps">{{projectInfo.project_no_of_modules}} step</span>
            <span class=""><button class="arrowbtn" [popover]="modulesPopover" (click)="getProjectModules()"><img src="/assets/tests/arrow.png"></button></span>
            <popover-content #modulesPopover
              title="Modules"
              placement="bottom"
              [animation]="true"
              [closeOnClickOutside]="true" >
              <div *ngFor="let project_module of projectModules" class="paddingdot"><span class="logtext">{{project_module.module_name}}</span> <br>{{project_module.module_duration}}<a [routerLink]="['/diyprojects/diymoduledetail/', project_module.module_id]"><img src="/assets/tests/rightarrow.png" class="paddingimg"></a></div>
            </popover-content>
          </div>
        </div>
      </div>
    </div>
    <div class="thumbfooter " style="color:#fff; ">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 icons">
        <div class="icons">
        <ul>
          <li class="one">
            <a *ngIf="this.userFavorite" class="favorite-test" (click)="clickFavouriteFlag('N')"><mat-icon>favorite</mat-icon></a>
            <a *ngIf="!this.userFavorite"  (click)="clickFavouriteFlag('Y')"><mat-icon>favorite</mat-icon></a>
          </li>
          <li class="one">
              <a *ngIf="this.userLiked" class="favorite-test" (click)="clickLikedFlag('N')"><mat-icon>thumb_up</mat-icon></a>
              <a *ngIf="!this.userLiked"  (click)="clickLikedFlag('Y')"><mat-icon>thumb_up</mat-icon></a>
            </li>
          <li class="two">{{likedCount}}</li>
          <li class="one"><mat-icon>remove_red_eye</mat-icon></li>
          <li class="two">{{projectInfo.views}}</li>
        </ul>
      </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 beginnnertext">
      <div class="bigintext">
        <h6>{{projectInfo.project_level}}</h6>
      </div>
        <a [routerLink]="['/diyprojects/diyprojectdetail/',projectInfo.c_id]"><div class="detailsbutton">
          <span class="mat-button-wrapper">
           <mat-icon class="mat-icon material-icons">add</mat-icon>Details
          </span>
        </div></a>
      </div>
    </div>
</div>
