<div *ngFor="let updatesdata of updatesdata">
    
     
             <li id="updates" > 
             <a class="mailbox-subject m-question">{{updatesdata.name | capitalize}}  </a>
             <a class="m-detail" data-toggle="modal" data-target="#myModal1" 
                (click)="clickViewDetail(updatesdata.date,updatesdata.name,updatesdata.description,updatesdata.link)">
                View detail</a><br>
                <kbd class="date">Date</kbd>&nbsp;:&nbsp;{{updatesdata.created_date}}</li>
    </div>
    
       <!-- Modal -->
       <div class="modal fade" id="myModal1" role="dialog">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">College Update Details</h4>
              </div>
              <div class="modal-body">
                 <update-detail [name]="name" [date]="date" [description]="description" [link]="link"></update-detail>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>