ol.c {list-style-type: number
    ;}
    .mailbox-subject{
        display:inline-block;  /*  inline-block will display dots(...). But no proper line with front dot*/
       width:100%;
       white-space: nowrap;
       overflow: hidden;
       text-overflow: ellipsis;
   }
   .date {
    padding: 2px 4px;
    font-size: 90%;
    color: #fff;
    background-color: #5bc0de;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.25);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.25);
   }
   #updates {
    border: 2px solid #ccc;
    border-radius: 12px;
    padding: 12px;
    height: auto;
    margin-top: 10px;
    list-style: none;
    padding-bottom: 23px;
   } 
   #detail {
    float:right;font-family: cursive;cursor:pointer;
   }  
   
 @media screen and (max-width: 414px) {
    #updates[_ngcontent-c6][_ngcontent-c6] {
        border: 2px solid #ccc;
        border-radius: 12px;
        padding: 18px;
        height: auto;
        margin-left: -0px;
        margin-top: 10px;
        padding-bottom:23px;

    }
    .mailbox-subject[_ngcontent-c6] {
        display: inline-block;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

 }

 @media screen and (max-width: 375px) {
    .mailbox-subject[_ngcontent-c6][_ngcontent-c6] {
        display: inline-block;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
 }

 @media screen and (max-width: 768px) {
    #updates[_ngcontent-c6] {
        border: 2px solid #ccc;
        border-radius: 12px;
        padding: 12px;
        height: auto;
        margin-top: 10px;
        padding-bottom: 23px;
    }
 }
 .m-question{
    color: #000;
    pointer-events: none;
    font-size: 14px;
    padding-bottom: 10px;
    font-weight: 500;
    letter-spacing: 1px;
}
.m-detail {
    background: #5bc0de85;
    color: rgba(0, 0, 0, 0.85);
    padding: 7px 9px;
    border-radius: 25px;
    margin-left: 3px;
    cursor: pointer;
    text-decoration: none;
    float:right;
}
.modal-title{
    text-align:center;
}
@media (min-width: 992px){
.modal-lg {
    width: 530px;
}
}
