<div class="container-fluid m-margin m-mobilepad">
  <div class="row">
      <div class="col-md-6">
          <div class="row">
              <div class="col-md-12 m-mobilepad">
                   <h4 class="m-heading">Subscription And Billing</h4>
              </div>
          </div>
          
          
          <div class="well-block">
             
              <div class="col-md-6 m-mobilepad">
                      <div class="feature-content">
                        <span><b>Subscription Type:</b>&nbsp;&nbsp;{{subscription_type}}</span>
                    </div>
                  </div>
                  <div class="col-md-6 m-mobilepad">
                      <div class="feature-content">
                        <span><b>Expiration Date:</b>&nbsp;&nbsp;{{subscription_expiration_date}}</span>
                    </div>
                  </div>
                  <br><br>
                  <div class="col-md-6 m-mobilepad">
                    <div class="feature-content">
                      <span><b>Subscription Status:</b>&nbsp;&nbsp;{{subscription_status}}</span>
                  </div>
                </div>
                  
              </div>
          </div>
      </div>
         
</div>
