<div>
 <strong> Date: </strong> {{date}} <br/><br/>
 <strong> Update Name: </strong> {{name | capitalize}}  <br/><br/>
 <strong> Description: </strong> {{description | capitalize}} <br/><br/>
    <a *ngIf="link != null" target="_blank" href="{{link}}"><kbd>Read More</kbd></a>
    <!-- <a  (click)="gohome()"><kbd>Read More</kbd></a> -->

</div> 