<div class="container-fluid m-margin m-mobilepad">
	<div class="row">
		<div class="col-md-6">
			<div class="row">
				<div class="col-md-12 m-mobilepad">
					 <h4 class="m-heading" [ngStyle]="filledstatustyleresumelinks">Resume And Links Settings</h4>
				</div>
			</div>
		<form #form="ngForm" (submit)="submitForm(form)">
			<div class="row">
				<div class="col-md-6 m-mobilepad">
					<div class="form-group">
            <label class="control-label">Resume</label>
            <input #resume="ngModel" required type="file" class="form-control" name="resume" 
                [(ngModel)]="model.resume"  disabled>
                <!-- <button style="margin-left: 140px;" class="btn btn-success" type="button">
                Resume Upload </button>   -->
			</div>
				</div>
				<div class="col-md-6 m-mobilepad">
				 
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 m-mobilepad">
					            <h4> Links:</h4>            
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 m-mobilepad">
					<div class="form-group">
            <label class="control-label">Facebook:</label>
            <input #facebook="ngModel"  type="text" class="form-control" name="facebook" 
                [(ngModel)]="model.facebook" (ngModelChange)="changeVal()">
            
        </div>

				</div>
				<div class="col-md-6 m-mobilepad">
				  <div class="form-group">
                    <label class="control-label">Linkedin:</label>
                    <input #linkedin="ngModel"  type="text" class="form-control" name="linkedin" 
                        [(ngModel)]="model.linkedin" (ngModelChange)="changeVal()">
                        
                </div> 
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-6 m-mobilepad">
					 <div class="form-group">
                    <label class="control-label">Twitter:</label>
                    <input #twitter="ngModel"  type="text" class="form-control" name="twitter" 
                        [(ngModel)]="model.twitter" (ngModelChange)="changeVal()">
                        
                </div> 

				</div>
				<div class="col-md-6 m-mobilepad">
				<div class="form-group">
                    <label class="control-label">Google+:</label>
                    <input #googleplus="ngModel"  type="text" class="form-control" name="googleplus" 
                        [(ngModel)]="model.googleplus" (ngModelChange)="changeVal()">
                        
                </div> 
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-12 text-center m-mobilepad">
					<button  class="btn btn-success" type="submit"
					[disabled]="noChangeYet"> Save Changes </button>
					<!-- [disabled]="!isValidForm()" -->
				</div>
			</div>
		</form>  
		</div>
		<div class="col-md-6">
		</div>
	</div>
</div>
