<div class="container">
  <div class="row m-rpad">
    <div class="col-md-8 m-colpd">
      <div class="">
        <div class="m-comm_message">
          <community-message></community-message>
        </div>        
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
        <h4>My Answers</h4>
      <div *ngFor="let answers of answers | paginate: { itemsPerPage: 10 , currentPage: p };" style="margin-top:0.2em;">
        <div class="span12">
          <div class="row">
            <div class="span8" style="padding-bottom:5px;font-size:14px;">
              <div [innerHTML]="answers.content">{{answers.content | capitalize}}</div>
            </div>
          </div>
         
          <div class="row m-fa">
            <div class="span8">
                <button class="btn btn-primary btn-sm" [routerLink]="['/community/postdetail', answers.postid,answers.tag]">View Post</button>
                <!-- <a  style="cursor:pointer" class="btn-group btn-group-xs"  data-toggle="modal" data-target="#deletemyAnswerModal" (click)="deleteAnswer(answers.commentId)" >
                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                  <span>Delete</span>
                </a> -->
              <hr class="linebelowpost">
            </div>
          </div>
        </div>
        <!-- <div class="modal fade"  id="deletemyAnswerModal">
            <div class="modal-dialog" role="dialog">
              <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"> Alert for post delete 
                      </h4>
                  <button type="button" class="close" #closeBtn  data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>Do you Want to delete post?</p>
                </div>
                <div class="modal-footer">
                    <a>
                        <button class="btn btn-pm" data-dismiss="modal">No</button>
                    </a>
                    <a >
                        <button  class="btn btn-sc" (click)="deleteAnswer(answers.commentId)">Yes</button>
                    </a>
                </div>
              </div>
            </div>
          </div> -->
      </div>
      <br>
      <pagination-controls *ngIf="answers" class="pagination" (pageChange)="p = $event"></pagination-controls>
    </div>
    <div class="col-md-4 m-trending">
    </div>
  </div>
</div>
