<br/><br/>
<div class="" >
    <form #form="ngForm" (submit)="submitForm(form)" novalidate>
        
        <!-- <div class="form-group" >
            <label class="control-label">What you want to tell</label>
            <select class="form-control" #intention name="intention" 
                [(ngModel)]="model.intention" style="width: 538px">

                <option value="default">Select an option...</option>
                <option value="doughtonexistingproject">Doutht on existing Project</option>
                <option value="Newprojectidea">New Project Idea</option>
            </select>
        </div> -->

        <div style="margin-top: -44px;" class="form-group" [class.has-error]="title.invalid && title.touched">
            <label class="control-label">Query Title</label>
            <input #title="ngModel" required type="text" class="form-control" name="title" 
                [(ngModel)]="model.title">
            <div *ngIf="title.invalid && title.touched" class="alert alert-danger" >
                Title is required.
            </div>
        </div>

        <div class="form-group">
            <label>Description</label>
            <input #description="ngModel" type="text" required class="form-control" name="description" 
                [(ngModel)]="model.description">
            <div *ngIf="description.invalid && description.touched" class="alert alert-danger">
                Description is required.
            </div>
        </div>

        <!-- <div class="form-group" >
            <label class="control-label">Whom you want to share with</label>
            <select class="form-control" #share name="share" 
                [(ngModel)]="model.share" style="width: 538px">

                <option value="default">Select an option...</option>
                <option value="public">Public <h3>(share to community)</h3></option>
                <option value="private">Private <h3>(share to skillpractical team)</h3></option>
            </select>
        </div> -->

        <button class="btn btn-primary" type="submit"
            [disabled]="form.invalid"> Submit Query </button>
            <button data-dismiss="modal" #closeBtn class="btn disabled"></button>

    </form>
</div>

<style>
        label {
            font-weight: 700;
            font-size: 12px;
            text-transform: uppercase;
            color:grey;
            margin-bottom: 5px;
            display: block;
        }

</style>