<br/><br/>
<div class="row" style="margin: 15px;">
    <form #form="ngForm" (submit)="submitForm(form)" novalidate>
          
            <div class="form-group" [class.has-error]="hasBranchError">
                    <label class="control-label">Branch</label>
                    <select required class="form-control" #branch="ngModel" name="branch" (blur)="validateBranch(branch.value)"
                    (change)="validateBranch(branch.value)" 
                        [(ngModel)]="model.branch"  (change)="callType(branch.value)">
                        <option value="default" selected disabled>Select Branch...</option>
                        <option *ngFor="let branch of branches" [value]="branch"  >
                            {{ branch }}
                        </option>     
                    </select>
                </div> 
                <div class="form-group" [class.has-error]="hasSpecilizationError">
                        <label class="control-label">Specialization</label>
                        <select class="form-control" id="specialization" #specialization="ngModel" required name="specialization" (blur)="validateSpecialization(specialization.value)"
                        (change)="validateSpecialization(specialization.value)" 
                            [(ngModel)]="model.specialization">
                            <option value="default" selected disabled>Select Specialization...</option>
                            <option *ngFor="let tags of tags" >
                            {{ tags.tag }}
                        </option>  
                        </select>
                    </div>
                <!-- <div class="form-group" [class.has-error]="hasSpecilizationError">
                    <label class="control-label">Specialization</label>
                    <select required class="form-control" id="specialization" #specialization="ngModel" name="specialization" (blur)="validateSpecialization(specialization.value)"
                    (change)="validateSpecialization(specialization.value)" 
                        [(ngModel)]="model.specialization" (change)="callTypeSpecial(specialization.value)">
                        <option value="default" selected disabled>Select Specialization...</option>
                        <option *ngFor="let tags of tags" >
                            {{ tags.tag }}
                        </option>    
                    </select>
                </div> -->
                
                <div class="form-group" [class.has-error]="title.invalid && title.touched">
                    <label class="control-label">Project Title</label>
                    <input #title="ngModel" required type="text" class="form-control" name="title" 
                        [(ngModel)]="model.title">
                    <div *ngIf="title.invalid && title.touched" class="alert alert-danger">
                        Title is required.
                    </div>
                </div>
                <div class="form-group" [class.has-error]="idea.invalid && idea.touched">
                    <label class="control-label">Project Idea</label>
                    <textarea #idea="ngModel" required type="text" class="form-control" name="idea" 
                        [(ngModel)]="model.idea"></textarea>
                    <div *ngIf="idea.invalid && idea.touched" class="alert alert-danger">
                        Idea is required.
                    </div>
                </div>
                <div class="form-group"  [class.has-error]="hasWhoswithError">
                        <label class="control-label">Who's with you?</label>
                        <select class="form-control" required name="projectgrouporindividual" id="projectgrouporindividual" 
                        ngModel>
                                <option value="" selected disabled>Select Who's With you...</option>
                                <option value="individual">Individual</option>
                                <option value="group">Group</option>
                              </select>
                    </div> 
                    
                    <!-- <div class="form-group" [class.has-error]="hasWhoswithError" >
                            <label class="control-label">Who's with you?</label>
                            <select required id="projectgrouporindividual" class="form-control" #projectgrouporindividual="ngModel" name="projectgrouporindividual" 
                            (blur)="validateWhoswith(projectgrouporindividual.value)"
                            (change)="validateWhoswith(projectgrouporindividual.value)"
                                [(ngModel)]="model.projectgrouporindividual">
                                <option value="default" selected disabled>Select Who's With you...</option>
                                <option value="individual">Individual</option>
                                <option value="group">Group</option>
                            </select>
                        </div>  -->
                
                <br/>

                <button class="btn btn-primary" [disabled]="form.invalid" type="submit">Submit Idea</button>
                <button type="button" class="btn btn-default m-close" data-dismiss="modal" (click)="closemodel(form)" #closeBtn>Close</button>

    </form>

</div>
<style>   
        label {
                    font-weight: 700;
                    font-size: 12px;
                    text-transform: uppercase;
                    color:grey;
                    margin-bottom: 5px;
                    display: block;
              }
              .m-close
              {
                float:right;
             }
</style>