<div class="container-fluid">
	<div class="row pg-margin">
		<div class="col-md-8">
		</div>
		<div class="col-md-4  book">
			<div _ngcontent-c4="" class="input-group">
				<input _ngcontent-c4="" class="form-control ng-untouched ng-pristine ng-valid m-input" placeholder="Event Search {{selectedevent}}.." [(ngModel)]='listFilter'
					type="text">
				<span _ngcontent-c4="" class="input-group-addon" id="basic-addon1">
				<i _ngcontent-c4="" aria-hidden="true" class="fa fa-search"></i>
            </span>
          </div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2 ms-pad">
			<ul class="nav nav-tabs">
              <h5 class="m-h5">Select Event Category </h5> 
     
            <li class="active"><a data-toggle="tab" (click)="filterByall()">All Events</a></li>
            <li><a data-toggle="tab"  (click)="filterByrobotics()">Robotics</a></li>
						<li><a data-toggle="tab"  (click)="filterByIot()">IOT</a></li>
						<li><a data-toggle="tab" (click)="filterBysoftware()">Software</a></li>
            <li><a data-toggle="tab" (click)="filterByelectrical()">Electrical</a></li>
            <li><a data-toggle="tab"  (click)="filterByelectronics()">Electronics</a></li>
            <li><a  data-toggle="tab"  (click)="filterBymechanical()">Mechanical</a></li>
            <li><a  data-toggle="tab"  (click)="filterByaeromodelling()">AeroModelling</a></li>
            <li><a  data-toggle="tab"  (click)="filterBymechatronics()">Mechatronics</a></li>
            <li><a  data-toggle="tab"  (click)="filterBycivil()">Civil</a></li>
            <li><a  data-toggle="tab"  (click)="filterByautomobile()">Automobile</a></li>
        
          </ul>
		</div>
		<div class="col-md-10">
			<div class="row">
				
					<div class="" *ngFor="let workshop of visibleworkshop | workshopFilter:listFilter | paginate: { itemsPerPage: 9 , currentPage: p };">                
						<app-workshop-thumbnail [workshop]="workshop"></app-workshop-thumbnail>
					</div>
				
			</div>
			<pagination-controls class="pagination" (pageChange)="p = $event"></pagination-controls>
		</div>
	
	</div>

		

	<!-- workshop process -->

	<div class="wshipping-content-block service-process">
		<div class="container wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
		   <div class="row">
			  <div class="col-md-6 col-md-offset-3">
				 <div class="section-title">
					<h2>Our Service Process</h2>
					<p>We build a network of skilled and creative people we deliver them to you ontime.</p>
				 </div>
			  </div>
		   </div>
		   <div class="process-row">
			  <div class="process-step">
				 <div class="process-icon">
				   <span>1</span>
				   <img width="72px" src="https://image.flaticon.com/icons/png/512/165/165776.png" alt="">
				 </div>
				 <p>Request For Workshop/Select Date & Venue</p>
			  </div>
			  <div class="process-step">
				 <div class="process-icon">
				   <span>2</span>
				   <img  width = "87px" src="https://cdn.vectorstock.com/i/thumb-large/69/37/people-icon-vector-13816937.jpg" alt="">
				 </div>
				 <p>Choose your Instructor</p>
			  </div>
			  <div class="process-step">
				 <div class="process-icon">
				   <span>3</span>
				   <img width = "60px" src="https://cdn4.iconfinder.com/data/icons/pictograms-1/512/Calendar-512.png" alt="">
				 </div>
				 <p>Negotiate the price/Organise the workshop</p>
			  </div>
			  <div class="process-step">
				 <div class="process-icon">
				   <span>4</span>
				   <img width="80px" src="https://cdn2.iconfinder.com/data/icons/banking-money/120/Bearer_bond-512.png" alt="">
				 </div>
				 <p>Get Online Certification</p>
			  </div>
		   </div>
		 </div>
	   </div>
	   <!-- workshop process -->

	<div class="row m-footer">		
  <div class="col-md-12 ">
		<h2>The SkillPractical Experience</h2> 
	</div>

	<div class="col-md-4">
			<h3>Expert Instructors & Mentors</h3>
			<p>Our instructor consists of a mix of working professionals and subject matter experts, who not only co-develop the program
				<br> with us, but also mentor the students through our discussion forms and online community.</p>
	</div>
	<div class="col-md-4">
			<h3>Real Industry Insights</h3>
			<p>Our instructors will teach not only subject and also whats happening outside in real industry</p>

	</div>
	<div class="col-md-4">
			<h3>Discussions</h3>
			<p>For every workshop student can discuss about the workshop on discussions provided on workshop page</p>
	</div>
</div>
</div>
<footercontent-page></footercontent-page>