.book{
    float:left;
    /* margin-left:74%; */
}
.public-image-tag-m {
    position: absolute;
    top: 15px;
    width: 200px;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .public-image-tag-m li {
    text-indent: 20px;
    line-height: 40px;
  }
  .public-image-tag-m li a {
    display: block;
    text-decoration: none;
    color: #999999;
  }
  .public-image-tag-m li a:hover {
    cursor: pointer;
    text-decoration: none;
    color: #337cb7;
    background: rgba(211, 211, 211, 0.2);
  }
  .public-image-tag-m li a:active, .public-image-tag-m li a:focus {
    cursor: pointer;
    text-decoration: none;
  }
  .public-image-category-a {
    list-style: none;
    text-decoration: none;
    color: #999999;
  }
  .public-image-category-a:hover {
    cursor: pointer;
    text-decoration: none;
    color: #337cb7;
    background: rgba(211, 211, 211, 0.2);
  }
  .public-image-category-a:active, .public-image-category-a:focus {
    cursor: pointer;
    text-decoration: none;
  }
  .public-image-category-a:first-letter {
    text-transform: uppercase;
  }
  
  .public-image-tag-a {
    margin-left: -25px;
    list-style: none;
    text-decoration: none;
    color: #999999;
  }
  .public-image-tag-a:hover {
    cursor: pointer;
    text-decoration: none;
    color: #337cb7;
    background: rgba(211, 211, 211, 0.2);
  }
  .public-image-tag-a:active, .public-image-tag-a:focus {
    cursor: pointer;
    text-decoration: none;
  }
  .public-image-tag-a:first-letter {
    text-transform: uppercase;
  }
  
  .selected {
    background: rgba(174,171,172,0.2);
    /* li {
      display: block;
    } */
  }
  .tabs-left > .nav-tabs {
    border-bottom: 0;
  }
  
  .tab-content > .tab-pane,
  .pill-content > .pill-pane {
    display: none;
  }
  
  .tab-content > .active,
  .pill-content > .active {
    display: block;
  }
  
  .tabs-left > .nav-tabs > li {
    float: none;
  }
  
  .tabs-left > .nav-tabs > li > a {
    min-width: 74px;
    margin-right: 0;
    margin-bottom: 3px;
  }
  
  .tabs-left > .nav-tabs {
    float: left;
    margin-right: 19px;
    border-right: 1px solid #ddd;
  }
  
  .tabs-left > .nav-tabs > li > a {
    margin-right: -1px;
    -webkit-border-radius: 4px 0 0 4px;
       -moz-border-radius: 4px 0 0 4px;
            border-radius: 4px 0 0 4px;
  }
  
  .tabs-left > .nav-tabs > li > a:hover,
  .tabs-left > .nav-tabs > li > a:focus {
    border-color: #eeeeee #dddddd #eeeeee #eeeeee;
    cursor: pointer;
  }
  
  .tabs-left > .nav-tabs .active > a,
  .tabs-left > .nav-tabs .active > a:hover,
  .tabs-left > .nav-tabs .active > a:focus {
    border-color: #ddd transparent #ddd #ddd;
    *border-right-color: #ffffff;
    cursor: pointer;
  }
  .nav-tabs{
    display: grid;
    box-shadow: 0px 4px 13px #8080807a;
    margin-bottom: 2pc;
  }
  .nav-tabs>li {
    float: left;
    margin-bottom: -1px;
    border: 1px solid #dddddd73;
}
.nav-tabs>li>a {
  margin-right: 0px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 0;
  color: #192639;
  font-weight: 500;
  cursor:pointer;
}
.pg-margin{
  margin-top: 3pc;
  margin-bottom: 1.6pc;
  margin-right: 0px;
  margin-left: 0px;
  border-radius: 4px;
  background: #ccc;
  padding: 6px 3px;
  box-shadow: 2px 0px 13px #80808070;
}
.m-h5{
  padding-left: 10px;
  background: #192639;
  color: #fff;
  margin-bottom: 0px;
  border: 1px solid gray;
  padding-top: 14px;
  padding-bottom: 14px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  color: #fff;
  cursor: pointer;
  background-color: #192639;
  border: 0;
  border-bottom-color: transparent;
}
.input-group-addon {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: #fff;
  text-align: center;
  background-color: #192639;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.m-footer{
  background: #cccccc;
    padding: 30px 20px;
}
.m-footer h2{
  margin-bottom: 12px;
  color: #192639;
  font-size: 25px;
  padding-bottom: 23px;
  border-bottom: 1px solid #0000003b;
}
.m-footer hr{
  margin-top: 13px;
  margin-bottom: 19px;
  border: 0;
  width: 60%;
  border-top: 1px solid #19263942;
}
.m-footer p{
  padding-bottom: 10px;
  line-height: 25px;
}
.m-footer h3{
  color: rgba(25, 25, 25, 0.8);
    font-size: 22px;
    margin-top: 25px;
}
@media only screen and (min-width: 767px) {
  .ms-pad{
    padding-right: 0px;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .ms-pad{
    padding-right: 15px;
  }
}


/* workshop process */

.service-process {
  background-color: #fafafa;
  position: relative;
}
.wshipping-content-block {
  padding: 80px 0px;
}
.service-process::before {
  display: block;
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  border-top: 1px dashed #cccccc;
  border-bottom: 1px dashed #fff;
  width: 100%;
}
*::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.section-title {
  text-align: center;
  padding-bottom: 30px;
}
.section-title h2 {
  margin-top: 0px;
  text-transform: uppercase;
  color: #444444;
}
h2 {
  font-size: 32px;
  font-weight: 400;
}
p {
  margin: 0 0 10px;
}
.process-row {
  padding-top: 40px;
}
.process-step::before {
  position: absolute;
  right: -123px;
  width: 110px;
  height: 2px;
  background-color: #eb0028;
  content: "";
  top: 80px;
  display: block;
}

.process-icon {
  width: 164px;
  text-align: center;
  height: 164px;
  float: left;
  border-radius: 100%;
  background-color: #fff;
  border: 2px solid #eb0028;
  position: relative;
  padding-top: 44px;
  margin-bottom: 10px;
}
.process-icon span {
  width: 56px;
  height: 56px;
  background-color: #eb0028;
  border: 2px solid #fff;
  color: #fff;
  line-height: 56px;
  font-size: 28px;
  position: absolute;
  left: -30px;
  top: 50%;
  margin-top: -30px;
  border-radius: 100%;
  font-weight: 700;
}
.process-step p {
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  margin-top: 10px;
  clear: both;
}
.process-step p {
  margin-bottom: 0px;
}
p {
  margin: 0 0 10px;
}
.process-step {
  float: left;
  width: 164px;
  margin-right: 14%;
  position: relative;
}
.process-step:last-child {
  margin-right: 0px;
}
.process-step:last-child::before
{
display:none;
}

/* workshop process */