<div class="container-fluid m-margin m-mobilepad">
	<div class="row">
		<div class="col-md-6">
			<div class="row">
				<div class="col-md-12 m-mobilepad">
					 <h4 class="m-heading" [ngStyle]="filledstatustyleuserskills">User Skills</h4>
				</div>
			</div>
		<form #form="ngForm" (submit)="submitForm(form)">
			<div class="row"> 
				<div class="col-md-6 m-mobilepad">
					<div class="form-group">
						<label class="control-label">Skill1</label>
                <input #skill1="ngModel"  type="text" class="form-control" name="skill1" 
                    [(ngModel)]="model.skill1" (ngModelChange)="changeVal()">
					</div>
				</div>
				<div class="col-md-6 m-mobilepad">
					<div class="form-group">
						<label class="control-label">Rate Yourself From 1-10</label>
                <input #rateyourself1="ngModel" required type="number" class="form-control" name="rateyourself1" 
                    [(ngModel)]="model.rateyourself1" (ngModelChange)="changeVal()">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 m-mobilepad">
					<div class="form-group">
                            <label class="control-label">Skill2</label>
            <input #skill2="ngModel"  type="text" class="form-control" name="skill2" 
                [(ngModel)]="model.skill2" (ngModelChange)="changeVal()">
            
        </div>

				</div>
				<div class="col-md-6 m-mobilepad">
				  <div class="form-group">
                        <label class="control-label">Rate Yourself From 1-10</label>
            <input #rateyourself2="ngModel" required type="number" class="form-control" name="rateyourself2" 
                [(ngModel)]="model.rateyourself2" (ngModelChange)="changeVal()">
                </div> 
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-6 m-mobilepad">
					 <div class="form-group">
                    <label class="control-label">Skill3</label>
        <input #skill3="ngModel"  type="text" class="form-control" name="skill3" 
            [(ngModel)]="model.skill3" (ngModelChange)="changeVal()">
                        
                </div> 

				</div>
				<div class="col-md-6 m-mobilepad">
				<div class="form-group">
                    <label class="control-label">Rate Yourself From 1-10</label>
        <input #rateyourself3="ngModel" required type="number" class="form-control" name="rateyourself3" 
            [(ngModel)]="model.rateyourself3" (ngModelChange)="changeVal()">
                </div> 
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-12 text-center m-mobilepad">
					<button class="btn btn-success" type="submit" [disabled]="noChangeYet">Add </button>
					<!-- [disabled]="!isValidForm()"
					 [disabled]="!form.invalid" -->
				</div>
			</div>
		</form>  
		</div>
		<div class="col-md-6">
		</div>
	</div>
</div>
