@import url('https://fonts.googleapis.com/css?family=Poppins');
.book{
    float:left;
    margin-left:74%;
}
.public-image-tag-m {
    position: absolute;
    top: 15px;
    width: 200px;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .public-image-tag-m li {
    text-indent: 20px;
    line-height: 40px;
  }
  .public-image-tag-m li a {
    display: block;
    text-decoration: none;
    color: #999999;
  }
  .public-image-tag-m li a:hover {
    cursor: pointer;
    text-decoration: none;
    color: #337cb7;
    background: rgba(211, 211, 211, 0.2);
  }
  .public-image-tag-m li a:active, .public-image-tag-m li a:focus {
    cursor: pointer;
    text-decoration: none;
  }
  .public-image-category-a {
    list-style: none;
    text-decoration: none;
    color: #999999;
  }
  .public-image-category-a:hover {
    cursor: pointer;
    text-decoration: none;
    color: #337cb7;
    background: rgba(211, 211, 211, 0.2);
  }
  .public-image-category-a:active, .public-image-category-a:focus {
    cursor: pointer;
    text-decoration: none;
  }
  .public-image-category-a:first-letter {
    text-transform: uppercase;
  }
  
  .public-image-tag-a {
    margin-left: -25px;
    list-style: none;
    text-decoration: none;
    color: #999999;
  }
  .public-image-tag-a:hover {
    cursor: pointer;
    text-decoration: none;
    color: #337cb7;
    background: rgba(211, 211, 211, 0.2);
  }
  .public-image-tag-a:active, .public-image-tag-a:focus {
    cursor: pointer;
    text-decoration: none;
  }
  .public-image-tag-a:first-letter {
    text-transform: uppercase;
  }
  
  .selected {
    background: rgba(174,171,172,0.2);
    /* li {
      display: block;
    } */
  }
  .tabs-left > .nav-tabs {
    border-bottom: 0;
  }
  
  .tab-content > .tab-pane,
  .pill-content > .pill-pane {
    display: none;
  }
  
  .tab-content > .active,
  .pill-content > .active {
    display: block;
  }
  
  .tabs-left > .nav-tabs > li {
    float: none;
  }
  
  .tabs-left > .nav-tabs > li > a {
    min-width: 74px;
    margin-right: 0;
    margin-bottom: 3px;
  }
  
  .tabs-left > .nav-tabs {
    float: left;
    margin-right: 19px;
    border-right: 1px solid #ddd;
  }
  
  .tabs-left > .nav-tabs > li > a {
    margin-right: -1px;
    -webkit-border-radius: 4px 0 0 4px;
       -moz-border-radius: 4px 0 0 4px;
            border-radius: 4px 0 0 4px;
  }
  
  .tabs-left > .nav-tabs > li > a:hover,
  .tabs-left > .nav-tabs > li > a:focus {
    border-color: #eeeeee #dddddd #eeeeee #eeeeee;
    cursor: pointer;
  }
  
  .tabs-left > .nav-tabs .active > a,
  .tabs-left > .nav-tabs .active > a:hover,
  .tabs-left > .nav-tabs .active > a:focus {
    border-color: #ddd transparent #ddd #ddd;
    *border-right-color: #ffffff;
    cursor: pointer;
  }
  .nav-tabs{
    display: grid;
    box-shadow: 0px 4px 13px #8080807a;
    margin-bottom: 2pc;
  }
  .nav-tabs>li {
    float: left;
    margin-bottom: -1px;
    border: 1px solid #dddddd73;
}
.nav-tabs>li>a {
  margin-right: 0px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 0;
  color: #192639;
  font-weight: 500;
  cursor:pointer;
}
.pg-margin{
  margin-top: 3pc;
  margin-bottom: 1.6pc;
  margin-right: 0px;
  margin-left: 0px;
  border-radius: 4px;
  background: #ccc;
  padding: 6px 3px;
  box-shadow: 2px 0px 13px #80808070;
}
.m-h5{
  padding-left: 10px;
  background: #192639;
  color: #fff;
  margin-bottom: 0px;
  border: 1px solid gray;
  padding-top: 14px;
  padding-bottom: 14px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  color: #fff;
  cursor: pointer;
  background-color: #192639;
  border: 0;
  border-bottom-color: transparent;
}
.input-group-addon {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: #fff;
  text-align: center;
  background-color: #192639;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.m-footer{
  background: #cccccc;
    padding: 30px 20px;
    text-align: center;
}
.m-footer h2{
  margin-bottom: 12px;
  color: #192639;
  font-size: 25px;
}
.m-footer hr{
  margin-top: 13px;
  margin-bottom: 19px;
  border: 0;
  width: 60%;
  border-top: 1px solid #19263942;
}
.m-footer p{
  padding-bottom: 10px;
  line-height: 25px;
}
.m-footer h3{
  color: rgba(25, 25, 25, 0.8);
    font-size: 22px;
    margin-top: 25px;
}
.m-table{
  margin-top:2pc;
  margin-bottom:2pc;
}
.m-head{
  background: #192639;
  color: #fff;
}
.m-tr td{
  font-size: 15px;
  font-weight: 500;
}

.ms-box h3{
  background: #192639;
  padding: 8px 7px;
  color: #fff;
  margin-bottom: 0px;
  font-size: 20px;
}
.ms-content{
 
    padding: 5px 15px;

}
.ms-margin{
  margin-top:3.5pc;
}
.m-work{
  border: 1px solid  #19263921;
  padding: 0px 0 0px;
  margin: 20px 0px;
}
.m-work h4{
  border-bottom: 1px solid  #19263921;
  padding: 13px 8px;
  font-size: 16px;
}
.m-work h4 span{
  color: #777;
  padding-left: 4px;
  font-weight: 400;
}
.Description{
  padding: 20px 10px;
    text-align: justify;
    line-height: 24px;
}
.m-des{
  padding-right: 5px;
  font-size: 16px;
}
.testimonial_btn{
  background-color: #3b83c0 !important;
  color: #fff !important;
}
.m-feedback{
  margin-top: 3pc;
    margin-bottom: 4pc;
}
.seprator {
  height: 2px;
  width: 56px;
  background-color: #0aaa7a;
  margin: 7px 0 10px 0;
}
.m-b{
  background: #3b83c0;
  border-color: #3b83c0;
  font-size: 16px;
  text-transform: uppercase;
  padding: 8px 12px;
}
.testimonial_para{
  text-align: justify;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  padding-top: 10px;
}
.testimonial_subtitle {
  color: #0aaa7a;
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
}
@media only screen and (min-width: 767px) {
  .ms-pad{
    padding-right: 0px;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .ms-pad{
    padding-right: 15px;
  }
}
