<div class="container-fluid ms-margin">
    <div class="row">
        <!-- <div class="col-md-2  ms-pad">
          <ul class="nav nav-tabs">
                    <h5 class="m-h5">Select Workshop Category </h5>              
            <li class="active"><a data-toggle="tab" (click)="filterByall()">All Workshops</a></li>
            <li><a  data-toggle="tab"  (click)="filterByrobotics()">Robotics</a></li>
            <li><a data-toggle="tab"  (click)="filterByIot()">IOT</a></li>
            <li><a data-toggle="tab" (click)="filterByelectrical()">Electrical</a></li>
            <li><a data-toggle="tab"  (click)="filterByelectronics()">Electronics</a></li>
            <li><a data-toggle="tab"  (click)="filterBymechanical()">Mechanical</a></li>
            <li><a data-toggle="tab"  (click)="filterByaeromodelling()">AeroModelling</a></li>
            <li><a data-toggle="tab"  (click)="filterBymechatronics()">Mechatronics</a></li>
            <li><a data-toggle="tab"  (click)="filterBycivil()">Civil</a></li>
                    <li><a data-toggle="tab"  (click)="filterByautomobile()">Automobile</a></li>                
                 </ul>
        </div> -->
       
        <div class="col-md-10" style="width: 100%;">
          <button (click)="goBack()" type="submit" class="btn btn-info m-btn">
                  Back
          </button>
          <div class="m-work">
          <div class="Workshop ID" >
            <h4>Workshop ID: <span>{{workshop?.workshop_id}}</span></h4>
            
          </div>
    
          <div class="Workshop ID">
              <h4>Workshop Name: <span>{{workshop?.workshop_title}}</span> </h4>
              
            </div>


          <div class="Description">
                  <b><span class="m-des">Description:</span> </b>
                  <span>{{workshop?.workshop_description}}</span>
          </div>
          </div>
          <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                  <li data-target="#myCarousel" data-slide-to="1"></li>
                  <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
            
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                  <div class="item active">
                    <img src="{{imageslideurl0}}" alt="Los Angeles">
                  </div>
            
                  <div class="item">
                    <img src="{{imageslideurl1}}" alt="Chicago" >
                  </div>
                
                  <div class="item">
                    <img src="{{imageslideurl2}}" alt="New york">
                  </div>
                </div>
            
                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right"></span>
                  <span class="sr-only">Next</span>
                </a>
          </div>
          
    <!-- <table class="table table-bordered m-table">
      <thead class="m-head">
        <tr>
          <th>No of days</th>
        </tr>
      </thead>
      <tbody>
        <tr class="m-tr">
          <td>{{workshop?.days}}</td>
        </tr>     
      </tbody>
    </table> -->

    <div class="row ms-box">
     
      <div class="col-md-6" style="white-space:pre-line;">
        <h3>Software/Hardware Used</h3>
        <div class="ms-content">
         {{workshop?.kit}}
        </div>
      </div>
      <div class="col-md-6"  style="white-space:pre-line;">
        <h3>Certificate</h3>
        <div class="ms-content">
          {{workshop?.certificate}}
        </div>
      </div>
    </div>
    <div class="row ms-box">
      <div class="col-md-6"  style="white-space:pre-line;">
        <h3>Topic Covered</h3>
        <div class="ms-content">
          {{workshop?.topicscovered}}
        </div>
      </div>
      <div class="col-md-6"  style="white-space:pre-line;">
        <h3>Outcomes</h3>
        <div class="ms-content">
         {{workshop?.outcomes}}
        </div>
      </div>
      <div class="col-md-6" style="white-space:pre-line;">
          <h3>No of days</h3>
          <div class="ms-content">
              {{workshop?.days}}
          </div>
        </div>
    </div>
	<div class="row">
		<div class="col-md-12 text-center">
			 <button class="btn btn-success m-b" [routerLink]="['/requestworkshop',workshop_title,workshop_id,type]">
    Request Workshop
  </button>
		</div>
  </div>
  <div class="row">
    <div class="col-sm-12 m-feedback">  
        <h3>Feedback</h3>
        <div class="seprator"></div>
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
              <!-- Wrapper for slides -->
              <div class="carousel-inner">
                <div class="item active">
                  <div class="row" style="padding: 20px">
                    <button style="border: none;"><i class="fa fa-quote-left testimonial_fa" aria-hidden="true"></i></button>
                    <p class="testimonial_para">
                      I strongly believe that Skillpractical is the only application which brings all educational resources together. I am happy to have the best community members who guided us all the way in achieving my goals. The great collection of best materials and reference books helped me to get more theoretical & Practical knowledge.   
                     </p><br>
                    <div class="row">
                    <div class="col-sm-2">
                        <img src="https://s3.ap-south-1.amazonaws.com/sp-landingpage/Features/student+image+1.jpg" class="img-responsive" style="width: 80px">
                        </div>
                        <div class="col-sm">
                        <h5><strong>Satish</strong></h5>
                        <p class="testimonial_subtitle"><span>Electronics & Communication Engineering</span><br>
                        <span>B-Tech Student</span>
                        </p>
                    </div>
                    </div>
                  </div>
                </div>
               <div class="item">
                   <div class="row" style="padding: 20px">
                    <button style="border: none;"><i class="fa fa-quote-left testimonial_fa" aria-hidden="true"></i></button>
                    <p class="testimonial_para">
                      It's difficult to sum up the experiences and benefits I gained with Skillpractical in few lines. I consider myself very lucky for being a part of Skillpractical where we can find theoretical and experimental environment which made me to study and enjoy the events conducted by Skillpractical. 
                       </p><br>
                    <div class="row">
                    <div class="col-sm-2">
                        <img src="https://www.vivaah.info/V/I/E/4/VIE4274_4756405795_l.jpg" class="img-responsive" style="width: 80px">
                        </div>
                        <div class="col-sm">
                        <h5><strong>-	Mounika</strong></h5>
                        <p class="testimonial_subtitle"><span>Electronics & Communication Engineering</span><br>
                        <span>B-Tech Student</span>
                        </p>
                    </div>
                    </div>
                  </div>
                </div>
                <div class="item">
                    <div class="row" style="padding: 20px">
                      <button style="border: none;"><i class="fa fa-quote-left testimonial_fa" aria-hidden="true"></i></button>
                      <p class="testimonial_para">
                        Skillpractical is the only application which is providing/integrating all educational resources under one rooftop with well experienced community members. It helped me to find the right career path after my graduation. At the beginning I got confused, what consultancy to choose for my higher education in abroad, with the help of Skillpractical application, my dream came true. Thank you Skillpractical for making my career.
                        </p><br>
                      <div class="row">
                          <div class="col-sm-2">
                              <img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/p/3/000/053/376/2fdfcc4.jpg" class="img-responsive" style="width: 80px">
                              </div>
                              <div class="col-sm">
                              <h5><strong>Kumar</strong></h5>
                              <p class="testimonial_subtitle"><span>  Mechanical Engineering </span><br>
                              <span>M-Tech Student</span>
                              </p>
                          </div>
                          </div>
                    </div>
                  </div>
                  <div class="item">
                      <div class="row" style="padding: 20px">
                        <button style="border: none;"><i class="fa fa-quote-left testimonial_fa" aria-hidden="true"></i></button>
                        <p class="testimonial_para">
                          Skillpractical offers blend of learning, amusement and integration of enduring principles. As a computer engineering student, I got to learn something new with every subject, as it provides a wide arena of the discipline. The Skillpractical manages all the areas extremely well and a student always finds herself/himself in a pool of never ending opportunities, either technical, non-technical or both. 
                         </p><br>
                        <div class="row">
                        <div class="col-sm-2">
                            <img src="https://s3.ap-south-1.amazonaws.com/sp-landingpage/Features/student+image+2.JPG" class="img-responsive" style="width: 80px">
                            </div>
                            <div class="col-sm">
                            <h5><strong>Karthik</strong></h5>
                            <p class="testimonial_subtitle"><span>Computer Science </span><br>
                            <span>B-Tech Student</span>
                            </p>
                        </div>
                        </div>
                      </div>
                    </div>
                    <div class="item">
                        <div class="row" style="padding: 20px">
                          <button style="border: none;"><i class="fa fa-quote-left testimonial_fa" aria-hidden="true"></i></button>
                          <p class="testimonial_para">
                            I am proud to say that I belong to this wonderful pillar of knowledge: Skillpractical. The courses, expert advices, industrial visits, events & workshops manifolds our knowledge in technical as well as in other required areas. The congenial environment here has given me numerous opportunities to participate in extracurricular activities and groom my personality.
                            </p><br>
                          <div class="row">
                          <div class="col-sm-2">
                              <img src="https://s3.ap-south-1.amazonaws.com/sp-landingpage/Features/student+image+3.jpg" class="img-responsive" style="width: 80px">
                              </div>
                              <div class="col-sm">
                              <h5><strong>Seetha</strong></h5>
                              <p class="testimonial_subtitle"><span>Electrical & Electronics Engineering</span><br>
                              <span>B-Tech Student</span>
                              </p>
                          </div>
                          </div>
                        </div>
                      </div>   

              </div>
            </div>
            <div class="controls testimonial_control text-center">
                <a class="left fa fa-chevron-left btn btn-default testimonial_btn" href="#carousel-example-generic"
                  data-slide="prev"></a>

                <a class="right fa fa-chevron-right btn btn-default testimonial_btn" href="#carousel-example-generic"
                  data-slide="next"></a>
              </div>
        </div>
  </div>
	
        </div>
      </div>
  </div>
  <footercontent-page></footercontent-page>
  <!-- <disqus-thread [page-identifier]="pageIdentifier" [page-url]="pageUrl"></disqus-thread> -->