<br/><br/>
<div class="container">
    <div class="row">
        <div class="box-body no-padding">
        <div class="mailbox-controls">
            <!-- Check all button -->
            <!-- <button class="btn btn-default btn-sm checkbox-toggle"><i class="glyphicon glyphicon-unchecked"></i></button> -->
            <div class="btn-group">
              <button class="btn btn-default btn-sm" (click)="deleteMessages()"><i class="glyphicon glyphicon-trash"></i></button>
              <button class="btn btn-default btn-sm"  (click)="goBack()"><i class="glyphicon glyphicon-arrow-left"></i></button>              
              <button class="btn btn-default btn-sm"><i class="glyphicon glyphicon-share-alt"></i></button>
            </div><!-- /.btn-group -->
            <!-- <button class="btn btn-default btn-sm" (click)="refresh()"><i class="glyphicon glyphicon-refresh"></i></button> -->
            <!-- <div class="pull-right">
              1-50/200
              <div class="btn-group">
                <button class="btn btn-default btn-sm"><i class="glyphicon glyphicon-arrow-left"></i></button>
                <button class="btn btn-default btn-sm"><i class="glyphicon glyphicon-arrow-right"></i></button>
              </div>
            </div> -->
          </div>
          <hr>
            <div align="center">
                 <div style="border: 2px solid #e3e3e3; border-radius:5px; margin-top: 20px">   
                    
                    <div  style="background-color: #fbfcfd; text-align: left;">
                        <div style="margin: 30px;">
                                <div class="row">
                                        <div class="col-md-12 control-group">
                                          <label class="control-label" for="name"><h4>Name :</h4></label>
                                          {{ name }}
                                        </div>
                                      </div>
                                      
                                      <div class="row">
                                        <div class="col-md-12 control-group">
                                          <label class="control-label" for="description"><h4>Description :</h4></label>
                                          {{ description}}
                                        </div>
                                      </div>
                                      <div class="row">
                                        <div class="col-md-8 control-group">
                                          <label class="control-label" for="createddate"><h4>Created Date :</h4></label>
                                          {{ createddate }}
                                        </div>
                                      </div>
                                      <div class="row">
                                      <div class="col-md-8 control-group" *ngIf="attachmenturl != null">
                                        <label class="control-label" for="url"><h4>Attachment URL :</h4></label>
                                        <a href=" {{attachmenturl}}" download="Graph_Details">
                                                <button type="button" class="btn btn-primary btn-xs">Download</button>
                                            </a> 
                                        
                                    </div>
                             </div>
                             
                         </div>
                    </div>   
                </div>   
            </div>
        
      </div>
              
  </div>
</div>