.star-rating{
    .to-rate{
        cursor: pointer;
        padding: 0 3px;
    }
    .fa-star-o{
        color: orange;
    }
    .fa-star{
        color: orange;
    }
    .fa-star-half-o{
        color: orange;
    }
    .to-display{
        padding: 0 2px;
    }
}