<div class="container">

  <div class="row m-rpad">
    <div class="col-md-8 m-colpd">
      <div class="">
        <div class="m-comm_message">
          <community-message></community-message>
        </div>        
      </div>

    </div>
    <div class="col-md-4 m-colpd text-center">
      <div class="">
        <a class="btn icon-btn btn-success" data-toggle="modal" data-target="#newPostModal">
          <span class="glyphicon btn-glyphicon glyphicon-plus img-circle text-success"></span>Ask Question</a>
        <br>
        <br>
        <a class="btn icon-btn btn-success" [routerLink]="['/community/projectqueries']">
          <span class="glyphicon btn-glyphicon glyphicon glyphicon-align-justify img-circle text-success">
          </span>Project Queries</a>
        <br>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
        <h4>My Posts</h4>
      <div *ngFor="let post of post | paginate: { itemsPerPage: 10 , currentPage: p };" style="margin-top:0.2em;">
        <div class="span12">
          <div class="row">
            <div class="span8" style="padding-bottom:5px;font-size:14px;">
              <a [routerLink]="['/community/postdetail', post.postid, post.tag]">{{post.postName | capitalize}}</a>
            </div>
          </div>
          <div class="row">
            <div class="span10">
              <p class="mailbox-subject" [innerHTML]="post.description">
                {{post.description | capitalize}}
              </p>
            </div>
          </div>
          <div class="row m-fa">
            <div class="span8">
              <p style="font-size:12px">
                <i class="fa fa-user-circle-o"></i> by
                <font color="#3366BB">{{post.username}}</font>
                |
                <i class="fa fa-calendar"></i> {{post.Created}} |
                <i class="fa fa-comments"></i>
                <font color="#3366BB">{{post.commentcount}} Answers </font>
                |
                <i class="fa fa-share-alt"></i>
                <font color="#3366BB"> {{post.shares}} Shares </font>
                |
                <i class="fa fa-eye"></i>
                <font color="#6a737c"> {{post.views}} </font>
                |
                <i class="icon-tags"></i> Tags :
                <a [routerLink]="['/community/postsbytag', post.tag]">
                  <span class="label label-info">{{post.tag}}</span>
                </a> &nbsp;
                <a  style="cursor:pointer" class="btn-group btn-group-xs"  data-toggle="modal" data-target="#deletemyPostModal" (click)="deletePost(post)">
                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                  <span>Delete</span>
                </a>
              </p>
              <hr class="linebelowpost">
            </div>
          </div>
        </div>
        <!-- <div class="modal fade"  id="deletemyPostModal">
            <div class="modal-dialog" role="dialog">
              <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"> Alert for post delete 
                      </h4>
                  <button type="button" class="close" #closeBtn  data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>Do you Want to delete post?</p>
                </div>
                <div class="modal-footer">
                    <a>
                        <button class="btn btn-pm" data-dismiss="modal">No</button>
                    </a>
                    <a >
                        <button  class="btn btn-sc" (click)="deletePost(post)">Yes</button>
                    </a>

                </div>
              </div>
            </div>
          </div> -->
      </div>
      <br>
      <pagination-controls *ngIf="post" class="pagination" (pageChange)="p = $event"></pagination-controls>

    </div>
    <div class="col-md-4 m-trending">


    </div>
  </div>
</div>


<div class="modal fade" id="newPostModal" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">

        <h4 class="modal-title">Create New Post
        </h4>

      </div>
      <div style="margin-top: -44px;" class="modal-body">
        <add-post></add-post>
      </div>
    </div>
  </div>
</div>