a.btn:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}
a.btn {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}

.btn-glyphicon {
    padding:8px;
    background:#ffffff ;
    margin-right:4px; 
}
.btn-success {
    color: #fff;
    background-color: #5cb85c ;
    border-color: #4cae4c ;
    font-size: 20px;
}
.Heading_ProjectQueries{
    padding-top: 0px;
    margin-top: -63px;
    padding-left: 38px;
    padding-right: 12px;
}

.col-xs-4[_ngcontent-c4][_ngcontent-c4][_ngcontent-c4] {
    width: 73.333333%;
    text-align: justify;
    margin-left: -37px;
}
.btn-primary {
    font-size: 20px;
    padding-left: 2px;        
}
.icon-btn {
    padding: 1px 15px 3px 2px;
    border-radius:50px;
}
.Heading1 {
padding: 2px 4px;
font-size: 25px;
color: #fff;
background-color: #56add4 ;
border-radius: 3px;
box-shadow: inset 0 -1px 0 rgba(0,0,0,.25);
}
.row {
    margin-left: 0px;
    margin-right: 0px;   
    margin-top: 0px;
}
 .comm_message {
    text-align:center;
    position:absolute;    
    height:60px;
    width: auto;
    margin-top: 1px;
    margin-right: 20px;
    background-color: #f9f7f7 ;
    border: 2px solid #ccc;
    border-style: solid;
    border-radius: 12px;
    border-color: rgb(176, 197, 212);
    border-width: 4px;
} 

.myposts {
    margin: 15px;
}

.col-md-12 col-sm-6 col-xs-6 col-lg-12 {
    padding-left: 50px;
}

#post {
    margin-top:10px;
}

#p-q{
    position:absolute;left:81.2%;margin-top:47px;
}

@media screen and (max-width: 414px) {
    
    .myposts[_ngcontent-c4][_ngcontent-c4] {
        margin: 15px;
        margin-left: -29px;
    }
    
    .btn-success[_ngcontent-c4][_ngcontent-c4][_ngcontent-c4][_ngcontent-c4][_ngcontent-c4] {
        color: #fff;
        background-color: #5cb85c;
        border-color: #4cae4c;
        font-size: 14px;
        margin-right: -17em;
        margin-top: -10px;
    }
    
    .Heading_ProjectQueries[_ngcontent-c4][_ngcontent-c4][_ngcontent-c4] {
        padding-top: 0px;
        margin-top: -66px;
        padding-left: 15px;
        padding-right: 12px;
    }
    .btn-primary[_ngcontent-c4][_ngcontent-c4] {
            font-size: 16px;
            padding-left: 2px;
            width: 9em;
    } 
    .Heading1[_ngcontent-c4] {
        padding: 2px 4px;
        font-size: 17px;
        color: #fff;
        background-color: #56add4;
        border-radius: 3px;
        box-shadow: inset 0 -1px 0 rgba(0,0,0,.25);
    }    
    .col-md-12 col-sm-6 col-xs-6 col-lg-12 {
            padding-left: 2px;
    }
    .col-xs-4[_ngcontent-c4][_ngcontent-c4][_ngcontent-c4][_ngcontent-c4][_ngcontent-c4][_ngcontent-c4][_ngcontent-c4][_ngcontent-c4][_ngcontent-c4] {
        width: 263.333333%;
        text-align: justify;
        margin-left: -38px;
        font-size: 11px;
    }
    hr[_ngcontent-c4] {
        margin-top: -10px;
        margin-bottom: 1px;
        border: 0;
        border-top: 1px solid #eee;
    }
    .comm_message {
         text-align: center;
         position: absolute;
         left: 1173.5%;
         top: 25%;
         height: 133px;
         width: auto;
         margin-top: 1px;
         margin-right: 20px;
         margin-left: -300px;
         background-color: #f9f7f7;
         border: 2px solid #ccc;
         border-style: solid;
         border-radius: 12px;
         border-color: rgb(176, 197, 212);
         border-width: 4px;
        }
    
    }
    
    @media screen and (max-width: 375px) {
    
    .myposts[_ngcontent-c4][_ngcontent-c4][_ngcontent-c4] {
            margin: 15px;
            margin-left: -26px;
    }
    .btn-success[_ngcontent-c4][_ngcontent-c4][_ngcontent-c4][_ngcontent-c4][_ngcontent-c4][_ngcontent-c4] {
        color: #fff;
        background-color: #5cb85c;
        border-color: #4cae4c;
        font-size: 14px;
        margin-right: 0em;
        margin-top: 0px;
    }
    .Heading_ProjectQueries[_ngcontent-c4][_ngcontent-c4][_ngcontent-c4][_ngcontent-c4] {
        padding-top: 0px;
        margin-top: -70px;
        padding-left: 11px;
        padding-right: 12px;
    }
    .col-xs-4[_ngcontent-c4][_ngcontent-c4][_ngcontent-c4][_ngcontent-c4][_ngcontent-c4][_ngcontent-c4][_ngcontent-c4][_ngcontent-c4][_ngcontent-c4][_ngcontent-c4][_ngcontent-c4] {
        width: 315.333333%;
        text-align: justify;
        margin-left: -54px;
        font-size: 10px;
    }
    #post[_ngcontent-c4][_ngcontent-c4][_ngcontent-c4] {
        margin-top: 23px;
    }
    hr {
        margin-top: -15px;
        margin-bottom: 20px;
        border: 0;
        border-top: 1px solid #eee;
    }
    
    
    .comm_message[_ngcontent-c4] {
        text-align: center;
        position: absolute;
        left: 1173.5%;
        top: 25%;
        height: 133px;
        width: auto;
        margin-top: 1px;
        margin-right: 20px;
        margin-left: -257px;
        background-color: #f9f7f7;
        border: 2px solid #ccc;
        border-style: solid;
        border-radius: 12px;
        border-color: rgb(176, 197, 212);
        border-width: 4px;
    }
    
    a {
        color: #337ab7;
        text-decoration: none;
        font-size: 14px;
    }
    .fa[_ngcontent-c4][_ngcontent-c4] {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        margin-left: -3px;
        -moz-osx-font-smoothing: grayscale;
    }
    
    }
    
    @media screen and (max-width: 360px) {
        .btn-success[_ngcontent-c4][_ngcontent-c4][_ngcontent-c4][_ngcontent-c4][_ngcontent-c4][_ngcontent-c4][_ngcontent-c4] {
            color: #fff;
            background-color: #5cb85c;
            border-color: #4cae4c;
            font-size: 14px;
            margin-right: -14em;
            margin-top: -14px;
        }
    
        .Heading_ProjectQueries[_ngcontent-c4][_ngcontent-c4][_ngcontent-c4][_ngcontent-c4][_ngcontent-c4] {
            padding-top: 0px;
            margin-top: -68px;
            padding-left: 10px;
            padding-right: 12px;
        }
          
        .col-xs-4[_ngcontent-c4][_ngcontent-c4][_ngcontent-c4][_ngcontent-c4][_ngcontent-c4][_ngcontent-c4][_ngcontent-c4][_ngcontent-c4][_ngcontent-c4][_ngcontent-c4][_ngcontent-c4][_ngcontent-c4] {
            width: 315.333333%;
            text-align: justify;
            margin-left: -54px;
            font-size: 11px;
        }
        a[_ngcontent-c4] {
            color: #337ab7;
            text-decoration: none;
            font-size: 13px;
        }
    
        .col-xs-4[_ngcontent-c4][_ngcontent-c4] {
            width: 221.333333%;
            text-align: justify;
        }
        hr {
            margin-top: -28px;
            margin-bottom: 20px;
            border: 0;
            border-top: 1px solid #eee;
        }

        .homeoverflowpostbytag[_ngcontent-c4][_ngcontent-c4][_ngcontent-c4][_ngcontent-c4][_ngcontent-c4] {
            overflow: hidden;
            padding: 0px;
            margin-left: 1em;
            height: 300px;
            position: absolute;
            margin-top: 67em;
        }

        .homeoverflowpostbytag1[_ngcontent-c4][_ngcontent-c4][_ngcontent-c4][_ngcontent-c4] {
            overflow: hidden;
            padding: 0px;
            width: 84%;
            margin-left: 1em;
            height: 487px;
            position: absolute;
            margin-top: 66em;
        }

        .homeoverflowpostbytagPROJECTS[_ngcontent-c4][_ngcontent-c4][_ngcontent-c4][_ngcontent-c4][_ngcontent-c4][_ngcontent-c4] {
            overflow: auto;
            padding: 8px;
            margin-left: 0.5em;
            height: 400px;
            position: absolute;
            margin-top: 98em;
        }
        
        .homeoverflowpostbytag1PROJECTS[_ngcontent-c4][_ngcontent-c4][_ngcontent-c4][_ngcontent-c4] {
            overflow: hidden;
            padding: 8px;
            width: 85%;
            margin-left: 0.5em;
            height: 33em;
            position: absolute;
            margin-top: 98em;
        }
        
    }
    
    
    #post1 {
        position: absolute;margin-left: 30%;
      }
      .shome { width:100%;margin-top: 22px;
      }
      #sample {
          
      }
      #post {
          float:right;margin:10px;padding-right:12px;
      }
      .btn-group btn-group-sm {
          margin-top:-20px; margin-left: 50px;position:relative;
      }
      
      .btn btn-default {
          background:none;border:none;margin:0;padding:0;color:orange;margin-left: 80px;outline:none;
      }
      .btn-default {
          color: #333;
          background-color: #fff;
          border-color: #ccc;
          padding: 5px 10px !important;
          margin-bottom: 8px;
          margin-right: 10px;
          border-radius: 25px !important;
          margin-left: 4px !important;
      }
      
      #a-1 {
          background: none;
          border: none;
          margin: 0;
          padding: 7px;
          color: orange;
          padding: 5px 23px !important;
          outline: beige;
          border: 1px solid white;
          margin-right: 8px;
      }
      
      #search {
          position: absolute;
          top: 15px;
          right: 2em;
      }
      
      .modal-title {
          margin-left: 7px;
      }
      
      .m-btngrp{
          background: #3A4255;
          margin-top: 23px;
          padding: 10px 0px 3px 0px;
          text-align: center;
          margin-left: -15px;
          margin-right: -15px;
      }
      
      input{
          border-radius: 25px;
          padding: 3px 10px;
          margin-bottom: 8px;
      }
      input:focus,
      select:focus,
      textarea:focus,
      button:focus {
          outline: none;
      }
      
      .m-newest{
          margin-bottom: 15px;
      }
      .m-trending{
          margin-top: 50px;
      }
      .msg-pad{
          padding-left:26px;
      }
      .msg-pad2{
        padding-left: 43px;
      }
      .m-colpd{
        padding-top:7px;
        padding-bottom:7px;
      }
      .m-rpad{
        margin-top: 60px;
         
      }
      .text-success {
          color: #5cb85c;
      }
      .btn-default:active {
          outline: none;
          border: none;
          }
          
          .btn-default:focus {outline:0;}
          .m-fa {
            padding: 2px 7px;
        }
        .mailbox-subject{
            display: inline-block;
            font-size: 13px;
            white-space: nowrap;
            overflow: hidden;
            width: 90%;
            text-overflow: ellipsis;
        }
      
