<div class="container-fluid m-margin m-mobilepad">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12 m-mobilepad">
                     <h4 class="m-heading" [ngStyle]="filledstatustyleeducation">Education Settings</h4>
                </div>
            </div>
        <form #form="ngForm" (submit)="submitForm(form)">
            <div class="row">
                <div class="col-md-6 m-mobilepad">
                    <div class="form-group" [class.has-error]="collegename.invalid && collegename.touched">
                    <label class="control-label">College Name</label>
                    <input #collegename="ngModel" required type="text" class="form-control" name="collegename" 
                        [(ngModel)]="model.collegename" (ngModelChange)="changeVal()">
                    <div *ngIf="collegename.invalid && collegename.touched" class="alert alert-danger">
                        College Name is required.
                    </div>
            </div>
                </div>
                <div class="col-md-6 m-mobilepad">
                 <div class="form-group" [class.has-error]="collegecode.invalid && collegecode.touched">
                <label class="control-label">College Code</label>
                <input #collegecode="ngModel" required type="text" class="form-control" name="collegecode" 
                    [(ngModel)]="model.collegecode"  (ngModelChange)="changeVal()">
                <div *ngIf="collegecode.invalid && collegecode.touched" class="alert alert-danger">
                    College Code is required.
                </div>
            </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-6 m-mobilepad">
                    <div class="form-group" [class.has-error]="rollnumber.invalid && rollnumber.touched">
                <label class="control-label">Roll Number</label>
                <input #rollnumber="ngModel" required type="text" class="form-control" name="rollnumber" 
                    [(ngModel)]="model.rollnumber" readonly (ngModelChange)="changeVal()">
                <div *ngIf="rollnumber.invalid && rollnumber.touched" class="alert alert-danger">
                    Roll Number is required.
                </div>
        </div>
                </div>
                <div class="col-md-6 m-mobilepad">
                  <div class="form-group" [class.has-error]="fieldofstudy.invalid && fieldofstudy.touched">
                <label class="control-label">Field Of Study</label>
            <select class="form-control" #fieldofstudy name="fieldofstudy" 
                [(ngModel)]="model.fieldofstudy" (ngModelChange)="changeVal()">
                <option value="engineering"> Engineering</option>
                <option value="mba">MBA</option>
            </select>
                <div *ngIf="fieldofstudy.invalid && fieldofstudy.touched" class="alert alert-danger">
                    Field Of Study is required.
                </div>
            </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-6 m-mobilepad">
                     <div class="form-group" [class.has-error]="branch.invalid && branch.touched">
                <label class="control-label">Branch</label>
                <input #branch="ngModel" required type="text" class="form-control" name="branch" 
                    [(ngModel)]="model.branch" (ngModelChange)="changeVal()">
                <div *ngIf="branch.invalid && branch.touched" class="alert alert-danger">
                    Branch is required.
                </div>
            </div>
                </div>
                <div class="col-md-6 m-mobilepad">
                <div class="form-group" [class.has-error]="year.invalid && year.touched">
                <label class="control-label">Current Academic Year</label>
                <input #year="ngModel" required type="number" class="form-control" name="year" 
                    [(ngModel)]="model.year" (ngModelChange)="changeVal()">
                <div *ngIf="year.invalid && year.touched" class="alert alert-danger">
                    Current Year is required.
                </div>
            </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-12 text-center m-mobilepad">
                     <button class="btn btn-success" type="submit" [disabled]="noChangeYet"> Save Changes </button>
                     <!-- [disabled]="!isValidForm()"
            [disabled]="!form.invalid" -->
                </div>
            </div>
        </form>  
        </div>
        <div class="col-md-6">
        </div>
    </div>
</div>
