label {
    font-weight: 700;
    font-size: 11px;
    text-transform: uppercase;
    color: grey;
    margin-bottom: 5px;
    display: block;
}

#myInput {
    background-image: url('/css/searchicon.png');
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
  }


#uploadinput{
    width: 38em;
}

#uploadbutton {
    margin-left: 33em;
    margin-top: -4.8em;
}

.btn btn-primary {
    margin-left: 360px;
}

#p-1 {
    margin-left: 360px;
}

#tag {
  
}


@media screen and (max-width: 414px) {
    
    
    .form-group1[_ngcontent-c8][_ngcontent-c8] {
        width: 340px;
    }


    .form-group2[_ngcontent-c8] {
        width: 413px;
    }

    .form-group2[_ngcontent-c8][_ngcontent-c8] {
        width: 340px;
    }

    /* #posttag {
        width: 329px;
    } */

   
     
    #tag[_ngcontent-c8][_ngcontent-c8] {
        width: 339px;
    }

    #uploadinput[_ngcontent-c8][_ngcontent-c8][_ngcontent-c8] {
        width: 26.4em;
    }
    #uploadbutton[_ngcontent-c8][_ngcontent-c8][_ngcontent-c8] {
        margin-left: 19.2em;
        margin-top: -4.5em;
    }
    label[_ngcontent-c8] {
        font-weight: 700;
        font-size: 10px;
        text-transform: uppercase;
        color: grey;
        margin-bottom: 5px;
        display: block;
    }

    #p-1[_ngcontent-c8][_ngcontent-c8] {
        margin-left: 272px;
        margin-top: -60px;
    }

    .form-control[_ngcontent-c8] {
        display: block;
        width: 100%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }

    

   
}

@media screen and (max-width: 375px) {
    .form-control[_ngcontent-c8] {
        width: 100%;
    }

    /* #posttag[_ngcontent-c8] {
        width: 303px;
    } */

    #p-1[_ngcontent-c8][_ngcontent-c8] {
        margin-left: 246px;
        margin-top: -53px;
    }

    .form-group1[_ngcontent-c6][_ngcontent-c6] {
        width: 306px;
    }

    .form-group2[_ngcontent-c6][_ngcontent-c6] {
        width: 309px;
    }

    #tag[_ngcontent-c8][_ngcontent-c8][_ngcontent-c8] {
        width: 303px;
    }

    #uploadinput[_ngcontent-c8][_ngcontent-c8][_ngcontent-c8][_ngcontent-c8][_ngcontent-c8] {
        width: 25.8em;
    }
    #uploadbutton[_ngcontent-c8][_ngcontent-c8][_ngcontent-c8][_ngcontent-c8] {
        margin-left: 16.7em;
        margin-top: -4.5em;
    }

    label[_ngcontent-c8][_ngcontent-c8] {
        font-weight: 700;
        font-size: 9px;
        text-transform: uppercase;
        color: grey;
        margin-bottom: 5px;
        display: block;
    }

    #p-1[_ngcontent-c6][_ngcontent-c6] {
        margin-left: 239px;
        margin-top: -54px;
    }
}

@media screen and (max-width: 360px) {
    .form-control[_ngcontent-c8][_ngcontent-c8] {
        width: 100%;
    }

    .form-group1[_ngcontent-c6][_ngcontent-c6][_ngcontent-c6] {
        width: 287px;
    }

    .form-group2[_ngcontent-c6][_ngcontent-c6][_ngcontent-c6] {
        width: 288px;
    }

    #tag[_ngcontent-c8][_ngcontent-c8][_ngcontent-c8][_ngcontent-c8] {
        width: 282px;
    }

    /* #posttag[_ngcontent-c8][_ngcontent-c8] {
        width: 283px;
    }
     */
    #uploadinput[_ngcontent-c8][_ngcontent-c8][_ngcontent-c8][_ngcontent-c8][_ngcontent-c8][_ngcontent-c8] {
        width: 27.8em;
    }
    #uploadbutton[_ngcontent-c8][_ngcontent-c8][_ngcontent-c8][_ngcontent-c8][_ngcontent-c8] {
        margin-left: 15.1em;
        margin-top: -4.5em;
    }

    label[_ngcontent-c8][_ngcontent-c8][_ngcontent-c8] {
        font-weight: 700;
        font-size: 7.5px;
        text-transform: uppercase;
        color: grey;
        margin-bottom: 5px;
        display: block;
    }
   
    #p-1[_ngcontent-c8][_ngcontent-c8][_ngcontent-c8] {
        margin-left: 217px;
        margin-top: -57px;
    }
}

@media screen and (max-width: 320px) {
    .form-control[_ngcontent-c7][_ngcontent-c7] {
        width: 100%;
    }

    #p-1[_ngcontent-c7][_ngcontent-c7][_ngcontent-c7] {
        margin-left: 197px;
        margin-top: -52px;
    }
}
.m-close{
    float: right;
}
.m-select{
    border-radius: 4px;
    height: 34px;
}
.m-sharelabel{
    display: inline;
}
@media only screen and (max-width: 768px) {
    .m-sharelabel{
        display: block;
    }
}