<br/><br/>
<div class="row" style="margin: 15px;">
    <form #form="ngForm" (submit)="submitForm(form)" novalidate>
        
        <div class="form-group" [class.has-error]="postName.invalid && postName.touched">
            <label class="control-label">Post Name</label>
            <input #postName="ngModel" required minlength="20" maxlength="150" type="text" class="form-control" name="postName" 
                [(ngModel)]="model.postName">
            <div *ngIf="postName.invalid && postName.touched" class="alert alert-danger" >
                Post Name is required with 20 characters minimum and 150 characters maximum.
            </div>
        </div>
        <div class="form-group" [class.has-error]="hasBranchError">
            <label class="control-label">Post Branch</label>
            <select class="form-control" #branch="ngModel" name="branch" (blur)="validateBranch(branch.value)"
            (change)="validateBranch(branch.value)" required
                [(ngModel)]="model.branch"  (change)="callType(branch.value)">
                <option value="" selected disabled>Select Branch...</option>
                <option *ngFor="let branch of branches" [value]="branch"  >
                    {{ branch }}
                </option>     
            </select>
        </div> 
        <!-- <div class="form-group" [class.has-error]="branch.invalid && branch.touched">
            <label class="control-label">Post Branch</label>
                <select #branch="ngModel" id="branch" required name="branch" [(ngModel)]="model.branch" class="form-control" (change)="callType(branch.value)">
                        <option value="default">Select a Branch ...</option>  
                        <option *ngFor="let branch of branches" [value]="branch">
                              {{ branch }}
                          </option>               
               </select>
            <div *ngIf="branch.invalid && branch.touched" class="alert alert-danger" >
                    Branch is required.
                </div>
        </div> -->
          <div class="form-group" [class.has-error]="description.invalid && description.touched">
            <label>Post Description</label>
            <p style="font-size: 13px">Guide to Input Math Equations: <a href="https://math.meta.stackexchange.com/questions/5020/mathjax-basic-tutorial-and-quick-reference" target="_blank">Click Here</a></p> 
            <quill-editor #description="ngModel" required  name="model.description" style="height: 250px" 
            [(ngModel)]="htmlContent" [(ngModel)]="model.description"></quill-editor>
            <div *ngIf="description.invalid && description.touched" class="alert alert-danger" >
                Description is required.
            </div>
        </div>
        <!-- <div class="form-group3">
            <label>Post tag</label>
            <input #model.tag="ngModel" type="text" required class="form-control" name="model.tag" 
                [(ngModel)]="model.tag"  placeholder="Tag related to your post Ex:java, vlsi, power systems">
            <div *ngIf="model.tag.invalid && model.tag.touched" class="alert alert-danger" style="width: 538px">
                tag is required.
            </div>
        </div> -->
        
        <!-- <div class="form-group" [class.has-error]="tag.invalid && tag.touched">
            <label class="control-label">Post tag</label>
                <select #tag="ngModel" id="tag" required name="tag" [(ngModel)]="model.tag" class="form-control m-select"
                    class="selectpicker">
                        <option value="default">Select tag ...</option>  
                        <option *ngFor="let tags of tags" >
                              {{ tags.tag }}
                          </option>               
               </select>
            <div *ngIf="tag.invalid && tag.touched" class="alert alert-danger" >
                tag is required.
                </div>
        </div> -->
        <div class="form-group" [class.has-error]="hasTagError">
            <label class="control-label">Post Tag</label>
            <select class="form-control" id="tag" #tag="ngModel" required name="tag" (blur)="validateTag(tag.value)"
            (change)="validateTag(tag.value)" required
                [(ngModel)]="model.tag"  (change)="callTypeTagId(branch.value)">
                        <option value="" selected disabled>Select tag ...</option>  
                      <option *ngFor="let tags of tags">
                    {{ tags.tag }}
                </option>    
            </select>
        </div>
        <!-- fileupload -->
        
        <!-- <div *ngIf="fileuploaded"> 
            <p>File uploaded sucessful</p>
        </div>
        <div *ngIf="uploadError">
            <p style="color:red">Please retry the upload</p>
        </div>
        
        <label class="btn btn-default" id="uploadinput">
            <input type="file" (change)="selectFile($event)" accept=".pdf,.doc,.docx,.jpg">
        </label>
        
        <button class="btn btn-success" id="uploadbutton" [disabled]="!selectedFiles"
            (click)="upload()">Upload</button> -->
        
        <!-- fileupload -->
      
        <label>Share With</label>
      
        <div class="radio" required>
            <label class="m-sharelabel">
                <input type="radio" required name="sharewith" value="public" checked
                    [(ngModel)]="model.sharewith">
                Public &nbsp;<kbd>with community </kbd>
            </label>
        <!-- </div> -->
        <!-- <div class="radio"> -->
            <label class="m-sharelabel" style=" margin-left: 7px;">
                <input type="radio" required name="sharewith" value="private"
                    [(ngModel)]="model.sharewith">
                Private &nbsp;<kbd>with SkillPractical Team </kbd>
            </label>
        </div>
        
        <br/>
        <button class="btn btn-primary" [disabled]="form.invalid" type="submit">Post your query</button>
        <button type="button" class="btn btn-default m-close" data-dismiss="modal" (click)="closemodel(form)" #closeBtn>Close</button>
       <!-- File Upload -->
        <!-- <button type="button" class="btn btn-default m-close" [disabled]="!form.invalid" data-dismiss="modal" (click)="closemodel(form)" #closeBtn>Close</button> -->
    </form>
<!-- <div *ngIf="postAdded">
  <h1>Add Post Success!</h1>
</div> -->
</div>

