<div class="container-fluid m-btngrp">
    <div class="container">
        <div class="row">
          <div class="col-md-9 m-left">
            <div id="sample" class="btn-group btn-group-sm">
              <label *ngFor="let usercount of usercount" style="color: white;float: left;">Members
                <span class="badge">{{usercount.usercount}}</span>
              </label>
              <button id="a-1" class="btn btn-default" [class.active]="filterBy==='all'" (click)="filterByall()">All</button>
              <button class="btn btn-default" [class.active]="filterBy==='electrical'" (click)="filterByelectrical()">Electrical</button>
              <button class="btn btn-default" [class.active]="filterBy==='electronics'" (click)="filterByelectronics()">Electronics</button>
              <button class="btn btn-default" [class.active]="filterBy==='computerscience'" (click)="filterBycomputerscience()">Computer Science</button>
              <button class="btn btn-default" [class.active]="filterBy==='civil'" (click)="filterBycivil()">Civil</button>
              <button class="btn btn-default" [class.active]="filterBy==='mechanical'" (click)="filterBymechanical()">Mechanical</button>
              <button class="btn btn-default" [class.active]="filterBy==='other'" (click)="filterByother()">Other</button>
    
            </div>
          </div>
          <div class="col-md-3 m-right">
    
            <div _ngcontent-c4="" class="input-group">
              <input _ngcontent-c4="" class="form-control ng-untouched ng-pristine ng-valid m-input" placeholder="Post Search {{selectedbranch}}.." [(ngModel)]='listFilter'
                type="text">
              <span _ngcontent-c4="" class="input-group-addon" id="basic-addon1">
                <i _ngcontent-c4="" aria-hidden="true" class="fa fa-search"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
</div>
<div class="container-fluid m-mobpad">  
  <div class="container">
    <div class="row m-rpad">
      <div class=col-md-8>

      </div>
      <div class="col-md-4">

        <div id="post">
          <a class="btn icon-btn btn-success btn-sm" data-toggle="modal" data-target="#newPostModal">
            <span class="glyphicon btn-glyphicon glyphicon-plus img-circle text-success">
            </span> Ask Question</a>
          <a class="btn icon-btn btn-success btn-sm" [routerLink]="['/community/myposts']">
            <span class="glyphicon btn-glyphicon glyphicon glyphicon-align-justify img-circle text-success">
            </span> My Posts</a>
          <a class="btn icon-btn btn-success btn-sm" [routerLink]="['/community/myanswers']">
            <span class="glyphicon btn-glyphicon glyphicon glyphicon-align-justify img-circle text-success">
            </span> My Answers</a>
        </div>
      </div>
    </div>
  </div>
  <div class="container m-padcontainer">
    <div class="row">
      <div class="col-md-8">
        <div class="shome">
          <br/>
          <div>
            <div id="sample 1" class="btn-group btn-group-sm m-newest">
              <!--<button style="background:none;border:none;margin:0;padding:0;color:green;margin-left: 100px" class="btn btn-default"  [class.active]="filterBy==='all'" (click)="filterByall()">All</button> -->
              <button class="btn btn-default" [class.active]="filterBy==='newest'" (click)="filterBynewest()">Newest</button>
              <button class="btn btn-default" [class.active]="filterBy==='unanswered'" (click)="filterByunanswered()">Unanswered</button>
              <button class="btn btn-default" [class.active]="filterBy==='suggested'" (click)="filterBysuggested()">Suggested</button>
              <button class="btn btn-default" [class.active]="filterBy==='lastweek'" (click)="filterBylastweek()">Lastweek</button>
              <button class="btn btn-default" [class.active]="filterBy==='starred'" (click)="filterBystarred()">Starred
                <span style="color: orange" class="glyphicon glyphicon-star"></span>
              </button>
            </div>

            <!-- <div *ngFor="let post of post | postsFilter:listFilter | async | paginate: { id: 'pagination-div', itemsPerPage: itemsPerPage, currentPage: p, totalItems: total }">
              <post-list [post]="post"></post-list>
            </div>

            <div class="has-text-centered">
                <div class="spinner" [ngClass]="{ 'hidden': !loading }"></div>
                <pagination-controls (pageChange)="getPage($event)" id="pagination-div"></pagination-controls>
              </div>                         -->
          

              
            <div *ngFor="let post of post | postsFilter:listFilter | paginate: { itemsPerPage: 20 , currentPage: p };">
                <post-list [post]="post"></post-list>
              </div>
  <pagination-controls class="pagination" (pageChange)="p = $event"></pagination-controls>
  

            <div class="modal fade" id="newPostModal" role="dialog" data-backdrop="static" data-keyboard="false">
              <div class="modal-dialog modal-md container">
                <div class="modal-content">
                  <div class="modal-header">

                    <h4 class="modal-title">Ask your Question
                    </h4>

                  </div>
                  <div style="margin-top: -44px;" class="modal-body">
                    <add-post></add-post>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-md-4 m-trending">

        <h4 style="text-align: center;padding-bottom:15px" *ngIf="dontshowrelatedtags"> Related Tags </h4>

        <posts-tag-by-branch [tagbybranch]="tagbybranch" style="margin-bottom:20px;"></posts-tag-by-branch>

        <h4 style="text-align: center;padding-bottom:0px"> Trending Posts </h4>


        <posts-trending [post]="posttrending" style="margin-bottom:20px;"></posts-trending>


        <h4 style="text-align: center;padding-bottom:0px;padding-top:30px"> Trending Projects </h4>


        <projects-trending [projects]="projectstrending"></projects-trending>

      </div>
    </div>
  </div>
</div>

<!-- <go-top-button   [animate]="true"
[speed]="50"
[acceleration]="2"
[scrollDistance]="300"
[styles]="{
   'border-radius': '20px 20px 20px 20px',
   'right': '5px',
   'color': 'green',
   'border': '5px solid',
   'line-height': '20px'
}">
<i class=\'fa fa-arrow-up\'></i>
</go-top-button> -->