.shome { width:100%;
}
#sample {
    
}
#post {
    float: right;
    margin-top: 15px;
    padding-right: 0px;
    right: 0px;
}
.btn-group btn-group-sm {
    margin-top:-20px; margin-left: 50px;position:relative;
}

.btn btn-default {
    background:none;border:none;margin:0;padding:0;color:orange;margin-left: 80px;outline:none;
}
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    padding: 5px 10px !important;
    margin-bottom: 8px;
    margin-right: 10px;
    border-radius: 25px !important;
    margin-left: 4px !important;
}

#a-1 {
    background: none;
    border: none;
    margin: 0;
    padding: 7px;
    color: orange;
    padding: 5px 23px !important;
    outline: beige;
    border: 1px solid white;
    margin-right: 8px;
}

#search {
    position: absolute;
    top: 7px;
    right: 7em;
}

.modal-title {
    margin-left: 7px;
}

.m-btngrp{    
    margin-top: 23px;
    padding: 10px 0px 3px 0px;   
    position:fixed;
    width:100%;
    background: #3A4255;
    z-index: 5;
    
}

input{
    border-radius: 25px;
    padding: 3px 10px;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.m-newest{

    margin-bottom: 15px;
}
.m-trending{
    margin-top: 11px;
}
.msg-pad{
    padding-left:26px;
}
.m-rpad{
    margin-top:6em;
   
}
.text-success {
    color: #ffffff;
}
.btn-default:active {
    outline: none;
    border: none;
    }
    
    .btn-default:focus {outline:0;}
    @media only screen and (max-width: 768px) {
        .m-rpad{
            margin-top: 14em;           
        }
        .m-mobpad{
            padding-left:0px;
            padding-right:0px;
        }
        .m-btngrp{    
            margin-top: 16px;
            padding: 14px 0px 3px 0px;   
            position:fixed;
            width:100%;
            background: #3A4255;
            z-index: 5;
            
        }

        #post {
            float: right;    
            margin-top: -5px;
            padding-right: 0px;
            right: 0px;
        }
    }
    .m-padcontainer{
        padding-right:0px;
        padding-left:0px;
    }
    .m-left{
        padding-left:0px;
    }
    .m-right{
        padding-right:0px;
    }
    .input-group-addon{
        padding: 6px 12px;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.6 !important;
        color: #fff;
        text-align: center;
        background-color: #192639;
        border: 1px solid #192639;
        border-radius: 4px;
    }
    .m-input{
        border-radius: 4px;
    }

@media (min-width: 992px){
    .col-md-4 {
        width: 30.333333%;
    }
}