
/* .editor{
    height: 114px;
     min-height: 0px;
} */
.communitycolumns {
    padding-left: 37px;
    width: 68%;
    margin-top: -11px;
}
.row {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
  }
.hr1 {
    margin-top: 5px;
    margin-bottom: 7px;
}
  .author {
    margin-left: 436px;
  }
  .comment {
      font-size: 12.5px;
  }
  .btn{
    padding: 9px 15px;
    margin-bottom: 24px;
  }
  .commentsubmitbutton {
      padding-left: 10px;
  }

  .form-control {
    height: 150px;
    margin-left: -7px; 
  }

  .ui.grid>[class*="two wide"].column {
    width: 17.5%!important;
}

  @media screen and (max-width: 414px) {
    .form-control[_ngcontent-c6][_ngcontent-c6] {
        height: 161px;
    }

    .author[_ngcontent-c6] {
        margin-left: 1px;
    }

    .ui.grid>[class*="two wide"].column {
        width: 21.5%!important;
    }

    .communitycolumns[_ngcontent-c6] {
        padding-left: 37px;
        width: 93%;
        margin-top: -11px;
    }
  }

  @media screen and (max-width: 375px) {
  .form-control[_ngcontent-c5][_ngcontent-c5] {
      height: 151px;
      margin-left: -7px;
  }

  .communitycolumns[_ngcontent-c6][_ngcontent-c6] {
    padding-left: 37px;
    width: 101%;
    margin-top: -11px;
}
}

@media screen and (max-width: 360px) {
    .communitycolumns[_ngcontent-c6][_ngcontent-c6][_ngcontent-c6] {
        padding-left: 37px;
        width: 106%;
        margin-top: -11px;
    }
}
.m-txt{
    padding-bottom:10px;
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #00000030;
}
