
.shome { width:100%;margin-top: 22px;
}

#post {
    float:right;margin:10px;padding-right:12px;
}
.btn-group btn-group-sm {
    margin-top:-20px; margin-left: 50px;position:relative;
}

.btn btn-default {
    background:none;border:none;margin:0;padding:0;color:orange;margin-left: 80px;outline:none;
}
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    padding: 5px 10px !important;
    margin-bottom: 8px;
    margin-right: 10px;
    border-radius: 25px !important;
    margin-left: 4px !important;
}

#a-1 {
    background: none;
    border: none;
    margin: 0;
    padding: 7px;
    color: orange;
    padding: 5px 23px !important;
    outline: beige;
    border: 1px solid white;
    margin-right: 8px;
}

#search {
    position: absolute;
    top: 7px;
    right: 7em;
}

.modal-title {
    margin-left: 7px;
}

.m-btngrp{
    background: #3A4255;
    margin-top: 23px;
    padding: 10px 0px 3px 0px;
    text-align: center;
    margin-left: -15px;
    margin-right: -15px;
}

input{
    border-radius: 25px;
    padding: 3px 10px;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.m-newest{
    margin-left: 20px;
    margin-bottom: 15px;
}
.m-trending{
    margin-top: 24px;
}
.msg-pad{
    padding-left:26px;
}
.m-rpad{
    margin-top:56pt;
   
}
.text-success {
    color: #ffffff;
}
.btn-default:active {
    outline: none;
    border: none;
    }
    
    .btn-default:focus {outline:0;}

    .m-share .fa{
padding-bottom: 10px;
    }
    .m-share{

        margin-top:6px;
    }
    .m-ui{
        padding-bottom: .25rem;
        border-bottom: 1px solid rgba(0,0,0,.1);
        margin-top: 40px !important;
    }
  
   .m-anspad2{
       padding-left: 0px;
       padding-right: 0px;
   }
   .m-btn{
    background: none;
    border: 1px solid #192639;
    border-radius: 25px;
    padding: 6px 14px;
   }
   .m-hr{
    margin-top: 14px;
    margin-bottom: 2px;
   }
   .m-sharelist{
       font-size:12px;
   }
   @media only screen and (min-width: 1024px) {
    .m-center{
        text-align:center;        
    }
    .m-str{
        margin-left:-18px;
    }
}
@media only screen and (max-width: 768px) {
    .m-center{
        margin-top:10px;      
    }
}
.m-lrpad{
    padding-left:0px;
    padding-right:0px;
}

