<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
<div class="ui text row">
  <div>
    <h4 class="ui dividing header">Answers</h4>
    <div *ngFor="let comment of comment">
      <div class="text m-txt" class="mathjax">
        <p style="white-space: pre-line;text-align:justify" [innerHTML]="comment.content"> {{comment.content}} </p>
      </div>
      <span *ngIf="userid == comment.userid">
        <button   data-toggle="modal" data-target="#deletePostModal" (click)="deleteComment(comment.commentId)">Delete</button>
        <!-- <div class="modal fade"  id="deletePostModal">
            <div class="modal-dialog" role="dialog">
              <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"> Alert for post delete 
                      </h4>
                  <button type="button" class="close" #closeBtn  data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>Do you Want to delete post?</p>
                </div>
                <div class="modal-footer">
                    <a>
                        <button class="btn btn-pm" data-dismiss="modal">No</button>
                    </a>
                    <a >
                        <button  class="btn btn-sc" (click)="deleteComment(comment.commentId)">Yes</button>
                    </a>
                </div>
              </div>
            </div>
          </div> -->
      </span>
      <strong>
        <span>by
          <a>{{comment.username}} </a>
        </span>|
        <span>{{comment.created }}</span>
      </strong>
      <hr>
    </div>
    <br>
    <div class="">
      <div class="fourteen wide column">
        <form #form="ngForm" (submit)="submitForm(form)" novalidate >
          <div class="form-group" [class.has-error]="content.invalid && content.touched">
            <p style="font-size: 13px">Guide to Input Math Equations: <a href="https://math.meta.stackexchange.com/questions/5020/mathjax-basic-tutorial-and-quick-reference" target="_blank">Click Here</a></p> 
            <quill-editor  #content="ngModel" type="text" 
            [(ngModel)]="htmlContent" required  
              name="content" [(ngModel)]="model1.content"></quill-editor>
               
            <small *ngIf="content.invalid && content.touched" class="text-danger">
              Comment is required
            </small>
          
          </div>
         
          <button (click)="onclickComment()" class="btn btn-primary" type="submit" [disabled]="form.invalid" [disabled]="!isValidForm()" >
            <p>Comment</p>
          </button>
       
        </form>
      </div>
      
    </div>
  </div>
 
</div>


<!-- data-toggle="modal" data-target="#myModal"  call with this. -->
 <!-- Modal -->
 <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">MathJax Guide</h4>
        </div>
        <div class="modal-body">
         <mathjax-guide></mathjax-guide>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>