
.btn-glyphicon { padding:8px; background:#ffffff; margin-right:4px; }
.icon-btn { padding: 1px 15px 3px 2px; border-radius:50px;}

.label-info {
    background-color: #d4d4d5;
    padding: 3px 8px;
    border-radius: 20px;
}
.mailbox-subject{
    display:inline-block;
    font-size: 13px;
   white-space: nowrap;
   overflow: hidden;
   width:90%;
   text-overflow: ellipsis;
}
.m-fa .fa{
    padding: 7px 7px 7px 0px;
}
.m-fa-a{
    text-decoration: none;
}
.m-fa{
    font-size: 12px;
}
hr {
    margin-top: 15px;
    margin-bottom: 15px;
}
.m-tag{
    background-color: #d4d4d5;
    padding: 3px 8px;
    border-radius: 20px;
    display:inline-block;
}
