<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


<!--style="width: 800px;"-->

   <div>
     <div style="padding-bottom:2px;font-size:14px;">
       <a (click)="onclickViewsCount(post.postid)" [routerLink]="['/community/postdetail', post.postid,post.tag]" class="m-fa-a"> 
         {{post.postName | capitalize}}</a> 
     </div>
   </div>
   <div>
     <div >      
       <p class="mailbox-subject" style="font-size:14px;" [innerHTML]="post.description">
        {{post.description | capitalize}}
       </p>
     </div>
   </div>

   <div>
     <div>
       <div  class="m-fa">
         <i class="fa fa-user-circle-o"></i> by <font color="#3366BB">{{post.username}}</font>
         | <i class="fa fa-calendar"></i> <font color="#6a737c"> {{post.Created | date: 'shortDate'}}</font> 
         <!--| <i class="fa fa-thumbs-up"></i> <a href="#">{{post.likes}} Likes</a>-->
         | <i class="fa fa-comments"></i> <font color="#6a737c">{{post.commentcount}} Answers </font>
         | <i class="fa fa-share-alt"></i> <font color="#6a737c"> {{post.shares}} Shares </font>
         | <i class="fa fa-eye"></i> <font color="#6a737c"> {{post.views}} </font>
         <tooltip-content #myTooltip>
            View posts related to {{post.tag}}.
          </tooltip-content>| 
         <i class="icon-tags"></i> Tags : 
              <a  [tooltip]="myTooltip" [routerLink]="['/community/postsbytag', post.tag]" class="m-fa-a m-tag">
                {{post.tag}}</a> 
              </div>   
       <hr>     
     </div>  
   </div>





