<div class="container">
    <div class="row m-rpad">
      <div class="col-md-8 m-anspadn m-lrpad">
        <button (click)="goBack()" type=""  class="m-btn">
          <!-- <p>Main Page</p> -->
          Back
          <span class="glyphicon glyphicon-chevron-left"></span>
        </button>
       
      </div>
      <div class="col-md-4 m-center m-lrpad">
        <a class="btn icon-btn btn-success" data-toggle="modal" data-target="#newPostModal">
          <span class="glyphicon btn-glyphicon glyphicon-plus img-circle text-success">
          </span>Ask Question
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 m-anspad m-lrpad">
        <div class="" *ngIf="post">
          <div class=" pointer" style="cursor:pointer">
            
          </div>
          <div class="m-str" style="font-size:18px;cursor:pointer;">
              <i *ngIf='checksavedpostid == ""' class="glyphicon glyphicon-star-empty" style="font-size:20px;
              margin-top: 10px;" (click)="savepost()"></i>
               <i *ngIf='checksavedpostid != ""' class="glyphicon glyphicon-star" style="color: orange;font-size:20px;
              margin-top: 7px;" (click)="unsavepost()"></i>
            {{post.postName | capitalize}}
            <hr class="m-hr">
          </div>
         
          <div style="font-size: 13.5px;line-height: 19px;white-space: inline-block;text-align:justify;" [innerHTML]="post.description">
            {{post.description | capitalize}}
          </div>
          <div class="panel-body" *ngIf="attachment">
            <a href="{{post.signedUrl1}}" class="btn btn-link" target="_blank">
              Attachments
            </a>
          </div>
          <div class="col-md-12 m-share m-anspad2 m-sharelist">
            <i class="fa fa-comments"></i>
            <font color="#6a737c">{{post.commentcount}} Answers </font> |
            
            <i class="fa fa-share-alt"></i>
            <font color="#6a737c"> {{post.shares}} Shares </font> |
           
            <i class="fa fa-eye"></i>
            <font color="#6a737c"> {{post.views}} </font> | 
            <i class="fa fa-user-circle-o"></i> by
              <font color="#3366BB">{{post.username}}</font> | 
              <i class="fa fa-calendar"></i>
              <font color="#6a737c"> {{post.Created | date: 'shortDate'}}</font> | 
              <i class="icon-tags"></i> Tags :
            <a [routerLink]="['/community/postsbytag', post.tag]">
              <span class="label label-info">
                {{post.tag}}</span>
            </a>
        
          </div>       
          
          <div class="col-md-12 m-anspad2">
              <share-buttons (click)="onclicksharecount()" [tumblr]="false" [pinterest]="false" [stumbleUpOn]="false" [reddit]="false" [url]="linkToShare" [title]="title"
                [description]="description" [image]="image"></share-buttons>
            </div>
          <div class="col-md-12 m-anspad2">
            <post-comments [post]="post"  class="m-ui"></post-comments>
          </div>
        </div>
        <br/>
        <div>
          <div class="modal fade" id="newPostModal" role="dialog" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-md">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Create New Post
                  </h4>
                </div>
                <div style="margin-top: -44px;" class="modal-body">
                  <add-post></add-post>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 m-trending">
          <h3 style="text-align: center"> Related Posts </h3>
      
          <posts-by-tag-inpostdetail [tag]="tag"></posts-by-tag-inpostdetail>
      
          <h3 style="text-align: center"> Related Projects</h3>
      
          <projects-by-subject-inpostdetail [subject]="tag"></projects-by-subject-inpostdetail>
      
        </div>
    </div>
   
    <div class="modal fade" id="newPostModal" role="dialog" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog modal-md">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Ask your Question
            </h4>
          </div>
          <div style="margin-top: -44px;" class="modal-body">
            <add-post></add-post>
          </div>
        </div>
      </div>
    </div>
  