<div *ngFor="let usertasksdata of usertasksdata">
    
             <li id="usertask">
               <a class="mailbox-subject m-question"  >{{usertasksdata.task_name | capitalize}}</a>
              
               <a data-toggle="modal" style="float:right" class="viewdetail m-detail"
               (click)="clickViewDetail(usertasksdata.task_id,usertasksdata.task_name,usertasksdata.task_description,usertasksdata.task_pdf_link,usertasksdata.duedate,usertasksdata.status)" 
               data-target="#myModal"> View detail</a> <br>
               <kbd class="Duedate m-dte">Due</kbd>&nbsp;:&nbsp;{{usertasksdata.duedate}}</li>
    </div>
    
    <div class="viewallbutton">
    <button  type="button" class="btn btn-info" [routerLink]="['/viewalltasks']">Alltasks </button>
    </div>
      
       <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
                      <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" >&times;</button>
                            <h4 style="margin-left: 390px;" class="modal-title">Task Details</h4>
                          </div>
                          <div class="modal-body">
                            <task-detail [task_id]="task_id" [task_name]="task_name" [task_description]="task_description" [task_pdf_link]="task_pdf_link" [duedate]="duedate" [status]="status"></task-detail>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal" #closeBtn>Close</button>
                          </div>
                        </div>
                      </div>
        </div>
      
     <!-- {{usertasksdata}} -->