/* ol.c {list-style-type: number
    ;} */
    
    .mailbox-subject{
        display:inline-flex;  /*  inline-block will display dots(...). But no proper line with front dot*/
       width:100%;
       white-space: nowrap;
       overflow: hidden;
       text-overflow: ellipsis;
   }
   .Duedate {
    padding: 2px 4px;
    font-size: 90%;
    color: #fff;
    background-color: #5bc0de;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.25);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.25);
   }
   .viewallbutton {
    float: right;
    font-family: cursive;
    cursor: pointer; 
    padding-top: 1em;
    padding-right: 1em;
    /* position: absolute; */
}
   #usertask {
    color: #000;
    border: 2px solid #ccc;
    border-radius: 12px;
    padding: 12px;
    list-style: none;
    margin-top: 10px;
    height: auto;
    padding-bottom: 23px;
   }

   .modal-title {
    margin-left: 390px;
   }

   @media screen and (max-width: 414px) {
    #usertask[_ngcontent-c5] {
        color: #000;
        border: 2px solid #ccc;
        border-radius: 12px;
        padding: 12px;
        height: auto;
       padding-bottom:23px;
    }

    .mailbox-subject[_ngcontent-c5] {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        width: 93%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    .modal-title {
        margin-left: 116px;
    }
    
}

@media screen and (max-width: 375px) {
    .mailbox-subject[_ngcontent-c5][_ngcontent-c5] {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        width: 87%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media screen and (max-width: 360px) {
    .mailbox-subject[_ngcontent-c5][_ngcontent-c5][_ngcontent-c5] {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        width: 85%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
}

.m-dte{
margin-top: 8px;
}
.m-detail{
    background: #5bc0de85;
    color: rgba(0, 0, 0, 0.85);
    padding: 7px 9px;
    border-radius: 25px;
    margin-left: 3px;
    cursor: pointer;
    text-decoration: none;
}
.m-question{
    color: #000;
    pointer-events: none;
    font-size: 14px;
    padding-bottom: 10px;
    font-weight: 500;
    letter-spacing: 1px
}
  
   