.tableheading{
    background-color: grey;
    
}
.tasknameheading {
    color: #ffffff;
}
.taskdescriptionheading {
    color: #ffffff;
}
.taskstatusheading {
    color: #ffffff;
}
.taskname {
    width: 20%;
}
.taskdescription{
    width: 60%;
    text-align: justify;
    white-space: pre-line;
    color:black
}
.Due-Status {
    width: 10%;
}
.Status {
    width: 10%;
}
.table .thead-dark th {
    color: #fff;
    background-color: #162c4c;
    border-color: #ffffff;
    padding: 15px 13px;
    font-size: 16px;
   
}
.table-bordered {
    border: 1px solid #ddd;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 12px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}
.m-margin{
    margin-top:30pt;
}
