<br/>
<div class="container-fluid">
<div class="col-md-12 m-margin">

    <table class="table table-bordered table-hover custab">
        <thead>
          
            <tr class="thead-dark">
                <th class="tasknameheading">Name</th>
                <th class="taskdescriptionheading">Description</th>
                <th class="taskstatusheading">Due Status</th>
                <th>Status</th>
                
            </tr>
        </thead>
        <tbody>
                <tr *ngFor="let usertasksdata of usertasksdata | paginate: { itemsPerPage: 2, currentPage: p };">
                    <td class="taskname">{{usertasksdata.task_name}}</td>
                    <td class="taskdescription">{{usertasksdata.task_description}}</td>
                    <td class="taskstatus">{{usertasksdata.status}}</td>
                    <td class="taskstatus">{{usertasksdata.status}}</td>
                </tr>
        </tbody>
      
        </table>
        <div class="text-center"><pagination-controls (pageChange)="p = $event"></pagination-controls></div>
</div>
</div>